<div class="breadcrumbs">
	<a href="#" class="breadcrumbs__link">Grohe</a>
	<span class="breadcrumbs__sep">/</span>
	<span class="breadcrumbs__text">категории</span>
</div>
<div class="instructions-main">
	<h1 class="title">
		Категории товаров Grohe
	</h1>
	<!-- /.instructions-main__title -->
	<div class="instructions-main__items">
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/smes.png" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="https://gr-russia.ru/catalog/group/grohe-spa/" class="instructions-main__title">Ванная Grohe SPA</a>
				<!-- /.instructions-main__title -->
				<a href="https://gr-russia.ru/catalog/group/grohe-spa/" class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/dush.png" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="https://gr-russia.ru/catalog/group/vannaya-komnata/" class="instructions-main__title">Ванная комната</a>
				<!-- /.instructions-main__title -->
				<a href="https://gr-russia.ru/catalog/group/vannaya-komnata/" class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/term.png" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="https://gr-russia.ru/catalog/group/tualetnaya-komnata/" class="instructions-main__title">Туалетная комната</a>
				<!-- /.instructions-main__title -->
				<a href="https://gr-russia.ru/catalog/group/tualetnaya-komnata/" class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/install.png" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="https://gr-russia.ru/catalog/group/kukhnya/" class="instructions-main__title">Кухня</a>
				<!-- /.instructions-main__title -->
				<a href="https://gr-russia.ru/catalog/group/kukhnya/" class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->

	</div>
	<!-- /.instructions-main__items -->
</div>
