<div class="category">
	<div class="category-container container">
		<div class="swiper-wrapper category__items">
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/smes-van.png')">
				<span class="category__caption">
					Смесители для ванной
				</span>
				<!-- /.category__caption -->
				<span class="category__desc">
					Легкость в управлении и эстетичный внешний вид.
				</span>
				<!-- /.category__desc -->

				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/smes-kuh.png')">
				<span class="category__caption">
					Смесители для кухни
				</span>
				<!-- /.category__caption -->
				<span class="category__desc">
					Подача питьевой газированной и горячей воды.
				</span>
				<!-- /.category__desc -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/smes-bide.png')">
				<span class="category__caption">
					Смесители для биде
				</span>
				<!-- /.category__caption -->
				<span class="category__desc">
					Практичное решение для туалетной комнаты
				</span>
				<!-- /.category__desc -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/dushi.png')">
				<span class="category__caption">
					Души
				</span>
				<!-- /.category__caption -->
				<span class="category__desc">
					Элегантный дизайн и простота эксплуатации.
				</span>
				<!-- /.category__desc -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/termostat.png')">
				<span class="category__caption">
					Термостаты
				</span>
				<!-- /.category__caption -->
				<span class="category__desc">
					Всегда безопасное и комфортное принятие душа.
				</span>
				<!-- /.category__desc -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/install.png')">
				<span class="category__caption">
					Системы инсталляции
				</span>
				<!-- /.category__caption -->
				<span class="category__desc">
					Рациональное использование пространства ванной
				</span>
				<!-- /.category__desc -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
		</div>
		<!-- /.swiper-wrapper category__items -->
	</div>
	<!-- /.category-container -->
	<div class="swiper-pagination category-pagination"></div>
</div>
<!-- /.category -->
