<div class="js-compare_page comparison">
	<h1 class="title">Сравнение</h1>

	<div class="fixed-header">
		<h3 class="title">Сравнение</h3>
		<div class="swiper-button-prev fixed-header-prev special-offers_prev"></div>
		<div class="swiper-button-next fixed-header-next special-offers_next"></div>
		<div class="swiper-pagination"></div>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a class="fixed-header__pic" href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000">

						<picture>

							<source type="image/webp"
								data-srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
								srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

							<img data-src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
								alt="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__img lazyloaded"
								src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
						</picture>

					</a>
					<a href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__text">Смеситель для кухни
						GROHE Blue
						31455000</a>
					<span class="catalog__presence">В наличии</span>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400
							<i class="special-offers__rub">руб.</i>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax="" class="special-offers__buy"></a>
					</div>
				</div>
				<div class="swiper-slide">
					<a class="fixed-header__pic" href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000">

						<picture>

							<source type="image/webp"
								data-srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
								srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

							<img data-src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
								alt="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__img lazyloaded"
								src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
						</picture>

					</a>
					<a href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__text">Смеситель для кухни
						GROHE Blue
						31455000</a>
					<span class="catalog__presence">В наличии</span>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400
							<i class="special-offers__rub">руб.</i>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax="" class="special-offers__buy"></a>
					</div>
				</div>
				<div class="swiper-slide">
					<a class="fixed-header__pic" href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000">

						<picture>

							<source type="image/webp"
								data-srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
								srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

							<img data-src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
								alt="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__img lazyloaded"
								src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
						</picture>

					</a>
					<a href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__text">Смеситель для кухни
						GROHE Blue
						31455000</a>
					<span class="catalog__presence">В наличии</span>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400
							<i class="special-offers__rub">руб.</i>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax="" class="special-offers__buy"></a>
					</div>
				</div>
				<div class="swiper-slide">
					<a class="fixed-header__pic" href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000">

						<picture>

							<source type="image/webp"
								data-srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
								srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

							<img data-src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
								alt="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__img lazyloaded"
								src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
						</picture>

					</a>
					<a href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__text">Смеситель для кухни
						GROHE Blue
						31455000</a>
					<span class="catalog__presence">В наличии</span>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400
							<i class="special-offers__rub">руб.</i>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax="" class="special-offers__buy"></a>
					</div>
				</div>
				<div class="swiper-slide">
					<a class="fixed-header__pic" href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000">

						<picture>

							<source type="image/webp"
								data-srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
								srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

							<img data-src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
								alt="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__img lazyloaded"
								src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
						</picture>

					</a>
					<a href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__text">Смеситель для кухни
						GROHE Blue
						31455000</a>
					<span class="catalog__presence">В наличии</span>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400
							<i class="special-offers__rub">руб.</i>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax="" class="special-offers__buy"></a>
					</div>
				</div>
				<div class="swiper-slide">
					<a class="fixed-header__pic" href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000">

						<picture>

							<source type="image/webp"
								data-srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
								srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

							<img data-src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
								alt="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__img lazyloaded"
								src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
						</picture>

					</a>
					<a href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__text">Смеситель для кухни
						GROHE Blue
						31455000</a>
					<span class="catalog__presence">В наличии</span>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400
							<i class="special-offers__rub">руб.</i>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax="" class="special-offers__buy"></a>
					</div>
				</div>
				<div class="swiper-slide">
					<a class="fixed-header__pic" href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000">

						<picture>

							<source type="image/webp"
								data-srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
								srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

							<img data-src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
								alt="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__img lazyloaded"
								src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
						</picture>

					</a>
					<a href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__text">Смеситель для кухни
						GROHE Blue
						31455000</a>
					<span class="catalog__presence">В наличии</span>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400
							<i class="special-offers__rub">руб.</i>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax="" class="special-offers__buy"></a>
					</div>
				</div>
				<div class="swiper-slide">
					<a class="fixed-header__pic" href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000">

						<picture>

							<source type="image/webp"
								data-srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
								srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

							<img data-src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
								alt="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__img lazyloaded"
								src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
						</picture>

					</a>
					<a href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__text">Смеситель для кухни
						GROHE Blue
						31455000</a>
					<span class="catalog__presence">В наличии</span>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400
							<i class="special-offers__rub">руб.</i>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax="" class="special-offers__buy"></a>
					</div>
				</div>
				<div class="swiper-slide">
					<a class="fixed-header__pic" href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000">

						<picture>

							<source type="image/webp"
								data-srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
								srcset="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

							<img data-src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
								alt="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__img lazyloaded"
								src="https://gr-russia.ru//upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
						</picture>

					</a>
					<a href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
						title="Смеситель для кухни GROHE Blue 31455000" class="fixed-header__text">Смеситель для кухни
						GROHE Blue
						31455000</a>
					<span class="catalog__presence">В наличии</span>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400
							<i class="special-offers__rub">руб.</i>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax="" class="special-offers__buy"></a>
					</div>
				</div>

			</div>
		</div>

	</div>

	<table id="compare_table" class="comparison__middle">
		<thead class="comparison__main">
			<tr class="">
				<td class="">
					<div class=" swiper__comparison_first js-comparison-height">
						<div class="comparison__inner">
							<div class="comparison-menu__title">Категория сравнения</div>
							<ul class="comparison__list">

								<li class="comparison__item">
									<a class="comparison__link js-compare_block-change " data-id="130" href="">
										<span class="comparison__text">Смесители</span>
									</a>
								</li>

								<li class="comparison__item">
									<a class="comparison__link js-compare_block-change active" data-id="132" href="">
										<span class="comparison__text">Термостаты</span>
									</a>
								</li>

							</ul>
							<span class="comparison__text">9 товаров в категории</span>
						</div>
						<div id="compare_table_button" class="comparison__button">
							<div class="comparison-menu__title">Показать</div>

							<a href="#" class="comparison__select js-comparison__select active" compare="ALL">
								<i></i>Все параметры
							</a>
							<a href="#" class="comparison__select js-comparison__select" compare="DIFF">
								<i></i>Различающиеся
							</a>

						</div>

						<a href="#" class="comparison__filter js-compare_block-clear" data-id="130">
							<i></i>Очистить список
						</a>
					</div>
				</td>
			</tr>

			<tr class="characteristic__title js-characteristic__title ">
				<td>ОБЩИЕ ХАРАКТЕРИСТИКИ</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Назначение</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Тип смесителя</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Особенности модели</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Подводка для смесителя</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Хромированная поверхность GROHE StarLight</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Тип монтажа</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Глубина монтажа (мм)</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Скрытый монтаж</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Монтаж на одно отверстие</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Монтаж на два отверстия</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Система быстрой установки</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Скрытые эксцентрики</td>
			</tr>
			<tr class="characteristic__row ">
				<td>S-образные эксцентрики</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Керамический картридж (мм)</td>
			</tr>
			<tr class="characteristic__title js-characteristic__title ">
				<td>ОСОБЕННОСТИ ИЗЛИВА</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Высота (см)</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Высота излива (см)</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Вынос (мм)</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Размер по осям (мм)</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Излив</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Аэратор</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Ограничение угла поворота SwivelStop</td>
			</tr>
			<tr class="characteristic__title js-characteristic__title ">
				<td>УПРАВЛЕНИЕ</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Управление</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Металлический рычаг</td>
			</tr>
			<tr class="characteristic__title js-characteristic__title ">
				<td>ДИЗАЙН</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Цвет</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Покрытие StarLight</td>
			</tr>
			<tr class="characteristic__title js-characteristic__title ">
				<td>ФУНКЦИОНАЛ</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Плавный ход рычага SilkMove</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Водосберегающая технология EcoJoy</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Ограничитель расхода воды</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Ограничение расхода воды (л/мин)</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Регулировка расхода воды</td>
			</tr>
			<tr class="characteristic__title js-characteristic__title ">
				<td>КОМПЛЕКТАЦИЯ</td>
			</tr>
			<tr class="characteristic__title js-characteristic__title ">
				<td>БЕЗОПАСНОСТЬ</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Ограничитель температуры</td>
			</tr>
			<tr class="characteristic__title js-characteristic__title ">
				<td>ДОПОЛНИТЕЛЬНО</td>
			</tr>
			<tr class="characteristic__row ">
				<td>Дополнительные характеристики</td>
			</tr>

		</thead>
		<tbody class="swiper-container swiper-container-comparison js-swiper-comparison">
			<tr class="products-line swiper-wrapper">

				<td class="swiper-slide">
					<div class="swiper__comparison">
						<a class="special-offers__pic"
							href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
							title="Смеситель для кухни GROHE Blue 31455000">

							<picture>

								<source type="image/webp"
									data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
									srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

								<img data-src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
									alt="Смеситель для кухни GROHE Blue 31455000" class="special-offers__img lazyloaded"
									src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
							</picture>

						</a>

						<a href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-so-slivnym-garniturom-23335000.html"
							title="Смеситель Grohe BauLoop для раковины со сливным гарнитуром 23335000"
							class="special-offers__text">Смеситель Grohe BauLoop для раковины со сливным гарнитуром
							23335000</a>
						<span class="catalog__presence">В наличии</span>
						<div class="special-offers__sale">
							<span class="special-offers__price">98 400
								<i class="special-offers__rub">руб.</i>
							</span>
							<a href="#" data-url="ajax/add-cart.html" data-ajax=""
								class="special-offers__buy">купить</a>
						</div>
					</div>
					<a href="" class="modal__close js-compare_remove active" data-id="4579" title="Закрыть">×</a>
				</td>
				<td class="swiper-slide">
					<div class="swiper__comparison">
						<a class="special-offers__pic"
							href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
							title="Смеситель для кухни GROHE Blue 31455000">

							<picture>

								<source type="image/webp"
									data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
									srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

								<img data-src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
									alt="Смеситель для кухни GROHE Blue 31455000" class="special-offers__img lazyloaded"
									src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
							</picture>

						</a>

						<a href="/catalog/category/smesiteli/smesitel-grohe-atrio-jota-dlya-bide-dn-15-24010000.html"
							title="Смеситель Grohe Atrio jota для биде DN 15 24010000" class="special-offers__text">
							Смеситель Grohe Atrio jota для биде DN 15 24010000
							Смеситель Grohe Atrio jota для биде DN 15 24010000
						</a>
						<span class="catalog__presence">В наличии</span>
						<div class="special-offers__sale">
							<span class="special-offers__price">98 400
								<i class="special-offers__rub">руб.</i>
							</span>
							<a href="#" data-url="ajax/add-cart.html" data-ajax=""
								class="special-offers__buy">купить</a>
						</div>
					</div>
					<a href="" class="modal__close js-compare_remove active" data-id="4573" title="Закрыть">×</a>
				</td>
				<td class="swiper-slide">
					<div class="swiper__comparison">
						<a class="special-offers__pic"
							href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
							title="Смеситель для кухни GROHE Blue 31455000">

							<picture>

								<source type="image/webp"
									data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
									srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

								<img data-src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
									alt="Смеситель для кухни GROHE Blue 31455000" class="special-offers__img lazyloaded"
									src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
							</picture>

						</a>
						<a href="/catalog/category/smesiteli/vnutrenniy-mekhanizm-grohe-atrio-jota-universalnyy-na-dva-otverstiya-33769000.html"
							title="Внутренний механизм Grohe Atrio jota универсальный на два отверстия 33769000"
							class="special-offers__text">Внутренний механизм Grohe Atrio jota универсальный на два
							отверстия 33769000</a>
						<span class="catalog__presence">В наличии</span>

						<div class="special-offers__sale">
							<span class="special-offers__price">98 400
								<i class="special-offers__rub">руб.</i>
							</span>
							<a href="#" data-url="ajax/add-cart.html" data-ajax=""
								class="special-offers__buy">купить</a>
						</div>
					</div>
					<a href="" class="modal__close js-compare_remove active" data-id="4571" title="Закрыть">×</a>
				</td>
				<td class="swiper-slide">
					<div class="swiper__comparison">
						<a class="special-offers__pic"
							href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
							title="Смеситель для кухни GROHE Blue 31455000">

							<picture>

								<source type="image/webp"
									data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
									srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

								<img data-src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
									alt="Смеситель для кухни GROHE Blue 31455000" class="special-offers__img lazyloaded"
									src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
							</picture>

						</a>
						<a href="/catalog/category/smesiteli/smesitel-grohe-aria-dlya-dusha-26008000.html"
							title="Смеситель Grohe Aria для душа 26008000" class="special-offers__text">Смеситель Grohe
							Aria для душа 26008000</a>

						<span class="catalog__presence">В наличии</span>
						<div class="special-offers__sale">
							<span class="special-offers__price">98 400
								<i class="special-offers__rub">руб.</i>
							</span>
							<a href="#" data-url="ajax/add-cart.html" data-ajax=""
								class="special-offers__buy">купить</a>
						</div>
					</div>
					<a href="" class="modal__close js-compare_remove active" data-id="4564" title="Закрыть">×</a>
				</td>
				<td class="swiper-slide">
					<div class="swiper__comparison">
						<a class="special-offers__pic"
							href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
							title="Смеситель для кухни GROHE Blue 31455000">

							<picture>

								<source type="image/webp"
									data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
									srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

								<img data-src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
									alt="Смеситель для кухни GROHE Blue 31455000" class="special-offers__img lazyloaded"
									src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
							</picture>

						</a>

						<a href="/catalog/category/smesiteli/smesitel-grohe-aria-dlya-bide-dn-15-24030000.html"
							title="Смеситель Grohe Aria для биде DN 15 24030000" class="special-offers__text">Смеситель
							Grohe Aria для биде DN 15 24030000</a>
						<span class="catalog__presence">В наличии</span>
						<div class="special-offers__sale">
							<span class="special-offers__price">98 400
								<i class="special-offers__rub">руб.</i>
							</span>
							<a href="#" data-url="ajax/add-cart.html" data-ajax=""
								class="special-offers__buy">купить</a>
						</div>
					</div>
					<a href="" class="modal__close js-compare_remove active" data-id="4562" title="Закрыть">×</a>
				</td>
				<td class="swiper-slide">
					<div class="swiper__comparison">
						<a class="special-offers__pic"
							href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
							title="Смеситель для кухни GROHE Blue 31455000">

							<picture>

								<source type="image/webp"
									data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
									srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

								<img data-src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
									alt="Смеситель для кухни GROHE Blue 31455000" class="special-offers__img lazyloaded"
									src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
							</picture>

						</a>

						<a href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-gladkiy-korpus-23337000.html"
							title="Смеситель Grohe BauLoop для раковины, гладкий корпус 23337000"
							class="special-offers__text">Смеситель Grohe BauLoop для раковины, гладкий корпус
							23337000</a>
						<span class="catalog__presence">В наличии</span>
						<div class="special-offers__sale">
							<span class="special-offers__price">98 400
								<i class="special-offers__rub">руб.</i>
							</span>
							<a href="#" data-url="ajax/add-cart.html" data-ajax=""
								class="special-offers__buy">купить</a>
						</div>
					</div>
					<a href="" class="modal__close js-compare_remove active" data-id="4554" title="Закрыть">×</a>
				</td>
				<td class="swiper-slide">
					<div class="swiper__comparison">
						<a class="special-offers__pic"
							href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
							title="Смеситель для кухни GROHE Blue 31455000">

							<picture>

								<source type="image/webp"
									data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
									srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

								<img data-src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
									alt="Смеситель для кухни GROHE Blue 31455000" class="special-offers__img lazyloaded"
									src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
							</picture>

						</a>

						<a href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-s-tsepochkoy-23336000.html"
							title="Смеситель Grohe BauLoop для раковины, с цепочкой 23336000"
							class="special-offers__text">Смеситель Grohe BauLoop для раковины, с цепочкой 23336000</a>
						<span class="catalog__presence">В наличии</span>
						<div class="special-offers__sale">
							<span class="special-offers__price">98 400
								<i class="special-offers__rub">руб.</i>
							</span>
							<a href="#" data-url="ajax/add-cart.html" data-ajax=""
								class="special-offers__buy">купить</a>
						</div>
					</div>
					<a href="" class="modal__close js-compare_remove active" data-id="4553" title="Закрыть">×</a>
				</td>
				<td class="swiper-slide">
					<div class="swiper__comparison">
						<a class="special-offers__pic"
							href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
							title="Смеситель для кухни GROHE Blue 31455000">

							<picture>

								<source type="image/webp"
									data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
									srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

								<img data-src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
									alt="Смеситель для кухни GROHE Blue 31455000" class="special-offers__img lazyloaded"
									src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
							</picture>

						</a>

						<a href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-gladkiy-korpus-23337000.html"
							title="Смеситель Grohe BauLoop для раковины, гладкий корпус 23337000"
							class="special-offers__text">Смеситель
							Grohe BauLoop для раковины, гладкий корпус
							23337000</a>
						<span class="catalog__presence">В наличии</span>
						<div class="special-offers__sale">
							<span class="special-offers__price">98 400
								<i class="special-offers__rub">руб.</i>
							</span>
							<a href="#" data-url="ajax/add-cart.html" data-ajax=""
								class="special-offers__buy">купить</a>
						</div>
					</div>
					<a href="" class="modal__close js-compare_remove active" data-id="4542" title="Закрыть">×</a>
				</td>
				<td class="swiper-slide">
					<div class="swiper__comparison">
						<a class="special-offers__pic"
							href="/catalog/smesiteli/smesitel-dlya-kukhni-grohe-blue-31455000.html"
							title="Смеситель для кухни GROHE Blue 31455000">

							<picture>

								<source type="image/webp"
									data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp"
									srcset="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.webp">

								<img data-src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg"
									alt="Смеситель для кухни GROHE Blue 31455000" class="special-offers__img lazyloaded"
									src="https://gr-russia.ru/upload/resize_cache/iblock/176/230_200_1/1764c7c510273b71dc1b8056bf64816d.jpg">
							</picture>

						</a>

						<a href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-gladkiy-korpus-23337000.html"
							title="Смеситель Grohe BauLoop для раковины, гладкий корпус 23337000"
							class="special-offers__text">Смеситель
							Grohe BauLoop для раковины, гладкий корпус
							23337000</a>
						<span class="catalog__presence">В наличии</span>
						<div class="special-offers__sale">
							<span class="special-offers__price">98 400
								<i class="special-offers__rub">руб.</i>
							</span>
							<a href="#" data-url="ajax/add-cart.html" data-ajax=""
								class="special-offers__buy">купить</a>
						</div>
					</div>
					<a href="" class="modal__close js-compare_remove active" data-id="4542" title="Закрыть">×</a>
				</td>

			</tr>

			<tr class="characteristic__title js-characteristic__title swiper-wrapper">

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">для ванной</td>

				<td class="swiper-block">для биде</td>

				<td class="swiper-block">для ванной</td>

				<td class="swiper-block">для душа</td>

				<td class="swiper-block">для биде</td>

				<td class="swiper-block">для ванной</td>

				<td class="swiper-block">для ванной</td>

				<td class="swiper-block">для ванной</td>

				<td class="swiper-block">для ванной</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Монтажный набор для напольного смесителя GROHE 45984001</td>

				<td class="swiper-block">двухрычажный</td>

				<td class="swiper-block">однорычажный</td>

				<td class="swiper-block">двухрычажный</td>

				<td class="swiper-block">двухрычажный</td>

				<td class="swiper-block">однорычажный</td>

				<td class="swiper-block">однорычажный</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">однорычажный</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">сливной гарнитур</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">цепочка</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">сливной гарнитур</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">гибкая</td>

				<td class="swiper-block">жесткая</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">гибкая</td>

				<td class="swiper-block">гибкая</td>

				<td class="swiper-block">гибкая</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">гибкая</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">горизонтальный</td>

				<td class="swiper-block">горизонтальный</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">горизонтальный</td>

				<td class="swiper-block">Нет</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">вертикальный</td>

				<td class="swiper-block">вертикальный</td>

				<td class="swiper-block">встраиваемый</td>

				<td class="swiper-block">настенный</td>

				<td class="swiper-block">вертикальный</td>

				<td class="swiper-block">вертикальный</td>

				<td class="swiper-block">вертикальный</td>

				<td class="swiper-block">настенный</td>

				<td class="swiper-block">вертикальный</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">45</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">28</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">46</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">28</td>

				<td class="swiper-block">28</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">28</td>

			</tr>

			<tr class="characteristic__title js-characteristic__title swiper-wrapper">

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">14.7</td>

				<td class="swiper-block">6.6</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">6.8</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">14.7</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">10</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">8.7</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">8.7</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">113</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">68</td>

				<td class="swiper-block">102</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">172</td>

				<td class="swiper-block">Нет</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">172</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">150</td>

				<td class="swiper-block">175</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">низкий</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">низкий</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">средней высоты</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

			</tr>

			<tr class="characteristic__title js-characteristic__title swiper-wrapper">

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">механическое</td>

				<td class="swiper-block">механическое</td>

				<td class="swiper-block">механическое</td>

				<td class="swiper-block">механическое</td>

				<td class="swiper-block">механическое</td>

				<td class="swiper-block">механическое</td>

				<td class="swiper-block">механическое</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">механическое</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

			</tr>

			<tr class="characteristic__title js-characteristic__title swiper-wrapper">

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">хром StarLight</td>

				<td class="swiper-block">хром StarLight</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">хром StarLight</td>

				<td class="swiper-block">хром StarLight</td>

				<td class="swiper-block">хром StarLight</td>

				<td class="swiper-block">хром StarLight</td>

				<td class="swiper-block">хром StarLight</td>

				<td class="swiper-block">хром StarLight</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Есть</td>

			</tr>

			<tr class="characteristic__title js-characteristic__title swiper-wrapper">

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">5</td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

			</tr>

			<tr class="characteristic__title js-characteristic__title swiper-wrapper">

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

			</tr>

			<tr class="characteristic__title js-characteristic__title swiper-wrapper">

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Есть</td>

			</tr>

			<tr class="characteristic__title js-characteristic__title swiper-wrapper">

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

				<td class="swiper-block"></td>

			</tr>

			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Сливной гарнитур 1 1/4&quot;, Размер 147 x 87 мм</td>

				<td class="swiper-block">Керамические вентили Carbodur 1/2, 90°</td>

				<td class="swiper-block">Без комплекта верхней монтажной части, Шаблон для монтажа</td>

				<td class="swiper-block">Carbodur керамические вентили 1/2&quot;, 180°, встроенный обратный клапан</td>

				<td class="swiper-block">Сливной гарнитур 1 1/4&quot;, Carbodur керамические вентили 1/2&quot;, 180°
				</td>

				<td class="swiper-block">Гладкий корпус</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Нет</td>

				<td class="swiper-block">Сливной гарнитур 1 1/4&quot;</td>

			</tr>

		</tbody>
		<!-- If we need scrollbar -->
		<div class="swiper-pagination js-swiper-pagination"></div>
		<div class="swiper-button-prev js-swiper-prev  special-offers_prev"></div>
		<div class="swiper-button-next js-swiper-next special-offers_next"></div>
	</table>

</div>
