<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		<div class="sidebar">
			<ul class="work-link">
				<li class="work-link__item"><a class="work-link__a" href="/service/">Сервисные центры</a></li>
				<li class="work-link__item"><a class="work-link__a" href="/documentation/">Техническая документация</a>
				</li>
				<li class="work-link__item"><a class="work-link__a" href="/warranty/">Официальная гарантия</a></li>
			</ul>
			<div class="download-catalogs">
				<div class="download-catalogs__title">Скачать каталоги</div>
				<div class="download-catalogs__items js-download-catalogs swiper-container">
					<div class="swiper-wrapper">
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-1.png" alt="">
								</div>
								<div class="download-catalogs__text">Новая линейка комбинированных
									холодильников-морозильников<i>PDF 2.47 MB</i></div>
							</a>

						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-2.png" alt="">
								</div>
								<div class="download-catalogs__text">BioFresh 2018/2019<i>PDF 2.47 MB</i></div>
							</a>

						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-3.png" alt="">
								</div>
								<div class="download-catalogs__text">Дизайнерская серия ColourLine<i>PDF 2.47 MB</i>
								</div>
							</a>

						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-1.png" alt="">
								</div>
								<div class="download-catalogs__text">Новая линейка комбинированных
									холодильников-морозильников<i>PDF 2.47 MB</i></div>
							</a>

						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-2.png" alt="">
								</div>
								<div class="download-catalogs__text">BioFresh 2018/2019<i>PDF 2.47 MB</i></div>
							</a>

						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-3.png" alt="">
								</div>
								<div class="download-catalogs__text">Дизайнерская серия ColourLine<i>PDF 2.47 MB</i>
								</div>
							</a>

						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-1.png" alt="">
								</div>
								<div class="download-catalogs__text">Новая линейка комбинированных
									холодильников-морозильников<i>PDF 2.47 MB</i></div>
							</a>

						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-2.png" alt="">
								</div>
								<div class="download-catalogs__text">BioFresh 2018/2019<i>PDF 2.47 MB</i></div>
							</a>

						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-3.png" alt="">
								</div>
								<div class="download-catalogs__text">Дизайнерская серия ColourLine<i>PDF 2.47 MB</i>
								</div>
							</a>

						</div>
					</div>
					<div class="swiper-pagination-download-catalogs"></div>
					<div class="swiper-button-prev download-catalogs__prev"></div>
					<div class="swiper-button-next download-catalogs__next"></div>
				</div>
			</div>
			<div class="yandex">
				<div class="yandex__inner">
					<div class="yandex__logo">
						<img src="images/ylogo.png" alt="" srcset="" class="yandex__img">
					</div>
					<div class="yandex__ratings">
						<img src="images/5-stars.png" alt="" srcset="">
					</div>
					<a href="#" target="_blank" class="yandex__button">Оставить отзыв</a>
					<a href="#" target="_blank" class="yandex__button">Читать все отзывы</a>
				</div>
			</div>
			<div class="quality">
				<span class="quality__title">Контроль качества</span>
				<span class="quality__text">Номер для претензий и предложений:</span>
				<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
				<span class="quality__worktime">с 9:00 до 18:00</span>
				<a href="#" class="quality__button" id="js-quality-opener">Написать</a>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__link">Grohe</a>
			<span class="breadcrumbs__sep">/</span>
			<span class="breadcrumbs__text">Видеозаписи</span>
		</div>
		<h1 class="title">
			Видеозаписи
		</h1>
		<div class="all-video js-news__inner">
			<div class="all-video__item" id="bx_3218110189_6278">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/ESN-H6QPxw4">
					<img src="images/video-thermostats.jpg" alt="" class="video__pic">
					<div class="all-video__link"> Как установить термостат для ванны</div>
				</a>
			</div>
			<div class="all-video__item" id="bx_3218110189_6268">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/2hDVKAAygP4">
					<img src="images/video-installation_system.jpg" alt="" class="video__pic">
					<div class="all-video__link"> Как настроить температуру воды</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_6267">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/zu0KrJ7CVHo">
					<img src="images/video-faucets.jpg" alt="" class="video__pic">
					<div class="all-video__link"> Технология GROHE CoolTouch</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_6266">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/jVfxdwCyelI">
					<img src="images/video-shower.jpg" alt="" class="video__pic">
					<div class="all-video__link"> Технология GROHE SafeStop</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_6269">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/deoPavDrUYs">
					<img src="images/video-thermostats.jpg" alt="" class="video__pic">
					<div class="all-video__link"> Как заменить фильтр для воды</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_6271">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/QDlFPg5Y-tw">
					<img src="images/video-thermostats.jpg" alt="" class="video__pic">
					<div class="all-video__link"> Технология GROHE SilkMove</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_6270">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/Susbew64czE">
					<img src="images/video-thermostats.jpg" alt="" class="video__pic">
					<div class="all-video__link"> Технология GROHE Blue Home</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_6272">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/q6qKjCHaIvc">
					<img src="images/video-thermostats.jpg" alt="" class="video__pic">
					<div class="all-video__link"> Душевые системы GROHE Euphoria SmartControl</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_6273">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/r9CwexQeqZs">
					<img src="images/video-thermostats.jpg" alt="" class="video__pic">
					<div class="all-video__link"> Технология GROHE DreamSpray</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_6274">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/xt7ikulbsHg">
					<img src="images/video-thermostats.jpg" alt="" class="video__pic">
					<div class="all-video__link"> Ручные души GROHE Power&Soul</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_6277">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/oS2F_y6Ac1o">
					<img src="images/video-thermostats.jpg" alt="" class="video__pic">
					<div class="all-video__link"> Как заменить газовый баллон</div>
				</a>
			</div>

			<div class="all-video__item" id="bx_3218110189_6276">
				<a data-fancybox="gallery" data-type="iframe" href="//www.youtube.com/embed/Gu1EwYUfReI">
					<img src="images/video-thermostats.jpg" alt="" class="video__pic">
					<div class="all-video__link"> Технология GROHE Fresh</div>
				</a>
			</div>

		</div>
		<div class="all-video__bottom">
			<a class="load-more" href="#">Загрузить еще</a>
			{% include 'pagination/pagination.html' %}
		</div>
	</div>
</div>
