	<div class="special-offers">
		<div class="container">
			<span class="special-offers__title">Популярные модели</span>
			<!-- Slider main container -->
			<div class="swiper-container swiper-container-two js-swiper-two">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper special-offers__wrapper">

					<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="6253"
						id="bx_1373509569_6253">
						<a class="special-offers__pic"
							href="/catalog/category/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
							title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003">
							<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/bcb/205_205_1/bcb0da928271d7cd428a8dacfaae2f76.jpg"
								data-srcset="/upload/resize_cache/iblock/bcb/410_410_1/bcb0da928271d7cd428a8dacfaae2f76.jpg 2x,/upload/resize_cache/iblock/bcb/615_615_1/bcb0da928271d7cd428a8dacfaae2f76.jpg 3x"
								class="special-offers__img lazyload" />
						</a>
						<a href="/catalog/category/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
							title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003"
							class="special-offers__text">Термостат Grohe Grohtherm 1000 для душа DN 15
							34143003</a>
						<div class="special-offers__sale catalog__sale">

							<span class="special-offers__price catalog__price ">

								14 250 <i class="special-offers__rub catalog__rub">руб.</i>
							</span>

							<a href="" class="special-offers__buy js-add2basket" data-id="6253">В
								корзину</a>

						</div>

						<!-- begin label -->
						<div class="announcing">

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/s_sale.svg"
									alt="Акция" title="Акция" /></div>

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/new.svg"
									alt="Новинка" title="Новинка" /></div>
							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/best.svg"
									alt="Хит продаж" title="Хит продаж" /></div>

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/s_garanty.svg"
									alt="Фирменная гарантия" title="Фирменная гарантия" /></div>

						</div>
						<!-- end label -->

					</div>

					<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="4553"
						id="bx_1373509569_4553">
						<a class="special-offers__pic"
							href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-s-tsepochkoy-23336000.html"
							title="Смеситель Grohe BauLoop для раковины, с цепочкой 23336000">
							<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/159/205_205_1/1598146a7b3d82341a57f4968d67fc05.jpg"
								data-srcset="/upload/resize_cache/iblock/159/410_410_1/1598146a7b3d82341a57f4968d67fc05.jpg 2x,/upload/iblock/159/1598146a7b3d82341a57f4968d67fc05.jpg 3x"
								class="special-offers__img lazyload" />
						</a>
						<a href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-s-tsepochkoy-23336000.html"
							title="Смеситель Grohe BauLoop для раковины, с цепочкой 23336000"
							class="special-offers__text">Смеситель Grohe BauLoop для раковины, с
							цепочкой 23336000</a>
						<div class="special-offers__sale catalog__sale">

							<span class="special-offers__price catalog__price ">

								4 550 <i class="special-offers__rub catalog__rub">руб.</i>
							</span>

							<a href="" class="special-offers__buy js-add2basket" data-id="4553">В
								корзину</a>

						</div>

						<!-- begin label -->
						<div class="announcing">

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/s_garanty.svg"
									alt="Фирменная гарантия" title="Фирменная гарантия" /></div>

						</div>
						<!-- end label -->

					</div>

					<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="6085"
						id="bx_1373509569_5219">
						<a class="special-offers__pic"
							href="/catalog/category/dushi/ruchnoy-dush-grohe-rainshower-icon-150-27628000.html?sku=6085"
							title="Ручной душ Grohe Rainshower Icon 150 27628000">
							<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/205_205_1/6f126a6371e31b7cd031455f8436f484.jpg"
								data-srcset="/upload/resize_cache/iblock/6f1/410_410_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/iblock/6f1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
								class="special-offers__img lazyload" />
						</a>
						<a href="/catalog/category/dushi/ruchnoy-dush-grohe-rainshower-icon-150-27628000.html?sku=6085"
							title="Ручной душ Grohe Rainshower Icon 150 27628000" class="special-offers__text">Ручной душ
							Grohe Rainshower Icon 150
							27628000</a>
						<div class="special-offers__sale catalog__sale">

							<span class="special-offers__price catalog__price ">

								5 550 <i class="special-offers__rub catalog__rub">руб.</i>
							</span>

							<a href="" class="special-offers__buy js-add2basket" data-id="6085">В
								корзину</a>

						</div>

						<!-- begin label -->
						<div class="announcing">

						</div>
						<!-- end label -->

					</div>

					<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="6257"
						id="bx_1373509569_6257">
						<a class="special-offers__pic"
							href="/catalog/category/termostaty/termostat-grohe-grohtherm-1000-dlya-vanny-dn-15-34155003.html"
							title="Термостат Grohe Grohtherm 1000 для ванны DN 15 34155003">
							<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/620/205_205_1/62079db2fe6367c762c79721e25e0158.jpg"
								data-srcset="/upload/resize_cache/iblock/620/410_410_1/62079db2fe6367c762c79721e25e0158.jpg 2x,/upload/resize_cache/iblock/620/615_615_1/62079db2fe6367c762c79721e25e0158.jpg 3x"
								class="special-offers__img lazyload" />
						</a>
						<a href="/catalog/category/termostaty/termostat-grohe-grohtherm-1000-dlya-vanny-dn-15-34155003.html"
							title="Термостат Grohe Grohtherm 1000 для ванны DN 15 34155003"
							class="special-offers__text">Термостат Grohe Grohtherm 1000 для ванны DN 15
							34155003</a>
						<div class="special-offers__sale catalog__sale">

							<span class="special-offers__price catalog__price ">

								18 250 <i class="special-offers__rub catalog__rub">руб.</i>
							</span>

							<a href="" class="special-offers__buy js-add2basket" data-id="6257">В
								корзину</a>

						</div>

						<!-- begin label -->
						<div class="announcing">

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/new.svg"
									alt="Новинка" title="Новинка" /></div>

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/s_garanty.svg"
									alt="Фирменная гарантия" title="Фирменная гарантия" /></div>

						</div>
						<!-- end label -->

					</div>

					<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="5934"
						id="bx_1373509569_5934">
						<a class="special-offers__pic"
							href="/catalog/category/smesiteli/smesitel-grohe-concetto-dlya-kukhni-dn-15-31128001.html?sku=5934"
							title="Смеситель Grohe Concetto для кухни DN 15 31128001">
							<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/129/205_205_1/129fd0a79951c2a4ea46a9f92232e6ee.jpg"
								data-srcset="/upload/iblock/129/129fd0a79951c2a4ea46a9f92232e6ee.jpg 2x,/upload/iblock/129/129fd0a79951c2a4ea46a9f92232e6ee.jpg 3x"
								class="special-offers__img lazyload" />
						</a>
						<a href="/catalog/category/smesiteli/smesitel-grohe-concetto-dlya-kukhni-dn-15-31128001.html?sku=5934"
							title="Смеситель Grohe Concetto для кухни DN 15 31128001"
							class="special-offers__text">Смеситель Grohe Concetto для кухни DN 15
							31128001</a>
						<div class="special-offers__sale catalog__sale">

							<span class="special-offers__price catalog__price ">

								9 700 <i class="special-offers__rub catalog__rub">руб.</i>
							</span>

							<a href="" class="special-offers__buy js-add2basket" data-id="5934">В
								корзину</a>

						</div>

						<!-- begin label -->
						<div class="announcing">

						</div>
						<!-- end label -->

					</div>

					<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="5516"
						id="bx_1373509569_5516">
						<a class="special-offers__pic"
							href="/catalog/category/sistemy-installyatsii/nakladnaya-panel-grohe-nova-cosmopolitan-38847ls0.html"
							title="Накладная панель Grohe Nova Cosmopolitan 38847LS0">
							<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/df8/205_205_1/df83f55a6425ba0286e952de2724f29a.jpg"
								data-srcset="/upload/iblock/df8/df83f55a6425ba0286e952de2724f29a.jpg 2x,/upload/iblock/df8/df83f55a6425ba0286e952de2724f29a.jpg 3x"
								class="special-offers__img lazyload" />
						</a>
						<a href="/catalog/category/sistemy-installyatsii/nakladnaya-panel-grohe-nova-cosmopolitan-38847ls0.html"
							title="Накладная панель Grohe Nova Cosmopolitan 38847LS0"
							class="special-offers__text">Накладная панель Grohe Nova Cosmopolitan
							38847LS0</a>
						<div class="special-offers__sale catalog__sale">

							<span class="special-offers__price catalog__price ">

								5 350 <i class="special-offers__rub catalog__rub">руб.</i>
							</span>

							<a href="" class="special-offers__buy js-add2basket" data-id="5516">В
								корзину</a>

						</div>

						<!-- begin label -->
						<div class="announcing">

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/s_garanty.svg"
									alt="Фирменная гарантия" title="Фирменная гарантия" /></div>

						</div>
						<!-- end label -->

					</div>

				</div>
				<div class="swiper-scrollbar"></div>

			</div>

			<div class="swiper-pagination_2"></div>
			<div class="swiper-button-prev special-offers_prev"></div>
			<div class="swiper-button-next special-offers_next"></div>

		</div>
	</div>
