.header__dropdown-menu {
	display: flex;
	margin-left: 31px;
	// margin-top: auto;
	// margin-bottom: auto;
	height: 100%;
	flex-grow: 1;
	padding-left: 17px;
	padding-top: 16px;

	.container {
		display: flex;
	}

	.dropdown-menu {
		position: static;
		display: flex;

		&__list {
			margin: 0;
			padding: 12px 0 0 0;
			list-style-type: none;
			flex-direction: column;
			background-color: #ffffff;
			// margin-top: 7px;

			// max-height: calc(100vh - 95px);
			// max-height: 740px;

			height: 850px;
		}

		&:nth-child(2) {
			margin-left: 18px;
		}

		&:nth-child(3) {
			margin-left: 16px;
		}

		&__title {
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 18px;
			font-weight: normal;
			font-style: normal;
			font-stretch: condensed;
			line-height: normal;
			padding: 9px 35px 9px 17px;
			color: #333333;
			box-shadow: 0 2px 21px 0 transparent;
			letter-spacing: -0.1px;
			cursor: pointer;
			background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 97% 12px/14px no-repeat;
			white-space: nowrap;

			&.last {
				background: unset !important;

				a {
					color: #333333;
				}

				&:hover {
					a {
						color: #394791;
						text-decoration: none;
					}
				}
			}

			&:hover {
				box-shadow: 0 -10px 21px 0 rgba(0, 0, 0, 0.1);
				background-color: #ffffff;
				color: #394791;
				background: url("https://icongr.am/entypo/chevron-down.svg?color=394791") 97% 12px/14px no-repeat;
			}

			&.last {
				padding: 9px 30px 9px 22px;
			}

		}

		&__link,
		.dropdown-menu__subtitle {
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: condensed;
			letter-spacing: normal;
			color: #333333;
			padding: 9px 16px;
			color: #333333;
			cursor: pointer;
			background: #ffffff;
			text-decoration: none !important;

			&:hover {
				color: #394791;
				text-decoration: underline;
			}
		}

		.dropdown-menu__subtitle {
			cursor: inherit;

			&:hover {
				color: #333;
				text-decoration: underline;
			}
		}

		&__parent {
			display: none;
		}

		&.active {
			.dropdown-menu__parent {
				display: flex;
				max-height: calc(100vh - 150px);
			}

			&:nth-child(3) {
				>.dropdown-menu__parent {
					left: -53px;
					right: -53px;
					max-width: calc(100% + 104px);
					background-color: #fff;
					padding-right: 0;
					overflow-y: auto;

					@media (max-width: 1280px) {
						left: calc(587.5px - 50vw);
						right: calc(587.5px - 50vw);
					}

					@media (max-width: 1200px) {
						left: 0;
						right: 0;
						width: unset;
						// max-width: 100%;
						margin: 0 -16px;
						// width: 1176px;
						max-width: unset;

						.dropdown-menu__item {
							// max-width: 369px;
						}

						>.dropdown-menu__list {
							padding-left: 0;
						}

						// .collection__banner {
						// 	width: 19%;
						// }
					}
				}

				.dropdown-menu__link,
				.dropdown-menu__subtitle {
					padding: 2px 23px 7px;
					margin-bottom: 3px;
				}

				.sub-menu__list {
					padding-left: 25px;
				}

				.sub-menu__link {
					word-spacing: 2px;
					position: relative;
					padding-left: 11px;
					line-height: 23px;
					margin-bottom: 6px;

					&:before {
						content: '∙ ';
						position: absolute;
						left: 0;
					}
				}

				.dropdown-menu__list {
					flex-direction: column;
					flex-wrap: wrap;
					align-content: end;
					// width: calc(100% - 375px);
					// flex-grow: 1;
					// width: 905px;
					width: calc(100% - 350px)
				}

				.dropdown-menu__item {
					margin-bottom: 28px;
					max-width: 207px;

					&:nth-child(1) {
						width: 206px;

						.sub-menu__link {
							white-space: normal;
						}
					}

					&:nth-child(2),
					&:nth-child(3) {
						max-width: 160px;
					}

					&:nth-child(3),
					&:nth-child(5),
					&:nth-child(6),
					&:nth-child(8) {
						.sub-menu__link {
							line-height: 20px;
							white-space: normal;
							margin-bottom: 5.4px;
						}

						.dropdown-menu__link,
						.dropdown-menu__subtitle {
							margin-bottom: 5px;
						}
					}

					&:nth-child(4),
					&:nth-child(5),
					&:nth-child(6) {
						max-width: 190px;
					}

					&:nth-child(7) {
						// max-width: unset;
						max-width: unset;
						// width: 100%;
						width: 331px;

						.sub-menu__list {
							flex-wrap: wrap;
							max-width: 335px;
							max-height: 380px;
						}
					}

					&:nth-child(8) {
						max-width: unset;
						// width: 100%;
						width: 331px;
						// max-width: unset;
						// max-width: 400px;
						// width: 100%;

						.sub-menu__list {
							flex-wrap: wrap;
							max-width: 260px;
							max-height: 150px;
						}
					}

				}

			}

			.dropdown-menu__list {
				display: flex;
				// overflow: auto;
				// margin-right: -16px;
				padding-right: 20px;
				width: 100%;
			}

			.dropdown-menu__item {
				display: flex;
				flex-direction: column;

			}

			.dropdown-menu__link,
			.dropdown-menu__subtitle {
				white-space: nowrap;
			}

			.dropdown-menu__title {
				box-shadow: 0 -10px 21px 0 rgba(0, 0, 0, 0.1);
				z-index: 999;
				position: relative;
				color: #394791;
				background: url("https://icongr.am/entypo/chevron-up.svg?color=394791") 97% 12px/14px no-repeat;
			}

			.dropdown-menu__parent {
				position: absolute;
				overflow: hidden;
				box-shadow: 0 18px 41px 0 rgba(0, 0, 0, 0.1);
				z-index: 99999;
				top: 100%;
				width: auto;
				min-width: 198px;
			}

			&:nth-child(2),
			&:nth-child(1) {
				position: relative;

				.dropdown-menu__list {
					padding-right: 0;
				}

				.dropdown-menu__parent {
					min-width: unset;
					width: 100%;
				}
			}
		}
	}

	.header__banner {
		width: 30%;
	}

	.sub-menu__list {
		display: flex;
		flex-direction: column;
		padding-left: 30px;
		list-style: none;
	}


	.sub-menu__item {
		display: flex;
		// padding-right: 16px;
	}

	.sub-menu__link,
	.sub-menu__item {
		color: #333333;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		line-height: 29px;
		white-space: nowrap;

		&:hover {
			color: #394791;
		}
	}

	.collection {

		// .collection__banner

		&__banner {
			display: flex;
			flex-direction: column;
			// margin-left: auto;
			color: #394791;
			font-size: 16px;
			font-weight: 700;
			line-height: 39px;
			margin: 22px auto auto;
			padding: 0 10px;
			// width: 270px;
			flex-shrink: 0;
			max-width: 300px;
			align-items: baseline;
		}

		// .collection__pic

		&__pic {
			margin-bottom: 9px;
		}
	}

	.dropdown-menu__service {
		display: none;
	}

	@media (max-width: 1200px) {
		margin-left: 58px;
	}
}

@media (max-width: 767px) {
	.menu.active {
		height: 100vh;
		overflow-y: scroll;
	}

	.header__dropdown-menu {
		height: 90%;
		left: 3%;
		right: 3%;
		width: 100%;
		display: flex;
		flex-direction: column;
		position: static;
		order: -1;
		margin-left: 0;
		padding-left: 0;
		padding-top: 0;

		.container {
			padding: 0;
			padding-top: 3px;
			margin: 0;
		}

		.dropdown-menu,
		.dropdown-menu__service {
			display: flex;
			margin-left: 0 !important;
			flex-wrap: wrap;
			padding-left: 31px;
			border-bottom: 1px solid #f1f1f1;

			&__three {
				margin-bottom: 0;
				border-bottom: 0;
			}

			&:first-child {
				background: url("../images/grohe.svg") no-repeat 0 10px;

			}

			&:nth-child(2) {
				background: url("../images/sfera.svg") no-repeat 0 10px;

			}

			&:nth-child(3) {
				background: url("../images/collections.svg") no-repeat -1px 14px;

			}

			&__service {
				display: flex;
				background: url("../images/service.svg") no-repeat 0 10px;
				border: 0;

				span {
					background: none !important;
				}
			}

			&__title {
				font-family: "Roboto Condensed";
				font-size: 16px;
				font-weight: 400;
				line-height: 46px;
				padding: 0;
				width: 100%;

				&:hover {
					box-shadow: none !important;
				}

				&.last {
					padding: 0;
				}
			}

			.dropdown-menu__parent {
				padding-bottom: 15px;
			}

			&.active {

				.dropdown-menu__list,
				.dropdown-menu__parent {
					position: unset;
					box-shadow: none;
					padding-top: 0;
					margin-top: 0;
					margin-right: 0px;
					margin-left: 0px;
				}

				&:nth-child(3) {
					>.dropdown-menu__parent {
						width: 100%;
						overflow-y: scroll;
						height: 100%;
					}

					.collection__banner {
						display: none;
					}

					.dropdown-menu__list {
						display: flex;
						flex-direction: column;
						width: 100%;
						padding: 0;
						flex-wrap: nowrap;
					}

					.dropdown-menu__item {
						width: 100% !important;
						max-width: 100% !important;
						margin-bottom: 0;
						border-bottom: 1px solid #f1f1f1;



						.sub-menu__list {
							display: none;
						}

						&:last-child {
							border: 0;
							padding-bottom: 10px;
						}

						&.active {
							.dropdown-menu__subtitle {
								background: url("https://icongr.am/entypo/chevron-down.svg?color=394791") calc(100% - 14px) 50%/18px no-repeat;
							}

							.sub-menu__list {
								display: flex;
							}
						}
					}

					.dropdown-menu__subtitle {
						padding: 8px 17px 8px;
						width: 100%;
						line-height: 22px;
						margin-bottom: 0 !important;
						background: url("https://icongr.am/entypo/chevron-right.svg?color=b0b0b0") calc(100% - 14px) 50%/18px no-repeat;
					}
				}

				.dropdown-menu__title {
					box-shadow: none !important;
				}
			}
		}

		.dropdown-menu__back {
			display: none;
		}

		.header__telephones {
			display: none !important;
		}

		.sub-menu__list {
			padding-left: 13px;
			margin-bottom: 20px;
			max-height: unset !important;
		}

		.sub-menu__link {
			color: #666666;
			font-size: 13px;
			font-weight: 400;
			line-height: 28px;
		}

		.dropdown-menu__link {
			padding: 3px 0;
			color: #666666;
			white-space: normal !important;
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			position: relative;
			padding-left: 11px;

			&:before {
				content: '∙ ';
				position: absolute;
				left: 0;
			}
		}
	}

	.menu-480 {
		.header__dropdown-menu {
			display: none !important;
		}

		background: url("https://icongr.am/entypo/chevron-down.svg?color=eeeeee")100% 50%/18px no-repeat !important;

		&:hover {
			background: url("https://icongr.am/entypo/chevron-down.svg?color=394791") 100% 50%/18px no-repeat !important;
			background-color: #5a5a5a;
		}
	}

	.menu__item {
		display: flex;
		position: relative;
		flex-wrap: wrap;

		&:first-child {
			order: 2;

			// &:hover {
			// 	background: url("https://icongr.am/entypo/chevron-down.svg?color=394791") 100% 50%/18px no-repeat;
			// 	background-color: #262626;
			// }

			span {
				width: 100%;
			}
		}
	}

}

// @media (max-width: 1150px) {
// 	.header__dropdown-menu {
// 		margin-left: 1%;

// 		.dropdown-menu__title {
// 			padding: 2% 8% 2% 4%;
// 			background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 101%/14px no-repeat;

// 			&:hover {
// 				background: url("https://icongr.am/entypo/chevron-down.svg?color=394791") 101%/14px no-repeat;
// 			}
// 		}
// 	}


// }

// @media (max-width: 1000px) {
// 	.header__dropdown-menu {

// 		.dropdown-menu {
// 			margin-left: 0;

// 			&:nth-child(2) {
// 				margin-left: 0;
// 			}

// 			&:nth-child(3) {
// 				margin-left: 0;
// 			}
// 		}

// 		.header__telephones {
// 			margin-left: 0;
// 		}
// 	}


// }



// @media (max-width: 965px) {
// 	.header__dropdown-menu {
// 		flex-wrap: wrap;
// 		margin-left: 0;

// 		.container {
// 			display: block;

// 			.header__telephones {
// 				display: flex;
// 				width: 100%;
// 				padding: 0 24px;
// 			}

// 			.header__phone {
// 				font-size: 20px;
// 				font-weight: 500;
// 				font-style: normal;
// 				font-stretch: normal;
// 				line-height: 1.2;
// 				letter-spacing: normal;
// 				text-align: left;
// 				color: #eeeeee;
// 			}

// 			.header__call-phone-button {
// 				background: unset;
// 			}
// 		}

// 		.dropdown-menu {
// 			width: 100%;
// 			display: flex;
// 			border-top: none;
// 			flex-wrap: wrap;

// 			&:nth-child(2) {
// 				margin-left: 0;
// 			}

// 			&:nth-child(3) {
// 				margin-left: 0;
// 			}

// 			&__back {
// 				display: block;
// 				text-transform: uppercase;
// 				border-top: 1px solid #494949;
// 				font-size: 14px;
// 				font-weight: 500;
// 				font-style: normal;

// 				font-stretch: normal;
// 				line-height: 4;
// 				letter-spacing: normal;
// 				text-align: left;
// 				width: 100%;
// 				justify-content: flex-end;
// 				color: #eeeeee;
// 				text-align: right;
// 				background: url("https://icongr.am/entypo/chevron-left.svg?color=eeeeee") 0/18px no-repeat;
// 			}

// 			&__list {
// 				box-shadow: none;
// 				margin-top: 0;

// 				li:hover {
// 					color: #394791
// 				}
// 			}

// 			&__item {
// 				flex-basis: 100%;
// 			}

// 			&__link {
// 				padding-left: 0;
// 				font-size: 14px;
// 				font-weight: normal;
// 				font-style: normal;
// 				font-stretch: condensed;
// 				letter-spacing: normal;
// 				color: #666666;
// 			}

// 			&__title {
// 				padding: 15px 0;
// 				width: 100%;

// 				&:hover {
// 					box-shadow: none;

// 				}
// 			}

// 			&+.dropdown-menu {
// 				border-top: 1px solid #f1f1f1;
// 				border-bottom: 1px solid #f1f1f1;


// 				&+.dropdown-menu {
// 					border-top: none;
// 					border-bottom: 1px solid #f1f1f1;

// 				}
// 			}

// 			&:last-child {
// 				border-bottom: 1px solid #f1f1f1;
// 			}
// 		}

// 		.header__telephones {
// 			display: none;
// 		}

// 		.active {
// 			.dropdown-menu__list {
// 				position: unset !important;
// 			}


// 			.dropdown-menu__title {
// 				background: url("https://icongr.am/entypo/chevron-down.svg?color=666666") 97%/18px no-repeat;
// 				box-shadow: none !important;
// 			}

// 		}
// 	}
// }
