<div class="header__dropdown-menu" id="js-menu">

	<nav class="dropdown-menu" id="js-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">Сантехника Grohe</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/category/smesiteli/" title="Смесители">Смесители</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/category/dushi/" title="Души">Души</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/category/termostaty/"
						title="Термостаты">Термостаты</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/category/sistemy-installyatsii/"
						title="Системы инсталляции">Системы инсталляции</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/category/aksessuary/"
						title="Аксессуары">Аксессуары</a>

				</li>
			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu" id="js-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">Сферы применения</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="https://gr-russia.ru/catalog/group/grohe-spa/"
						title="Ванная Grohe SPA">Ванная Grohe SPA</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="https://gr-russia.ru/catalog/group/vannaya-komnata/"
						title="Ванная комната">
						Ванная комната</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="https://gr-russia.ru/catalog/group/tualetnaya-komnata/"
						title="Туалетная комната">
						Туалетная комната</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="https://gr-russia.ru/catalog/group/kukhnya/" title="Кухня">
						Кухня</a>
				</li>
			</ul>
		</div>
	</nav>

	<nav class="dropdown-menu" id="js-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title" title="Коллекции">Коллекции</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Души</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Euphoria
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Euphoria Cosmopolitan
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Euphoria Cube
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Movario
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Power & Soul
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Power & Soul Cosmopolitan
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Rainshower
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Rainshower Allure
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Rainshower Classic
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Rainshower Cosmopolitan
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Rainshower Eco
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Rainshower Icon
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Rainshower Rustic
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Rainshower Solo
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Relexa
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Relexa plus
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Relexa Rustic
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Sena
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Tempesta
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Tempesta Contemporary
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Tempesta Cosmopolitan
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Tempesta Rustic
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Trigger Spray
							</a>
						</li>

					</ul>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Ванная Grohe SPA</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Allure
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Allure Brilliant
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Grandera
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Ondus
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Rainshower F-series
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Veris
							</a>
						</li>

					</ul>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Термостаты</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Grohtherm 1000
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm 1000
								Cosmopolitan
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm 1000 New
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm 2000 New
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm 2000
								Special
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm 3000
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm 3000
								Cosmopolitan
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm Cube
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm F
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm Micro
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm
								SmartControl
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Винные шкафы</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Grohtherm 1000
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm 1000
								Cosmopolitan
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm 1000 New
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm 2000 New
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm 2000
								Special
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm 3000
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm 3000
								Cosmopolitan
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm Cube
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm F
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm Micro
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Grohtherm
								SmartControl
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Хьюмидоры</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- end menu-content -->
	{% include 'popup-call/callback.html' %}
</div>
