<div class="header__dropdown-menu" id="js-menu">

	<nav class="dropdown-menu" id="js-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">Сантехника Grohe</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/category/smesiteli/" title="Смесители">Смесители</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/category/dushi/" title="Души">Души</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/category/termostaty/"
						title="Термостаты">Термостаты</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/category/sistemy-installyatsii/"
						title="Системы инсталляции">Системы инсталляции</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/category/aksessuary/"
						title="Аксессуары">Аксессуары</a>

				</li>
			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu" id="js-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">Сферы применения</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="https://gr-russia.ru/catalog/group/grohe-spa/"
						title="Ванная Grohe SPA">Ванная Grohe SPA</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="https://gr-russia.ru/catalog/group/vannaya-komnata/"
						title="Ванная комната">
						Ванная комната</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="https://gr-russia.ru/catalog/group/tualetnaya-komnata/"
						title="Туалетная комната">
						Туалетная комната</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="https://gr-russia.ru/catalog/group/kukhnya/" title="Кухня">
						Кухня</a>

				</li>
			</ul>
		</div>
	</nav>

	<nav class="dropdown-menu">
		<span class="dropdown-menu__title last">
			<a href="/guarantee/#services-list" title="Коллекции">Коллекции</a>
		</span>
	</nav>

	<!-- end menu-content -->
	{% include 'popup-call/callback.html' %}
</div>
