{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">

		{% include 'header/global/header.html' %}

		<div class="section">
			<div class="content">
				<!-- WORKAREA -->
				{% include 'slider/main/slider-main.html' %}
				{% include 'section/special-offers/special-offers.html' %}
				{% include 'section/tags/tags.html' %}

				{% include 'section/new-items/new-items.html' %}
				{% include 'section/articles/articles.html' %}
				{% include 'section/seo-text/seo-text.html' %}
				<div class="promotional-goods special-offers">
					<div class="container">
						<span class="special-offers__title">Акционные товары</span>
						<!-- Slider main container -->
						<div class="swiper-container swiper-container-promotional-goods  js-swiper-promotional-goods">
							<!-- Additional required wrapper -->
							<div class="swiper-wrapper special-offers__wrapper">
								<div class="swiper-slide special-offers__slide new-items__slide">
									<a class="special-offers__pic" href="#">
										<img src="images/new-items_1.jpg"
											srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
											class="special-offers__img">
									</a>
									<a href="#" class="special-offers__text">
										Холодильник Grohe IKF 3510
										Comfort
									</a>
									<div class="special-offers__sale catalog__sale price__dashed">
										<span class="special-offers__price catalog__price">
											199 000
											<i class="special-offers__rub catalog__rub">руб.</i>
											<span class="price__absolute">
												250 000 руб.
											</span>
										</span>
										<a href="#" data-url="ajax/add-cart.html" data-ajax
											class="special-offers__buy">В корзину</a>
									</div>
								</div>
								<div class="swiper-slide special-offers__slide new-items__slide">
									<a class="special-offers__pic" href="#">
										<img src="images/new-items_2.jpg"
											srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x"
											class="special-offers__img">
									</a>
									<a href="#" class="special-offers__text">
										Винный шкаф Grohe EWTgw 3583 Vinidor
									</a>
									<div class="special-offers__sale catalog__sale price__dashed">
										<span class="special-offers__price catalog__price">
											199 000
											<i class="special-offers__rub catalog__rub">руб.</i>
											<span class="price__absolute">
												250 000 руб.
											</span>
										</span>
										<a href="#" data-url="ajax/add-cart.html" data-ajax
											class="special-offers__buy">В корзину</a>
									</div>
								</div>
								<div class="swiper-slide special-offers__slide new-items__slide">
									<a class="special-offers__pic" href="#">
										<img src="images/new-items_3.jpg"
											srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
											class="special-offers__img">
									</a>
									<a href="#" class="special-offers__text">
										Холодильник Grohe SBS 66I2 Premium NoFrost (SICN 3386 + ICN 3386)
									</a>
									<div class="special-offers__sale catalog__sale price__dashed">
										<span class="special-offers__price catalog__price">
											199 000
											<i class="special-offers__rub catalog__rub">руб.</i>
											<span class="price__absolute">
												250 000 руб.
											</span>
										</span>
										<a href="#" data-url="ajax/add-cart.html" data-ajax
											class="special-offers__buy">В корзину</a>
									</div>
								</div>
								<div class="swiper-slide special-offers__slide new-items__slide">
									<a class="special-offers__pic" href="#">
										<img src="images/new-items_4.jpg"
											srcset="images/new-items_4@2x.jpg 2x,images/new-items_4@3x.jpg 3x"
											class="special-offers__img">
									</a>
									<a href="#" class="special-offers__text">
										Морозильник Grohe GN 2723
										Comfort NoFrost</a>
									<div class="special-offers__sale catalog__sale price__dashed">
										<span class="special-offers__price catalog__price">
											199 000
											<i class="special-offers__rub catalog__rub">руб.</i>
											<span class="price__absolute">
												250 000 руб.
											</span>
										</span>
										<a href="#" data-url="ajax/add-cart.html" data-ajax
											class="special-offers__buy">В корзину</a>
									</div>
								</div>
								<div class="swiper-slide special-offers__slide new-items__slide">
									<a class="special-offers__pic" href="#">
										<img src="images/new-items_1.jpg"
											srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
											class="special-offers__img">
									</a>
									<a href="#" class="special-offers__text">
										Холодильник Grohe SBSes 7353 (SBNes 32100+SKes 42100) Premium BioFresh
									</a>
									<div class="special-offers__sale catalog__sale price__dashed">
										<span class="special-offers__price catalog__price">
											199 000
											<i class="special-offers__rub catalog__rub">руб.</i>
											<span class="price__absolute">
												250 000 руб.
											</span>
										</span>
										<a href="#" data-url="ajax/add-cart.html" data-ajax
											class="special-offers__buy">В корзину</a>
									</div>
								</div>
								<div class="swiper-slide special-offers__slide new-items__slide">
									<a class="special-offers__pic" href="#">
										<img src="images/new-items_2.jpg"
											srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x"
											class="special-offers__img">
									</a>
									<a href="#" class="special-offers__text">
										Винный шкаф Grohe EWTgw 3583 Vinidor
									</a>
									<div class="special-offers__sale catalog__sale price__dashed">
										<span class="special-offers__price catalog__price">
											199 000
											<i class="special-offers__rub catalog__rub">руб.</i>
											<span class="price__absolute">
												250 000 руб.
											</span>
										</span>
										<a href="#" data-url="ajax/add-cart.html" data-ajax
											class="special-offers__buy">В корзину</a>
									</div>
								</div>
								<div class="swiper-slide special-offers__slide new-items__slide">
									<a class="special-offers__pic" href="#">
										<img src="images/new-items_3.jpg"
											srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
											class="special-offers__img">
									</a>
									<a href="#" class="special-offers__text">
										Холодильник Grohe SBS 66I2
										Premium NoFrost (SICN 3386 +
										ICN 3386)
									</a>
									<div class="special-offers__sale catalog__sale price__dashed">
										<span class="special-offers__price catalog__price">
											199 000
											<i class="special-offers__rub catalog__rub">руб.</i>
											<span class="price__absolute">
												250 000 руб.
											</span>
										</span>
										<a href="#" data-url="ajax/add-cart.html" data-ajax
											class="special-offers__buy">В корзину</a>
									</div>
								</div>
								<div class="swiper-slide special-offers__slide new-items__slide">
									<a class="special-offers__pic" href="#">
										<img src="images/new-items_4.jpg"
											srcset="images/new-items_4@2x.jpg 2x,images/new-items_4@3x.jpg 3x"
											class="special-offers__img">
									</a>
									<a href="#" class="special-offers__text">
										Холодильник Grohe SBSbs 8673 Premium BioFresh NoFrost</a>
									<div class="special-offers__sale catalog__sale price__dashed">
										<span class="special-offers__price catalog__price">
											199 000
											<i class="special-offers__rub catalog__rub">руб.</i>
											<span class="price__absolute">
												250 000 руб.
											</span>
										</span>
										<a href="#" data-url="ajax/add-cart.html" data-ajax
											class="special-offers__buy">В корзину</a>
									</div>
								</div>
							</div>
							<!-- If we need navigation buttons -->
							<!-- If we need scrollbar -->
							<div class="swiper-scrollbar"></div>
						</div>
						<div class="swiper-pagination js-promotional-goods-pagination"></div>
						<div class="swiper-button-prev promotional-goods_prev js-promotional-goods_prev"></div>
						<div class="swiper-button-next promotional-goods_next js-promotional-goods_next"></div>
					</div>
				</div>
				{% include 'section/seo-text/seo-text.html' %}
				<!-- <div class="reviews reviews-main js-reviews-main">
					<div class="container">
						<div class="reviews-main__title">
							Отзывы об интернет-магазине L-RUS
						</div>
						<div class="reviews__section">
							<div class="ratings">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
								<b class="ratings__number">4,5</b>
							</div>
							<a href="#" class="reviews__all">5 отзывов</a>
						</div>
						<div class="swiper-pagination-reviews-main"></div>
						<div class="swiper-button-prev reviews-main__prev"></div>
						<div class="swiper-button-next reviews-main__next"></div>

						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide reviews-main__item">
									<div class="reviews-list__field reviews-list__field_header">
										<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
											<strong itemprop="name">Ирина</strong>
										</div>
										<div class="reviews-list__col reviews-list__col_desc">
											<div class="ratings ratings_small" itemprop="reviewRating" itemscope=""
												itemtype="">
												<div class="ratings__star"></div>
												<div class="ratings__star"></div>
												<div class="ratings__star"></div>
												<div class="ratings__star"></div>
												<div class="ratings__star ratings__none"></div>
											</div>
										</div>
										<div class="reviews-list__col reviews-list__col_date">
											<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
									</div>
									<div class="reviews-list__field reviews-list__field_footer">
										Покупали специально на дачу - маленький, но все необходимые продукты и небольшие
										кастрюли вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка,
										но такой холодильничек и не для заморозки контейнеров ягод на зиму. В настоящее
										время спектр бытовой техники Grohe невероятно широк. Ассортимент компании
										составляют устройства, встраиваемые под столешницу или в мебельные ниши кухонных
										гарнитуров, отдельностоящие приборы, морозильные лари, холодильно-морозильные
										комбинации, климатические шкафы для хранения вина
									</div>
								</div>
								<div class="swiper-slide reviews-main__item">
									<div class="reviews-list__field reviews-list__field_header">
										<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
											<strong itemprop="name">Ирина</strong>
										</div>
										<div class="reviews-list__col reviews-list__col_desc">
											<div class="ratings ratings_small" itemprop="reviewRating" itemscope=""
												itemtype="">
												<div class="ratings__star"></div>
												<div class="ratings__star"></div>
												<div class="ratings__star"></div>
												<div class="ratings__star"></div>
												<div class="ratings__star ratings__none"></div>
											</div>
										</div>
										<div class="reviews-list__col reviews-list__col_date">
											<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
									</div>
									<div class="reviews-list__field reviews-list__field_footer">
										Покупали специально на дачу - маленький, но все необходимые продукты и небольшие
										кастрюли вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка,
										но такой холодильничек и не для заморозки контейнеров ягод на зиму. В настоящее
										время спектр бытовой техники Grohe невероятно широк. Ассортимент компании
										составляют устройства, встраиваемые под столешницу или в мебельные ниши кухонных
										гарнитуров, отдельностоящие приборы, морозильные лари, холодильно-морозильные
										комбинации, климатические шкафы для хранения вина
									</div>
								</div>
								<div class="swiper-slide reviews-main__item">
									<div class="reviews-list__field reviews-list__field_header">
										<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
											<strong itemprop="name">Ирина</strong>
										</div>
										<div class="reviews-list__col reviews-list__col_desc">
											<div class="ratings ratings_small" itemprop="reviewRating" itemscope=""
												itemtype="">
												<div class="ratings__star"></div>
												<div class="ratings__star"></div>
												<div class="ratings__star"></div>
												<div class="ratings__star"></div>
												<div class="ratings__star ratings__none"></div>
											</div>
										</div>
										<div class="reviews-list__col reviews-list__col_date">
											<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
									</div>
									<div class="reviews-list__field reviews-list__field_footer">
										Покупали специально на дачу - маленький, но все необходимые продукты и небольшие
										кастрюли вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка,
										но такой холодильничек и не для заморозки контейнеров ягод на зиму. В настоящее
										время спектр бытовой техники Grohe невероятно широк. Ассортимент компании
										составляют устройства, встраиваемые под столешницу или в мебельные ниши кухонных
										гарнитуров, отдельностоящие приборы, морозильные лари, холодильно-морозильные
										комбинации, климатические шкафы для хранения вина
									</div>
								</div>
							</div>
						</div>
						<a href="#" class="reviews-main__link">
							Посмотреть все отзывы
						</a>
					</div>

				</div> -->
				{% include 'section/seo-text/seo-text_2.html' %}
				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.middle -->

	</div>
	<!-- /.wrapper -->

	{% include 'footer/global/footer.html' %}
	{% include 'connect/script.html' %}
	{% include 'connect/stylesheet.html' %}

</body>

</html>
