<div class="product-card new-product-card">
	<span class="product-card__title">Двухкамерный холодильник Grohe СКЕР 34562 COMFORT BIOFRESH
		NOFROST NEW</span>
	<div class="product-card__slider">
		<div class="labels">
			<div class="labels__sale">
				<img class=" loaded lazyloaded" src="images/goods-action.svg" alt="">
				скидка 10 000 руб.
			</div>
			<img class=" loaded lazyloaded" src="images/new.svg" alt="Новинка">
			<img class=" loaded lazyloaded" src="images/sale.svg" alt="Акция">
			<img class=" loaded lazyloaded" src="images/hit.svg" alt="Хит продаж">
			<!-- <img class=" loaded lazyloaded" alt="Фирменная гарантия" src="images/warranty.svg">
			<img class=" loaded lazyloaded" alt="подарок" src="images/present.svg"> -->
		</div>
		<div class="swiper-pagination gallery-top__pagination"></div>
		<div class="swiper-container gallery-top js-gallery-top">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x'>
						<img data-src="images/productCardGrohe.png"
							data-srcset="images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x"
							alt="Ручной душ Grohe Rainshower Icon 150 27628000 preview 1"
							title="Ручной душ Grohe Rainshower Icon 150 27628000 фото 1"
							class="special-offers__img catalog__img lazyload" />
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x'>
						<img data-src="images/productCardGrohe.png"
							data-srcset="images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x"
							alt="Ручной душ Grohe Rainshower Icon 150 27628000 preview 1"
							title="Ручной душ Grohe Rainshower Icon 150 27628000 фото 1"
							class="special-offers__img catalog__img lazyload" />
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x'>
						<img data-src="images/productCardGrohe.png"
							data-srcset="images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x"
							alt="Ручной душ Grohe Rainshower Icon 150 27628000 preview 1"
							title="Ручной душ Grohe Rainshower Icon 150 27628000 фото 1"
							class="special-offers__img catalog__img lazyload" />
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x'>
						<img data-src="images/productCardGrohe.png"
							data-srcset="images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x"
							alt="Ручной душ Grohe Rainshower Icon 150 27628000 preview 1"
							title="Ручной душ Grohe Rainshower Icon 150 27628000 фото 1"
							class="special-offers__img catalog__img lazyload" />
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x'>
						<img data-src="images/productCardGrohe.png"
							data-srcset="images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x"
							alt="Ручной душ Grohe Rainshower Icon 150 27628000 preview 1"
							title="Ручной душ Grohe Rainshower Icon 150 27628000 фото 1"
							class="special-offers__img catalog__img lazyload" />
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x'>
						<img data-src="images/productCardGrohe.png"
							data-srcset="images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x"
							alt="Ручной душ Grohe Rainshower Icon 150 27628000 preview 1"
							title="Ручной душ Grohe Rainshower Icon 150 27628000 фото 1"
							class="special-offers__img catalog__img lazyload" />
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x'>
						<img data-src="images/productCardGrohe.png"
							data-srcset="images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x"
							alt="Ручной душ Grohe Rainshower Icon 150 27628000 preview 1"
							title="Ручной душ Grohe Rainshower Icon 150 27628000 фото 1"
							class="special-offers__img catalog__img lazyload" />
					</a>
				</div>

			</div>
			<!-- Add Arrows -->
			<!-- <div class="swiper-button-next swiper-button-white"></div>
								<div class="swiper-button-prev swiper-button-white"></div> -->
		</div>
		<div class="swiper-container gallery-thumbs js-gallery-thumbs">
			<div class="thumbs-next"></div>
			<div class="thumbs-prev"></div>
			<div class="swiper-wrapper">

				<div class="swiper-slide">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/110_110_1/6f126a6371e31b7cd031455f8436f484.jpg"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<div class="iframe">
						<img src="images/for-video1.jpg" alt="">
					</div>
				</div>
				<div class="swiper-slide">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/110_110_1/6f126a6371e31b7cd031455f8436f484.jpg"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/110_110_1/6f126a6371e31b7cd031455f8436f484.jpg"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/110_110_1/6f126a6371e31b7cd031455f8436f484.jpg"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/110_110_1/6f126a6371e31b7cd031455f8436f484.jpg"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/110_110_1/6f126a6371e31b7cd031455f8436f484.jpg"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>

			</div>
		</div>
	</div>
	<div class="product-card__info">
		<div class="product__header product__header_top">
			<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star ratings__none"></div>
				<b class="ratings__number">4,5</b>
			</div>
			<a href="#reviews" data-scroll class="reviews__all">5 отзывов</a>
			<span class="product-card__key">Код товара: 327944</span>
			<div class="product-card__social">
				<!-- <a href="#" class="item js-share">
				<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
				<script src="//yastatic.net/share2/share.js"></script>
				<img src="images/share.svg" alt="">
				Поделиться
			</a> -->
				<div class="share__items">
					<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter">
					</div>
				</div>
				<a href="#" class="item favorite active">
					<p>
						Отложено
					</p>
				</a>
				<a href="#" class="item compare active">
					<p>
						В сравнении
					</p>
				</a>
			</div>
		</div>
		<div class="product__header product__header_middle">
			<span class="catalog__presence product-card__presence">в наличии</span>
			<span class="product-card__date">Обновление цен от 14 июля 2018</span>
		</div>
		<div class="product__header product__header_bottom">
			<span class="product-card__price price__dashed">354 800 <b>руб.</b>
				<span class="price__absolute">354 800 руб.
				</span>
			</span>
			<div class="product-card__cheaper cheaper">
				Нашли дешевле?
				<a href="">
					Снизим цену
				</a>
			</div>
			<div class="product-card__button">
				<a href="#" class="product-card__icons">
					Купить в 1 клик
				</a>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="product-card__buy js-product-card__buy">

				</a>
			</div>
		</div>
		<div class="product-card__type-payment type-payment">
			<div class="type-payment__item"
				data-text=' Клиент оплачивает стоимость заказа наличными средствами при получении товара.'>
				<img src="images/Payment_cash.svg" alt="">
				<img src="images/Payment_cash — color.svg" alt="">
				Наличными
			</div>
			<!-- /.type-payment__item -->
			<div class="type-payment__item"
				data-text=' Клиент оплачивает стоимость заказа банковской картой при получении товара.'>
				<img src="images/Payment_credit.svg" alt="">
				<img src="images/Payment_credit — color.svg" alt="">
				Картой при получении
			</div>
			<!-- /.type-payment__item -->
			<div class="type-payment__item"
				data-text='Клиент оплачивает стоимость заказа банковской картой на сайте. Ссылка на онлайн-оплату будет доступна после согласования с менеджером.'>
				<img src="images/Payment_bank.svg" alt="">
				<img src="images/Payment_bank — color.svg" alt="">
				Банковский перевод
			</div>
			<!-- /.type-payment__item -->
			<div class="type-payment__item"
				data-text='На электронную почту клиента высылается счет на оплату. Срок действия счета на предоплату — 3 дня.'>
				<img src="images/Combined_Shape.svg" alt="">
				<img src="images/Combined_Shape — color.svg" alt="">
				Онлайн-оплата
			</div>
			<!-- /.type-payment__item -->
		</div>
		<!-- /.product-card__type-payment type-payment -->
		<div class="product-card__delivery delivery">
			<div class="delivery__info">
				<a href="https://gr-russia.ru/delivery-and-payment/" class="delivery__link">
					Бесплатная доставка
				</a>
				<!-- /.delivery__link --> по Москве.
			</div>
			<!-- /.delivery__info -->
			<div class="delivery__info">
				Доставка в течение трех дней после заказа.
				<!-- <a href="" class="delivery__link">
					380 руб.
				</a> -->
				<!-- /.delivery__link -->
			</div>
			<!-- /.delivery__info -->
		</div>
		<div class="product-card__announcing">
			<div class="announcing__item">
				<img src="images/big/tools.svg" alt="" title="">
				<!-- <img src="images/big/tools-grey.svg" alt="" title=""> -->
				<div class="announcing__info">
					Удобная
					<a href="#" class="announcing__link">
						установка
					</a>
				</div>
			</div>
			<div class="announcing__item">
				<img src="images/big/flag-ger.svg" alt="Сделано в Германии" title="Сделано в Германии">
				Сделано в<br> Германии
			</div>
			<div class="announcing__item">
				<img src="images/big/warranty.svg" alt="Гарантия 5 лет" title="Гарантия 5 лет">
				Гарантия
				<br>
				5 лет
			</div>

			<!-- <div class="announcing__item">
			<img src="images/big/best.svg" alt="Лучшее предложение" title="Лучшее предложение">
		</div>
		<div class="announcing__item">
			<img src="images/big/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
		</div> -->
			<!-- <div class="goods-action">
				Все акции и скидки до 46%
			</div> -->
			<div class="announcing__item mobile">
				<img src="images/instruction-product-card.png" alt="" title="">
				<a href="#"><p>Все</p> <p>инструкции</p></a>
			</div>

		</div>
		<div class="product-card__rel">
			<h4>Варианты исполнения</h4>
			<div class="swiper-pagination rel__pagination"></div>
			<div class="swiper-button-prev rel__prev"></div>
			<div class="swiper-button-next rel__next"></div>
			<table class="swiper-container js-product-card__rel">
				<tbody class="swiper-wrapper">
					<tr class="swiper-slide">
						<th>
							<img class="lazyload" data-src="images/rel__img.png" alt="ICON 150 27628000" />
						</th>
						<td>
							<a href="/catalog/category/dushi/ruchnoy-dush-grohe-rainshower-icon-150-27628000.html?sku=6086"
								title="ICON 150 27628000" target="_blank">ICON 150 27628000</a>
							<div class="rel__color">
								<b>
									Цвет:
								</b>
								песочный
							</div>
							<div class="rel__text">
								с системой Eco
							</div>
							5 550 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img class="lazyload" data-src="images/rel__img-2.png" alt="ICON 150 27628000" />
						</th>
						<td>
							<a href="/catalog/category/dushi/ruchnoy-dush-grohe-rainshower-icon-150-27628000.html?sku=6087"
								title="ICON 150 27628000" target="_blank">ICON 150 27628000</a>
							<div class="rel__color">
								<b>
									Цвет:
								</b>
								песочный
							</div>
							<div class="rel__text">
								с системой Eco
							</div>
							5 550 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img class="lazyload" data-src="images/rel__img.png" alt="ICON 150 27628000" />
						</th>
						<td>
							<a href="/catalog/category/dushi/ruchnoy-dush-grohe-rainshower-icon-150-27628000.html?sku=6088"
								title="ICON 150 27628000" target="_blank">ICON 150 27628000</a>
							<div class="rel__color">
								<b>
									Цвет:
								</b>
								песочный
							</div>
							<div class="rel__text">
								с системой Eco
							</div>
							5 550 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img class="lazyload" data-src="images/rel__img-2.png" alt="ICON 150 27628000" />
						</th>
						<td>
							<a href="/catalog/category/dushi/ruchnoy-dush-grohe-rainshower-icon-150-27628000.html?sku=6089"
								title="ICON 150 27628000" target="_blank">ICON 150 27628000</a>
							<div class="rel__color">
								<b>
									Цвет:
								</b>
								песочный
							</div>
							<div class="rel__text">
								с системой Eco
							</div>
							5 550 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img class="lazyload" data-src="images/rel__img.png" alt="ICON 150 27628000" />
						</th>
						<td>
							<a href="/catalog/category/dushi/ruchnoy-dush-grohe-rainshower-icon-150-27628000.html?sku=6090"
								title="ICON 150 27628000" target="_blank">ICON 150 27628000</a>
							<div class="rel__color">
								<b>
									Цвет:
								</b>
								песочный
							</div>
							<div class="rel__text">
								с системой Eco
							</div>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- <div class="product-card__promo">
			<div class="item">
				<img src="images/promo.png" alt="">
			</div>
			<a href="#diagram" data-scroll class="item">
				Cравни похожие товары!
			</a>
		</div> -->
		<div class="product-card__scope scope">
			<div class="scope__text">
				Применение: <a href="/catalog/group/vannaya-komnata/dushi/">Ванная комната</a>
			</div>
			<div class="scope__text">
				Коллекция: <a href="/catalog/collection/rainshower-solo/">Rainshower Solo</a>
			</div>
		</div>
		<div class="catalog__prop">
			<h6>Ключевые особенности</h6>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2410">
				<img data-src="images/GROHE AquaDimmer.svg" class="icons-prop-item loaded lazyloaded"
					title="BiofreshPlus" src="images/GROHE AquaDimmer.svg" data-was-processed="true">
				<div class="popup-prop">
					<img data-src="https://l-rus.ru/upload/iblock/a4b/a4b9bd89a429e045a31248febaa4ac88.jpg"
						alt="BiofreshPlus" class="popup-prop__img lazyload">

					<div class="popup-prop__title">BiofreshPlus</div>
					<div class="popup-prop__text">Обеспечивает еще большую функциональность
						и&nbsp;позволяет рационально использовать внутреннее пространство
						холодильника в&nbsp;зависимости от&nbsp;Ваших потребностей. Электронная
						система управления встроена в&nbsp;пластину, расположенную между
						холодильной и&nbsp;морозильной камерами. С&nbsp;ее&nbsp;помощью,
						например, можно установить значение температуры в&nbsp;верхнем
						контейнере 2°С, создав тем самым оптимальные условия для хранения
						рыбы.&nbsp;
						<br>
						<br>Одновременная установка низкого уровня влажности позволит сохранить
						рыбу свежей на&nbsp;максимально длительный срок, в&nbsp;то&nbsp;время
						как установка в&nbsp;другом контейнере высокого уровня влажности при
						температуре +6°С создаст оптимальные
						условия для хранения овощей и&nbsp;фруктов. Использование современных
						технологий позволяет устанавливать в&nbsp;верхнем контейнере секции
						BioFresh любое необходимое значение температуры. Для нижнего контейнера
						можно установить любой уровень
						влажности при сохранении уровня температуры около 0°С.</div>

					<a href="/glossary/?param=2410" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2681">
				<img data-src="images/GROHE CoolTouch.svg" class="icons-prop-item loaded lazyloaded"
					title="BiofreshPlus" src="images/GROHE CoolTouch.svg" data-was-processed="true">
				<div class="popup-prop">
					<img data-src="https://l-rus.ru/upload/iblock/d91/d91a4b986f69190a62ade6d907fb3809.jpg"
						alt="IceMaker" class="popup-prop__img lazyload">

					<div class="popup-prop__title">IceMaker</div>
					<div class="popup-prop__text">IceMaker - инновационное решение для
						производства кубиков льда даже при отсутствии стационарной подачи или
						недостаточно высоком качестве питьевой воды. Для наполнения водой
						резервуар легко извлекается из холодильника.</div>

					<a href="/glossary/?param=2681" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2680">
				<img data-src="images/GROHE EcoButton.svg" class="icons-prop-item loaded lazyloaded"
					title="BiofreshPlus" src="images/GROHE EcoButton.svg" data-was-processed="true">
				<div class="popup-prop">
					<img data-src="https://l-rus.ru/upload/iblock/fc2/fc25dfc6444fe8b35dfa43fe708973da.jpg"
						alt="NoFrost" class="popup-prop__img lazyload">

					<div class="popup-prop__title">NoFrost</div>
					<div class="popup-prop__text">NoFrost – благодаря этой современной системе
						продукты замораживаются с помощью циркулирующего охлажденного воздуха,
						подающегося специальным вентилятором. Влажный воздух выводится наружу,
						что позволяет предотвратить образование инея на стенках
						морозильного отделения, и тем самым забыть о процедуре размораживания.
					</div>

					<a href="/glossary/?param=2680" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2669">
				<img data-src="images/GROHE EcoJoy.svg" class="icons-prop-item loaded lazyloaded" title="BiofreshPlus"
					src="images/GROHE EcoJoy.svg" data-was-processed="true">
				<div class="popup-prop">
					<img data-src="https://l-rus.ru/upload/resize_cache/iblock/d26/226_500_1/d260825c1cc8638844bd02f1e0d4ee53.jpg"
						alt="Энергоэффективность класса A++" class="popup-prop__img lazyload">

					<div class="popup-prop__title">Энергоэффективность класса A++</div>
					<div class="popup-prop__text">Класс А++ означает, что модель потребляет на
						20% электроэнергии меньше, чем прибор экономичного класса А.</div>

					<a href="/glossary/?param=2669" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>
			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2410">
				<img data-src="images/GROHE QuickFix.svg" class="icons-prop-item loaded lazyloaded"
					title="BiofreshPlus" src="images/GROHE QuickFix.svg" data-was-processed="true">
				<div class="popup-prop">
					<img data-src="https://l-rus.ru/upload/iblock/a4b/a4b9bd89a429e045a31248febaa4ac88.jpg"
						alt="BiofreshPlus" class="popup-prop__img lazyload">

					<div class="popup-prop__title">BiofreshPlus</div>
					<div class="popup-prop__text">Обеспечивает еще большую функциональность
						и&nbsp;позволяет рационально использовать внутреннее пространство
						холодильника в&nbsp;зависимости от&nbsp;Ваших потребностей. Электронная
						система управления встроена в&nbsp;пластину, расположенную между
						холодильной и&nbsp;морозильной камерами. С&nbsp;ее&nbsp;помощью,
						например, можно установить значение температуры в&nbsp;верхнем
						контейнере 2°С, создав тем самым оптимальные условия для хранения
						рыбы.&nbsp;
						<br>
						<br>Одновременная установка низкого уровня влажности позволит сохранить
						рыбу свежей на&nbsp;максимально длительный срок, в&nbsp;то&nbsp;время
						как установка в&nbsp;другом контейнере высокого уровня влажности при
						температуре +6°С создаст оптимальные
						условия для хранения овощей и&nbsp;фруктов. Использование современных
						технологий позволяет устанавливать в&nbsp;верхнем контейнере секции
						BioFresh любое необходимое значение температуры. Для нижнего контейнера
						можно установить любой уровень
						влажности при сохранении уровня температуры около 0°С.</div>

					<a href="/glossary/?param=2410" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2681">
				<img data-src="images/GROHE SafeStop plus.svg" class="icons-prop-item loaded lazyloaded"
					title="BiofreshPlus" src="images/GROHE SafeStop plus.svg" data-was-processed="true">
				<div class="popup-prop">
					<img data-src="https://l-rus.ru/upload/iblock/d91/d91a4b986f69190a62ade6d907fb3809.jpg"
						alt="IceMaker" class="popup-prop__img lazyload">

					<div class="popup-prop__title">IceMaker</div>
					<div class="popup-prop__text">IceMaker - инновационное решение для
						производства кубиков льда даже при отсутствии стационарной подачи или
						недостаточно высоком качестве питьевой воды. Для наполнения водой
						резервуар легко извлекается из холодильника.</div>

					<a href="/glossary/?param=2681" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2680">
				<img data-src="images/GROHE SafeStop.svg" class="icons-prop-item loaded lazyloaded"
					title="BiofreshPlus" src="images/GROHE SafeStop.svg" data-was-processed="true">
				<div class="popup-prop">
					<img data-src="https://l-rus.ru/upload/iblock/fc2/fc25dfc6444fe8b35dfa43fe708973da.jpg"
						alt="NoFrost" class="popup-prop__img lazyload">

					<div class="popup-prop__title">NoFrost</div>
					<div class="popup-prop__text">NoFrost – благодаря этой современной системе
						продукты замораживаются с помощью циркулирующего охлажденного воздуха,
						подающегося специальным вентилятором. Влажный воздух выводится наружу,
						что позволяет предотвратить образование инея на стенках
						морозильного отделения, и тем самым забыть о процедуре размораживания.
					</div>

					<a href="/glossary/?param=2680" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

		</div>
		<div class="product-card__description text-default">
			<h2>Описание</h2>
			<p>
				Grohe CTP 2921 Comfort — практичная модель в элегантном дизайне SwingLine. Прибор
				характеризуется отдельностоящим типом размещения, но при этом поддерживает
				возможность установки вплотную к стене или в готовую нишу. Технология SmartFrost
				позволяет
				значительно реже размораживать холодильник вручную.
			</p>
			<a href="#new-description" data-scroll class="description__link">Читать полностью</a>
		</div>
	</div>
</div>
<div class="product-card new-product-card">
	<span class="product-card__title">Двухкамерный холодильник Grohe СКЕР 34562 COMFORT BIOFRESH
		NOFROST NEW</span>
	<div class="product-card__slider">
		<div class="labels">
			<div class="labels__sale">
				<img class=" loaded lazyloaded" src="images/goods-action.svg" alt="">
				скидка 10 000 руб.
			</div>
			<img class=" loaded lazyloaded" src="images/new.svg" alt="Новинка">
			<img class=" loaded lazyloaded" src="images/sale.svg" alt="Акция">
			<img class=" loaded lazyloaded" src="images/hit.svg" alt="Хит продаж">
			<!-- <img class=" loaded lazyloaded" alt="Фирменная гарантия" src="images/warranty.svg">
			<img class=" loaded lazyloaded" alt="подарок" src="images/present.svg"> -->
		</div>
		<div class="swiper-pagination gallery-top__pagination"></div>
		<div class="swiper-container gallery-top js-gallery-top">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x'>
						<img data-src="images/productCardGrohe.png"
							data-srcset="images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x"
							alt="Ручной душ Grohe Rainshower Icon 150 27628000 preview 1"
							title="Ручной душ Grohe Rainshower Icon 150 27628000 фото 1"
							class="special-offers__img catalog__img lazyload" />
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x'>
						<img data-src="images/productCardGrohe.png"
							data-srcset="images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x"
							alt="Ручной душ Grohe Rainshower Icon 150 27628000 preview 1"
							title="Ручной душ Grohe Rainshower Icon 150 27628000 фото 1"
							class="special-offers__img catalog__img lazyload" />
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x'>
						<img data-src="images/productCardGrohe.png"
							data-srcset="images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x"
							alt="Ручной душ Grohe Rainshower Icon 150 27628000 preview 1"
							title="Ручной душ Grohe Rainshower Icon 150 27628000 фото 1"
							class="special-offers__img catalog__img lazyload" />
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x'>
						<img data-src="images/productCardGrohe.png"
							data-srcset="images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x"
							alt="Ручной душ Grohe Rainshower Icon 150 27628000 preview 1"
							title="Ручной душ Grohe Rainshower Icon 150 27628000 фото 1"
							class="special-offers__img catalog__img lazyload" />
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x'>
						<img data-src="images/productCardGrohe.png"
							data-srcset="images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x"
							alt="Ручной душ Grohe Rainshower Icon 150 27628000 preview 1"
							title="Ручной душ Grohe Rainshower Icon 150 27628000 фото 1"
							class="special-offers__img catalog__img lazyload" />
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x'>
						<img data-src="images/productCardGrohe.png"
							data-srcset="images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x"
							alt="Ручной душ Grohe Rainshower Icon 150 27628000 preview 1"
							title="Ручной душ Grohe Rainshower Icon 150 27628000 фото 1"
							class="special-offers__img catalog__img lazyload" />
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/productCardGrohe.png"
						data-srcset='images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x'>
						<img data-src="images/productCardGrohe.png"
							data-srcset="images/productCardGrohe@2x.png 2x,images/productCardGrohe@3x.png 3x"
							alt="Ручной душ Grohe Rainshower Icon 150 27628000 preview 1"
							title="Ручной душ Grohe Rainshower Icon 150 27628000 фото 1"
							class="special-offers__img catalog__img lazyload" />
					</a>
				</div>

			</div>
			<!-- Add Arrows -->
			<!-- <div class="swiper-button-next swiper-button-white"></div>
								<div class="swiper-button-prev swiper-button-white"></div> -->
		</div>
		<div class="swiper-container gallery-thumbs js-gallery-thumbs">
			<div class="thumbs-next"></div>
			<div class="thumbs-prev"></div>
			<div class="swiper-wrapper">

				<div class="swiper-slide">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/110_110_1/6f126a6371e31b7cd031455f8436f484.jpg"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<div class="iframe">
						<img src="images/for-video1.jpg" alt="">
					</div>
				</div>
				<div class="swiper-slide">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/110_110_1/6f126a6371e31b7cd031455f8436f484.jpg"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/110_110_1/6f126a6371e31b7cd031455f8436f484.jpg"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/110_110_1/6f126a6371e31b7cd031455f8436f484.jpg"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/110_110_1/6f126a6371e31b7cd031455f8436f484.jpg"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>
				<div class="swiper-slide">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/110_110_1/6f126a6371e31b7cd031455f8436f484.jpg"
						data-srcset="/upload/resize_cache/iblock/6f1/220_220_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/resize_cache/iblock/6f1/330_330_1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
						class="special-offers__img catalog__img lazyload" />
				</div>

			</div>
		</div>
	</div>
	<div class="product-card__info">
		<div class="product__header product__header_top">
			<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star ratings__none"></div>
				<b class="ratings__number">4,5</b>
			</div>
			<a href="#reviews" data-scroll class="reviews__all">5 отзывов</a>
			<span class="product-card__key">Код товара: 327944</span>
			<div class="product-card__social">
				<!-- <a href="#" class="item js-share">
				<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
				<script src="//yastatic.net/share2/share.js"></script>
				<img src="images/share.svg" alt="">
				Поделиться
			</a> -->
				<div class="share__items">
					<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter">
					</div>
				</div>
				<a href="#" class="item favorite active">
					<p>
						Отложено
					</p>
				</a>
				<a href="#" class="item compare active">
					<p>
						В сравнении
					</p>
				</a>
			</div>
		</div>
		<div class="product__header product__header_middle">
			<span class="catalog__presence product-card__presence">в наличии</span>
			<span class="product-card__date">Обновление цен от 14 июля 2018</span>
		</div>
		<div class="product__header product__header_bottom">
			<span class="product-card__price price__dashed">354 800 <b>руб.</b>
				<span class="price__absolute">354 800 руб.
				</span>
			</span>
			<div class="product-card__cheaper cheaper">
				Нашли дешевле?
				<a href="">
					Снизим цену
				</a>
			</div>
			<div class="product-card__button">
				<a href="#" class="product-card__icons">
					Купить в 1 клик
				</a>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="product-card__buy js-product-card__buy">

				</a>
			</div>
		</div>
		<div class="product-card__type-payment type-payment">
			<div class="type-payment__item"
				data-text=' Клиент оплачивает стоимость заказа наличными средствами при получении товара.'>
				<img src="images/Payment_cash.svg" alt="">
				<img src="images/Payment_cash — color.svg" alt="">
				Наличными
			</div>
			<!-- /.type-payment__item -->
			<div class="type-payment__item"
				data-text=' Клиент оплачивает стоимость заказа банковской картой при получении товара.'>
				<img src="images/Payment_credit.svg" alt="">
				<img src="images/Payment_credit — color.svg" alt="">
				Картой при получении
			</div>
			<!-- /.type-payment__item -->
			<div class="type-payment__item"
				data-text='Клиент оплачивает стоимость заказа банковской картой на сайте. Ссылка на онлайн-оплату будет доступна после согласования с менеджером.'>
				<img src="images/Payment_bank.svg" alt="">
				<img src="images/Payment_bank — color.svg" alt="">
				Банковский перевод
			</div>
			<!-- /.type-payment__item -->
			<div class="type-payment__item"
				data-text='На электронную почту клиента высылается счет на оплату. Срок действия счета на предоплату — 3 дня.'>
				<img src="images/Combined_Shape.svg" alt="">
				<img src="images/Combined_Shape — color.svg" alt="">
				Онлайн-оплата
			</div>
			<!-- /.type-payment__item -->
		</div>
		<!-- /.product-card__type-payment type-payment -->
		<div class="product-card__delivery delivery">
			<div class="delivery__info">
				Стоимость доставки
				<a href="https://gr-russia.ru/delivery-and-payment/" class="delivery__link">
					600 руб
				</a>
				по Москве.
				<!-- /.delivery__link -->
			</div>
			<!-- /.delivery__info -->
			<div class="delivery__info">
				Доставка в течение трех дней после заказа.
				<!-- <a href="" class="delivery__link">
					380 руб.
				</a> -->
				<!-- /.delivery__link -->
			</div>
			<!-- /.delivery__info -->
		</div>
		<div class="product-card__announcing">
			<div class="announcing__item">
				<img src="images/big/tools.svg" alt="" title="" >
				<div class="announcing__info">
					Профессиональная<br>
					<a href="https://gr-russia.ru/services/" class="announcing__link">
						установка
					</a>
				</div>
			</div>
			<div class="announcing__item">
				<img src="images/big/flag-ger.svg" alt="Сделано в Германии" title="Cделано в Германия">
				Сделано в<br> Германии
			</div>
			<div class="announcing__item">
				<img src="images/big/warranty.svg" alt="Гарантия 5 лет" title="Гарантия 5 лет">
				Гарантия
				<br>
				5 лет
			</div>

			<!-- <div class="announcing__item">
			<img src="images/big/best.svg" alt="Лучшее предложение" title="Лучшее предложение">
		</div>
		<div class="announcing__item">
			<img src="images/big/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
		</div> -->

			<div class="announcing__item mobile">
				<img src="images/instruction-product-card.png" alt="" title="">
				<a href="#"><p>Все</p> <p>инструкции</p></a>
			</div>

		</div>
		<div class="product-card__rel">
			<h4>Варианты исполнения</h4>
			<div class="swiper-pagination rel__pagination"></div>
			<div class="swiper-button-prev rel__prev"></div>
			<div class="swiper-button-next rel__next"></div>
			<table class="swiper-container js-product-card__rel">
				<tbody class="swiper-wrapper">
					<tr class="swiper-slide">
						<th>
							<img class="lazyload" data-src="images/rel__img.png" alt="ICON 150 27628000" />
						</th>
						<td>
							<a href="/catalog/category/dushi/ruchnoy-dush-grohe-rainshower-icon-150-27628000.html?sku=6086"
								title="ICON 150 27628000" target="_blank">ICON 150 27628000</a>
							<div class="rel__color">
								<b>
									Цвет:
								</b>
								песочный
							</div>
							<div class="rel__text">
								с системой Eco
							</div>
							5 550 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img class="lazyload" data-src="images/rel__img-2.png" alt="ICON 150 27628000" />
						</th>
						<td>
							<a href="/catalog/category/dushi/ruchnoy-dush-grohe-rainshower-icon-150-27628000.html?sku=6087"
								title="ICON 150 27628000" target="_blank">ICON 150 27628000</a>
							<div class="rel__color">
								<b>
									Цвет:
								</b>
								песочный
							</div>
							<div class="rel__text">
								с системой Eco
							</div>
							5 550 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img class="lazyload" data-src="images/rel__img.png" alt="ICON 150 27628000" />
						</th>
						<td>
							<a href="/catalog/category/dushi/ruchnoy-dush-grohe-rainshower-icon-150-27628000.html?sku=6088"
								title="ICON 150 27628000" target="_blank">ICON 150 27628000</a>
							<div class="rel__color">
								<b>
									Цвет:
								</b>
								песочный
							</div>
							<div class="rel__text">
								с системой Eco
							</div>
							5 550 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img class="lazyload" data-src="images/rel__img-2.png" alt="ICON 150 27628000" />
						</th>
						<td>
							<a href="/catalog/category/dushi/ruchnoy-dush-grohe-rainshower-icon-150-27628000.html?sku=6089"
								title="ICON 150 27628000" target="_blank">ICON 150 27628000</a>
							<div class="rel__color">
								<b>
									Цвет:
								</b>
								песочный
							</div>
							<div class="rel__text">
								с системой Eco
							</div>
							5 550 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img class="lazyload" data-src="images/rel__img.png" alt="ICON 150 27628000" />
						</th>
						<td>
							<a href="/catalog/category/dushi/ruchnoy-dush-grohe-rainshower-icon-150-27628000.html?sku=6090"
								title="ICON 150 27628000" target="_blank">ICON 150 27628000</a>
							<div class="rel__color">
								<b>
									Цвет:
								</b>
								песочный
							</div>
							<div class="rel__text">
								с системой Eco
							</div>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- <div class="product-card__promo">
			<div class="item">
				<img src="images/promo.png" alt="">
			</div>
			<a href="#diagram" data-scroll class="item">
				Cравни похожие товары!
			</a>
		</div> -->
		<div class="product-card__scope scope">
			<div class="scope__text">
				Применение: <a href="/catalog/group/vannaya-komnata/dushi/">Ванная комната</a>
			</div>
			<div class="scope__text">
				Коллекция: <a href="/catalog/collection/rainshower-solo/">Rainshower Solo</a>
			</div>
		</div>
		<div class="catalog__prop">
			<h6>Ключевые особенности</h6>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2410">
				<img data-src="images/GROHE AquaDimmer.svg" class="icons-prop-item loaded lazyloaded"
					title="BiofreshPlus" src="images/GROHE AquaDimmer.svg" data-was-processed="true">
				<div class="popup-prop">
					<img data-src="https://l-rus.ru/upload/iblock/a4b/a4b9bd89a429e045a31248febaa4ac88.jpg"
						alt="BiofreshPlus" class="popup-prop__img lazyload">

					<div class="popup-prop__title">BiofreshPlus</div>
					<div class="popup-prop__text">Обеспечивает еще большую функциональность
						и&nbsp;позволяет рационально использовать внутреннее пространство
						холодильника в&nbsp;зависимости от&nbsp;Ваших потребностей. Электронная
						система управления встроена в&nbsp;пластину, расположенную между
						холодильной и&nbsp;морозильной камерами. С&nbsp;ее&nbsp;помощью,
						например, можно установить значение температуры в&nbsp;верхнем
						контейнере 2°С, создав тем самым оптимальные условия для хранения
						рыбы.&nbsp;
						<br>
						<br>Одновременная установка низкого уровня влажности позволит сохранить
						рыбу свежей на&nbsp;максимально длительный срок, в&nbsp;то&nbsp;время
						как установка в&nbsp;другом контейнере высокого уровня влажности при
						температуре +6°С создаст оптимальные
						условия для хранения овощей и&nbsp;фруктов. Использование современных
						технологий позволяет устанавливать в&nbsp;верхнем контейнере секции
						BioFresh любое необходимое значение температуры. Для нижнего контейнера
						можно установить любой уровень
						влажности при сохранении уровня температуры около 0°С.</div>

					<a href="/glossary/?param=2410" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2681">
				<img data-src="images/GROHE CoolTouch.svg" class="icons-prop-item loaded lazyloaded"
					title="BiofreshPlus" src="images/GROHE CoolTouch.svg" data-was-processed="true">
				<div class="popup-prop">
					<img data-src="https://l-rus.ru/upload/iblock/d91/d91a4b986f69190a62ade6d907fb3809.jpg"
						alt="IceMaker" class="popup-prop__img lazyload">

					<div class="popup-prop__title">IceMaker</div>
					<div class="popup-prop__text">IceMaker - инновационное решение для
						производства кубиков льда даже при отсутствии стационарной подачи или
						недостаточно высоком качестве питьевой воды. Для наполнения водой
						резервуар легко извлекается из холодильника.</div>

					<a href="/glossary/?param=2681" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2680">
				<img data-src="images/GROHE EcoButton.svg" class="icons-prop-item loaded lazyloaded"
					title="BiofreshPlus" src="images/GROHE EcoButton.svg" data-was-processed="true">
				<div class="popup-prop">
					<img data-src="https://l-rus.ru/upload/iblock/fc2/fc25dfc6444fe8b35dfa43fe708973da.jpg"
						alt="NoFrost" class="popup-prop__img lazyload">

					<div class="popup-prop__title">NoFrost</div>
					<div class="popup-prop__text">NoFrost – благодаря этой современной системе
						продукты замораживаются с помощью циркулирующего охлажденного воздуха,
						подающегося специальным вентилятором. Влажный воздух выводится наружу,
						что позволяет предотвратить образование инея на стенках
						морозильного отделения, и тем самым забыть о процедуре размораживания.
					</div>

					<a href="/glossary/?param=2680" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2669">
				<img data-src="images/GROHE EcoJoy.svg" class="icons-prop-item loaded lazyloaded" title="BiofreshPlus"
					src="images/GROHE EcoJoy.svg" data-was-processed="true">
				<div class="popup-prop">
					<img data-src="https://l-rus.ru/upload/resize_cache/iblock/d26/226_500_1/d260825c1cc8638844bd02f1e0d4ee53.jpg"
						alt="Энергоэффективность класса A++" class="popup-prop__img lazyload">

					<div class="popup-prop__title">Энергоэффективность класса A++</div>
					<div class="popup-prop__text">Класс А++ означает, что модель потребляет на
						20% электроэнергии меньше, чем прибор экономичного класса А.</div>

					<a href="/glossary/?param=2669" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>
			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2410">
				<img data-src="images/GROHE QuickFix.svg" class="icons-prop-item loaded lazyloaded"
					title="BiofreshPlus" src="images/GROHE QuickFix.svg" data-was-processed="true">
				<div class="popup-prop">
					<img data-src="https://l-rus.ru/upload/iblock/a4b/a4b9bd89a429e045a31248febaa4ac88.jpg"
						alt="BiofreshPlus" class="popup-prop__img lazyload">

					<div class="popup-prop__title">BiofreshPlus</div>
					<div class="popup-prop__text">Обеспечивает еще большую функциональность
						и&nbsp;позволяет рационально использовать внутреннее пространство
						холодильника в&nbsp;зависимости от&nbsp;Ваших потребностей. Электронная
						система управления встроена в&nbsp;пластину, расположенную между
						холодильной и&nbsp;морозильной камерами. С&nbsp;ее&nbsp;помощью,
						например, можно установить значение температуры в&nbsp;верхнем
						контейнере 2°С, создав тем самым оптимальные условия для хранения
						рыбы.&nbsp;
						<br>
						<br>Одновременная установка низкого уровня влажности позволит сохранить
						рыбу свежей на&nbsp;максимально длительный срок, в&nbsp;то&nbsp;время
						как установка в&nbsp;другом контейнере высокого уровня влажности при
						температуре +6°С создаст оптимальные
						условия для хранения овощей и&nbsp;фруктов. Использование современных
						технологий позволяет устанавливать в&nbsp;верхнем контейнере секции
						BioFresh любое необходимое значение температуры. Для нижнего контейнера
						можно установить любой уровень
						влажности при сохранении уровня температуры около 0°С.</div>

					<a href="/glossary/?param=2410" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2681">
				<img data-src="images/GROHE SafeStop plus.svg" class="icons-prop-item loaded lazyloaded"
					title="BiofreshPlus" src="images/GROHE SafeStop plus.svg" data-was-processed="true">
				<div class="popup-prop">
					<img data-src="https://l-rus.ru/upload/iblock/d91/d91a4b986f69190a62ade6d907fb3809.jpg"
						alt="IceMaker" class="popup-prop__img lazyload">

					<div class="popup-prop__title">IceMaker</div>
					<div class="popup-prop__text">IceMaker - инновационное решение для
						производства кубиков льда даже при отсутствии стационарной подачи или
						недостаточно высоком качестве питьевой воды. Для наполнения водой
						резервуар легко извлекается из холодильника.</div>

					<a href="/glossary/?param=2681" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2680">
				<img data-src="images/GROHE SafeStop.svg" class="icons-prop-item loaded lazyloaded"
					title="BiofreshPlus" src="images/GROHE SafeStop.svg" data-was-processed="true">
				<div class="popup-prop">
					<img data-src="https://l-rus.ru/upload/iblock/fc2/fc25dfc6444fe8b35dfa43fe708973da.jpg"
						alt="NoFrost" class="popup-prop__img lazyload">

					<div class="popup-prop__title">NoFrost</div>
					<div class="popup-prop__text">NoFrost – благодаря этой современной системе
						продукты замораживаются с помощью циркулирующего охлажденного воздуха,
						подающегося специальным вентилятором. Влажный воздух выводится наружу,
						что позволяет предотвратить образование инея на стенках
						морозильного отделения, и тем самым забыть о процедуре размораживания.
					</div>

					<a href="/glossary/?param=2680" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

		</div>
		<div class="product-card__description text-default">
			<h2>Описание</h2>
			<p>
				Grohe CTP 2921 Comfort — практичная модель в элегантном дизайне SwingLine. Прибор
				характеризуется отдельностоящим типом размещения, но при этом поддерживает
				возможность установки вплотную к стене или в готовую нишу. Технология SmartFrost
				позволяет
				значительно реже размораживать холодильник вручную.
			</p>
			<a href="#new-description" data-scroll class="description__link">Читать полностью</a>
		</div>
	</div>
</div>
