	<div class="new-items special-offers">
		<div class="container">
			<div class="new-items__caption">
				<span class="special-offers__title new-items__title">Новинки</span>
				<span class="new-items__how"><i>7</i>новинок</span>
			</div>

			<!-- Slider main container -->
			<div class="swiper-container swiper-container-three js-swiper-three">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper special-offers__wrapper">

					<div class="swiper-slide special-offers__slide new-items__slide js-ecom_product-item" data-id="6328"
						id="bx_3589829689_6330">
						<a class="special-offers__pic"
							href="/catalog/category/dushi/verkhniy-dush-grohe-rainshower-duo-26254000.html?sku=6328"
							title="Верхний душ Grohe Rainshower Duo 26254000">
							<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6aa/205_205_1/6aa9fd236ed10399b9417cb2a77c78b0.jpg"
								data-srcset="/upload/resize_cache/iblock/6aa/410_410_1/6aa9fd236ed10399b9417cb2a77c78b0.jpg 2x,/upload/resize_cache/iblock/6aa/615_615_1/6aa9fd236ed10399b9417cb2a77c78b0.jpg 3x"
								class="special-offers__img lazyload" />
						</a>
						<a href="/catalog/category/dushi/verkhniy-dush-grohe-rainshower-duo-26254000.html?sku=6328"
							title="Верхний душ Grohe Rainshower Duo 26254000" class="special-offers__text">Верхний душ
							Grohe Rainshower Duo 26254000</a>
						<div class="special-offers__sale">

							<span class="special-offers__price">37 800 <i class="special-offers__rub">руб.</i></span>

							<a href="" title="купить" class="js-add2basket special-offers__buy" data-id="6328">купить</a>

						</div>

						<!-- begin label -->
						<div class="announcing">

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/new.svg"
									alt="Новинка" title="Новинка" /></div>

						</div>
						<!-- end label -->

					</div>

					<div class="swiper-slide special-offers__slide new-items__slide js-ecom_product-item" data-id="6327"
						id="bx_3589829689_6327">
						<a class="special-offers__pic"
							href="/catalog/category/dushi/dushevaya-sistema-s-termostatom-grohe-euphoria-system-27296002.html"
							title="Душевая система с термостатом Grohe Euphoria System 27296002">
							<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/cc2/205_205_1/cc27295359a6ddbd766c7a64c8de7a05.jpg"
								data-srcset="/upload/resize_cache/iblock/cc2/410_410_1/cc27295359a6ddbd766c7a64c8de7a05.jpg 2x,/upload/resize_cache/iblock/cc2/615_615_1/cc27295359a6ddbd766c7a64c8de7a05.jpg 3x"
								class="special-offers__img lazyload" />
						</a>
						<a href="/catalog/category/dushi/dushevaya-sistema-s-termostatom-grohe-euphoria-system-27296002.html"
							title="Душевая система с термостатом Grohe Euphoria System 27296002"
							class="special-offers__text">Душевая система с термостатом Grohe Euphoria
							System 27296002</a>
						<div class="special-offers__sale">

							<span class="special-offers__price">37 350 <i class="special-offers__rub">руб.</i></span>

							<a href="" title="купить" class="js-add2basket special-offers__buy" data-id="6327">купить</a>

						</div>

						<!-- begin label -->
						<div class="announcing">

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/new.svg"
									alt="Новинка" title="Новинка" /></div>

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/s_garanty.svg"
									alt="Фирменная гарантия" title="Фирменная гарантия" /></div>

						</div>
						<!-- end label -->

					</div>

					<div class="swiper-slide special-offers__slide new-items__slide js-ecom_product-item" data-id="6260"
						id="bx_3589829689_6260">
						<a class="special-offers__pic"
							href="/catalog/category/termostaty/termostat-grohe-grohtherm-smartcontrol-dlya-dusha-29123000-verkhnyaya-montazhnaya-chast.html"
							title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)">
							<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/d30/205_205_1/d30e7451d56c9592840ad9f2aa7c7ae6.jpg"
								data-srcset="/upload/resize_cache/iblock/d30/410_410_1/d30e7451d56c9592840ad9f2aa7c7ae6.jpg 2x,/upload/resize_cache/iblock/d30/615_615_1/d30e7451d56c9592840ad9f2aa7c7ae6.jpg 3x"
								class="special-offers__img lazyload" />
						</a>
						<a href="/catalog/category/termostaty/termostat-grohe-grohtherm-smartcontrol-dlya-dusha-29123000-verkhnyaya-montazhnaya-chast.html"
							title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)"
							class="special-offers__text">Термостат Grohe Grohtherm SmartControl для душа
							29123000 (верхняя монтажная часть)</a>
						<div class="special-offers__sale">

							<span class="special-offers__price">32 500 <i class="special-offers__rub">руб.</i></span>

							<a href="" title="купить" class="js-add2basket special-offers__buy" data-id="6260">купить</a>

						</div>

						<!-- begin label -->
						<div class="announcing">

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/new.svg"
									alt="Новинка" title="Новинка" /></div>

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/s_garanty.svg"
									alt="Фирменная гарантия" title="Фирменная гарантия" /></div>

						</div>
						<!-- end label -->

					</div>

					<div class="swiper-slide special-offers__slide new-items__slide js-ecom_product-item" data-id="6258"
						id="bx_3589829689_6258">
						<a class="special-offers__pic"
							href="/catalog/category/termostaty/termostat-grohe-rapido-smartbox-universalnyy-35600000.html"
							title="Термостат Grohe Rapido Smartbox универсальный 35600000">
							<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/208/205_205_1/20826193f6dad7356dfe6ce0577f9efa.jpg"
								data-srcset="/upload/resize_cache/iblock/208/410_410_1/20826193f6dad7356dfe6ce0577f9efa.jpg 2x,/upload/resize_cache/iblock/208/615_615_1/20826193f6dad7356dfe6ce0577f9efa.jpg 3x"
								class="special-offers__img lazyload" />
						</a>
						<a href="/catalog/category/termostaty/termostat-grohe-rapido-smartbox-universalnyy-35600000.html"
							title="Термостат Grohe Rapido Smartbox универсальный 35600000"
							class="special-offers__text">Термостат Grohe Rapido Smartbox универсальный
							35600000</a>
						<div class="special-offers__sale">

							<span class="special-offers__price">5 050 <i class="special-offers__rub">руб.</i></span>

							<a href="" title="купить" class="js-add2basket special-offers__buy" data-id="6258">купить</a>

						</div>

						<!-- begin label -->
						<div class="announcing">

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/new.svg"
									alt="Новинка" title="Новинка" /></div>

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/s_garanty.svg"
									alt="Фирменная гарантия" title="Фирменная гарантия" /></div>

						</div>
						<!-- end label -->

					</div>

					<div class="swiper-slide special-offers__slide new-items__slide js-ecom_product-item" data-id="6257"
						id="bx_3589829689_6257">
						<a class="special-offers__pic"
							href="/catalog/category/termostaty/termostat-grohe-grohtherm-1000-dlya-vanny-dn-15-34155003.html"
							title="Термостат Grohe Grohtherm 1000 для ванны DN 15 34155003">
							<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/620/205_205_1/62079db2fe6367c762c79721e25e0158.jpg"
								data-srcset="/upload/resize_cache/iblock/620/410_410_1/62079db2fe6367c762c79721e25e0158.jpg 2x,/upload/resize_cache/iblock/620/615_615_1/62079db2fe6367c762c79721e25e0158.jpg 3x"
								class="special-offers__img lazyload" />
						</a>
						<a href="/catalog/category/termostaty/termostat-grohe-grohtherm-1000-dlya-vanny-dn-15-34155003.html"
							title="Термостат Grohe Grohtherm 1000 для ванны DN 15 34155003"
							class="special-offers__text">Термостат Grohe Grohtherm 1000 для ванны DN 15
							34155003</a>
						<div class="special-offers__sale">

							<span class="special-offers__price">18 250 <i class="special-offers__rub">руб.</i></span>

							<a href="" title="купить" class="js-add2basket special-offers__buy" data-id="6257">купить</a>

						</div>

						<!-- begin label -->
						<div class="announcing">

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/new.svg"
									alt="Новинка" title="Новинка" /></div>

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/s_garanty.svg"
									alt="Фирменная гарантия" title="Фирменная гарантия" /></div>

						</div>
						<!-- end label -->

					</div>

					<div class="swiper-slide special-offers__slide new-items__slide js-ecom_product-item" data-id="6253"
						id="bx_3589829689_6253">
						<a class="special-offers__pic"
							href="/catalog/category/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
							title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003">
							<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/bcb/205_205_1/bcb0da928271d7cd428a8dacfaae2f76.jpg"
								data-srcset="/upload/resize_cache/iblock/bcb/410_410_1/bcb0da928271d7cd428a8dacfaae2f76.jpg 2x,/upload/resize_cache/iblock/bcb/615_615_1/bcb0da928271d7cd428a8dacfaae2f76.jpg 3x"
								class="special-offers__img lazyload" />
						</a>
						<a href="/catalog/category/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
							title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003"
							class="special-offers__text">Термостат Grohe Grohtherm 1000 для душа DN 15
							34143003</a>
						<div class="special-offers__sale">

							<span class="special-offers__price">14 250 <i class="special-offers__rub">руб.</i></span>

							<a href="" title="купить" class="js-add2basket special-offers__buy" data-id="6253">купить</a>

						</div>

						<!-- begin label -->
						<div class="announcing">

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/s_sale.svg"
									alt="Акция" title="Акция" /></div>

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/new.svg"
									alt="Новинка" title="Новинка" /></div>
							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/best.svg"
									alt="Хит продаж" title="Хит продаж" /></div>

							<div class="announcing__item"><img class="lazyload"
									data-src="https://grohe.l-rus.ru/mockup/templates/main/build/images/small/s_garanty.svg"
									alt="Фирменная гарантия" title="Фирменная гарантия" /></div>

						</div>
						<!-- end label -->

					</div>

					<div class="swiper-slide special-offers__slide new-items__slide js-ecom_product-item" data-id="6085"
						id="bx_3589829689_5219">
						<a class="special-offers__pic"
							href="/catalog/category/dushi/ruchnoy-dush-grohe-rainshower-icon-150-27628000.html?sku=6085"
							title="Ручной душ Grohe Rainshower Icon 150 27628000">
							<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/205_205_1/6f126a6371e31b7cd031455f8436f484.jpg"
								data-srcset="/upload/resize_cache/iblock/6f1/410_410_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/iblock/6f1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
								class="special-offers__img lazyload" />
						</a>
						<a href="/catalog/category/dushi/ruchnoy-dush-grohe-rainshower-icon-150-27628000.html?sku=6085"
							title="Ручной душ Grohe Rainshower Icon 150 27628000" class="special-offers__text">Ручной душ
							Grohe Rainshower Icon 150
							27628000</a>
						<div class="special-offers__sale">

							<span class="special-offers__price">5 550 <i class="special-offers__rub">руб.</i></span>

							<a href="" title="купить" class="js-add2basket special-offers__buy" data-id="6085">купить</a>

						</div>

						<!-- begin label -->
						<div class="announcing">

						</div>
						<!-- end label -->

					</div>

				</div>

				<!-- If we need navigation buttons -->

				<!-- If we need scrollbar -->
				<div class="swiper-scrollbar"></div>
			</div>
			<div class="swiper-pagination_3"></div>

			<a href="/catalog/category/type-novelty/" title="Посмотреть все новинки" class="new-items__link">Посмотреть все
				новинки</a>

			<div class="swiper-button-prev new-items_prev"></div>
			<div class="swiper-button-next new-items_next"></div>
		</div>

	</div>
