	<div class="tags main-tags">
		<div class="tags__title">Подборки популярных запросов</div>
		<div class="tags__container">
			<ul class="tags__list">

				<li class="tags__item " id="bx_3485106786_6283">
					<a href="/catalog/category/termostaty/recommend/nastennye/dlya-vannoi/" title="Настенные для ванной"
						class="tags__link">Настенные для ванной</a>
				</li>

				<li class="tags__item " id="bx_3485106786_6283">
					<a href="/catalog/category/termostaty/recommend/nastennye/dlya-vannoi/" title="Настенные для ванной"
						class="tags__link">Настенные для ванной</a>
				</li>

				<li class="tags__item " id="bx_3485106786_6283">
					<a href="/catalog/category/termostaty/recommend/nastennye/dlya-vannoi/" title="Настенные для ванной"
						class="tags__link">Настенные для ванной</a>
				</li>

				<li class="tags__item " id="bx_3485106786_6283">
					<a href="/catalog/category/termostaty/recommend/nastennye/dlya-vannoi/" title="Настенные для ванной"
						class="tags__link">Настенные для ванной</a>
				</li>

				<li class="tags__item " id="bx_3485106786_6283">
					<a href="/catalog/category/termostaty/recommend/nastennye/dlya-vannoi/" title="Настенные для ванной"
						class="tags__link">Настенные для ванной</a>
				</li>

			</ul>
		</div>

		<a class="tags__all" title="Все теги" href="/tags/holodilniki/">Все теги</a>

	</div>
