<div class="collections">
	<div class="collections__title">Линейки смесителей</div>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<div class="collections__title">В классическом стиле</div>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<div class="collections__title">Смесители для кухни</div>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
	<a href="" class="collections__link">Grohtherm 1000 Cosmopolitan</a>
</div>
<div class="all-video__bottom">
	<a class="load-more" href="#">Загрузить еще</a>
	<div class="pagination">
		<a href="#" class="pagination__prev"></a>
		<a href="#" class="pagination__item pagination__item_state_current">1</a>
		<a href="#" class="pagination__item">2</a>
		<a href="#" class="pagination__item">3</a>
		<a href="#" class="pagination__more">...</a>
		<a href="#" class="pagination__item">12</a>
		<a href="#" class="pagination__next"></a>
	</div>
	<!-- /.pagination -->
</div>
<div class="catalog__description description">

	<!-- begin seo-text -->

	<div class="description__text">

		<h2>Особенности однокамерных</h2>
		<p>
			Холодильник с&nbsp;одной камерой может иметь как компактные размер, так
			и&nbsp;быть полноразмерным.
			Небольшие приборы без морозилки удобно использовать в&nbsp;малогабаритном
			помещении. Их&nbsp;можно
			размещать под столешницей, чтобы сохранить полезную
			площадь. Полноразмерные модели пригодятся для запасливых людей и&nbsp;больших
			семей. Технику средних
			размеров (высотой до&nbsp;165&nbsp;см) можно разместить рядом
			с&nbsp;такой&nbsp;же морозильной камерой,
			создав комплект. Тем более, что модели
			представлены в&nbsp;различных цветах. Это позволяет подобрать выгодное сочетание
			для любого интерьера.
		</p>
		<p>
			<b>Система управления</b>
		</p>
		<p>
			Морозилки Либхер оснащены по последнему слову техники. К примеру , в модели G 1223 Comfort есть функция
			SuperFrost.
			Она служит для быстрого замораживания и будет полезна для тех, кто делает заготовки на зиму: замороженные
			ягоды и
			овощи. Благодаря такой опции продукты меньше слипаются и способны лучше сохранять цвет и вкус. После
			окончания
			процесса программа отключается автоматически.

		</p>

		<p>
			FrostSafe — система прозрачных выдвижных контейнеров. Герметичность ящиков не позволяет проникнуть внутрь
			влажному
			теплому воздуху при открывании дверцы. Это значит, что не происходит снижения температуры внутри контейнера
			и
			оттаивания продуктов. Как следствие, они лучше и дольше хранятся. Такие контейнеры предусмотрены в моделях:
			GP 1376
			Premium — 4 контейнера, GX 823 Comfort — 2 контейнера.

		</p>

		<p>
			Прибор GN 1923 оснащен дополнительно такой системой как VarioSpace. В камере используются контейнеры,
			которые можно
			выдвинуть, освободив пространство для крупных продуктов. Особая конструкция не позволяет соприкасаться
			продуктам, а
			специальное покрытие защищает от прилипания к стенкам.

		</p>

		<p>
			Дачи также не обделены вниманием. Есть отличное морозильное оборудование и для них. К примеру, небольшие
			отдельностоящие агрегаты с возможностью работы при температурных условиях до −15 °С. Такую морозильную
			камеру можно
			поставить в неотапливаемом помещении или не утепленной лоджии.

		</p>

		<p>
			Для лоджии или дачи также можно использовать морозильные лари. Сейчас они повсеместно применяются для
			хранения
			продуктов в торговых залах и складских помещениях. Прибор быстро замораживает продукцию при температуре −32
			°С и
			потребляет мало энергии.

		</p>

		<p>
			Компания Либхерр внимательно относится ко всем нюансам в конструкции техники. Например, топовые модели ларей
			оснащены
			системой SoftSystem. Эта технология призвана обеспечить плотное, но при этом аккуратное и безопасное
			запирание
			дверцы. Это продвинутый доводчик, который не даст крышке резко упасть. Она будет закрываться плавно, без
			хлопков, что
			не только очень удобно, но и снижает негативное механическое воздействие на уплотнители и твердые элементы
			дверцы,
			продлевая срок службы агрегата.
		</p>

	</div>

	<!-- end seo-text -->

</div>
<div class="recently-watched js-recently-watched js-catalog_viewed">
	<div class="recently-watched__title">
		Вы недавно смотрели
	</div>
	<div class="swiper-pagination-recently-watched swiper-pagination"></div>
	<div class="swiper-button-prev recently-watched__prev"></div>
	<div class="swiper-button-next recently-watched__next"></div>
	<div class="recently-watched__reset js-viewed_remove-all">Сбросить просмотренное</div>
	<div class="swiper-container js-ecom_product-list" data-list="ViewsList">
		<div class="swiper-wrapper">

			<div class="swiper-slide js-catalog_item js-ecom_product-item" data-id="6260">
				<a href="/catalog/category/termostaty/termostat-grohe-grohtherm-smartcontrol-dlya-dusha-29123000-verkhnyaya-montazhnaya-chast.html"
					title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)"
					class="recently-watched__pic">
					<img class="lazyload"
						data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/d30/110_128_1/d30e7451d56c9592840ad9f2aa7c7ae6.jpg"
						alt="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)" />
				</a>
				<a href="/catalog/category/termostaty/termostat-grohe-grohtherm-smartcontrol-dlya-dusha-29123000-verkhnyaya-montazhnaya-chast.html"
					title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)"
					class="recently-watched__text">
					Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть) <span
						class="recently-watched__price">32 500 <i class="recently-watched__rub">руб.</i></span>
				</a>
				<div class="recently-watched__close js-viewed_remove"></div>

			</div>

			<div class="swiper-slide js-catalog_item js-ecom_product-item" data-id="6257">
				<a href="/catalog/category/termostaty/termostat-grohe-grohtherm-1000-dlya-vanny-dn-15-34155003.html"
					title="Термостат Grohe Grohtherm 1000 для ванны DN 15 34155003" class="recently-watched__pic">
					<img class="lazyload"
						data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/620/110_128_1/62079db2fe6367c762c79721e25e0158.jpg"
						alt="Термостат Grohe Grohtherm 1000 для ванны DN 15 34155003" />
				</a>
				<a href="/catalog/category/termostaty/termostat-grohe-grohtherm-1000-dlya-vanny-dn-15-34155003.html"
					title="Термостат Grohe Grohtherm 1000 для ванны DN 15 34155003" class="recently-watched__text">
					Термостат Grohe Grohtherm 1000 для ванны DN 15 34155003 <span class="recently-watched__price">18 250
						<i class="recently-watched__rub">руб.</i></span>
				</a>
				<div class="recently-watched__close js-viewed_remove"></div>

			</div>

			<div class="swiper-slide js-catalog_item js-ecom_product-item" data-id="4554">
				<a href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-gladkiy-korpus-23337000.html"
					title="Смеситель Grohe BauLoop для раковины, гладкий корпус 23337000" class="recently-watched__pic">
					<img class="lazyload"
						data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/819/110_128_1/819ab0972ce43e872c179e9667e6c00a.jpg"
						alt="Смеситель Grohe BauLoop для раковины, гладкий корпус 23337000" />
				</a>
				<a href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-gladkiy-korpus-23337000.html"
					title="Смеситель Grohe BauLoop для раковины, гладкий корпус 23337000"
					class="recently-watched__text">
					Смеситель Grohe BauLoop для раковины, гладкий корпус 23337000 <span
						class="recently-watched__price">4 450 <i class="recently-watched__rub">руб.</i></span>
				</a>
				<div class="recently-watched__close js-viewed_remove"></div>

			</div>

			<div class="swiper-slide js-catalog_item js-ecom_product-item" data-id="4542">
				<a href="/catalog/category/smesiteli/smesitel-grohe-allure-brilliant-23029000-.html"
					title="Смеситель Grohe Allure brilliant 23029000" class="recently-watched__pic">
					<img class="lazyload"
						data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/b04/110_128_1/b04d211fd7a73af02fa240982adf981f.jpg"
						alt="Смеситель Grohe Allure brilliant 23029000" />
				</a>
				<a href="/catalog/category/smesiteli/smesitel-grohe-allure-brilliant-23029000-.html"
					title="Смеситель Grohe Allure brilliant 23029000" class="recently-watched__text">
					Смеситель Grohe Allure brilliant 23029000 <span class="recently-watched__price">28 350 <i
							class="recently-watched__rub">руб.</i></span>
				</a>
				<div class="recently-watched__close js-viewed_remove"></div>

			</div>

			<div class="swiper-slide js-catalog_item js-ecom_product-item" data-id="4573">
				<a href="/catalog/category/smesiteli/smesitel-grohe-atrio-jota-dlya-bide-dn-15-24010000.html"
					title="Смеситель Grohe Atrio jota для биде DN 15 24010000" class="recently-watched__pic">
					<img class="lazyload"
						data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/a51/110_128_1/a51258d1f119f852c635d329855e8c68.jpg"
						alt="Смеситель Grohe Atrio jota для биде DN 15 24010000" />
				</a>
				<a href="/catalog/category/smesiteli/smesitel-grohe-atrio-jota-dlya-bide-dn-15-24010000.html"
					title="Смеситель Grohe Atrio jota для биде DN 15 24010000" class="recently-watched__text">
					Смеситель Grohe Atrio jota для биде DN 15 24010000 <span class="recently-watched__price">17 150 <i
							class="recently-watched__rub">руб.</i></span>
				</a>
				<div class="recently-watched__close js-viewed_remove"></div>

			</div>

			<div class="swiper-slide js-catalog_item js-ecom_product-item" data-id="5598">
				<a href="/catalog/category/aksessuary/mekhanizm-skrytogo-ventilya-grohe-29802000.html"
					title="Механизм скрытого вентиля Grohe 29802000" class="recently-watched__pic">
					<img class="lazyload"
						data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/000/110_128_1/00096eb9158722d47c548f978c5aaee4.jpg"
						alt="Механизм скрытого вентиля Grohe 29802000" />
				</a>
				<a href="/catalog/category/aksessuary/mekhanizm-skrytogo-ventilya-grohe-29802000.html"
					title="Механизм скрытого вентиля Grohe 29802000" class="recently-watched__text">
					Механизм скрытого вентиля Grohe 29802000 <span class="recently-watched__price">2 750 <i
							class="recently-watched__rub">руб.</i></span>
				</a>
				<div class="recently-watched__close js-viewed_remove"></div>

			</div>

		</div>
	</div>
</div>
