<div class="content-top"
	style="background-image: url(https://grohe.l-rus.ru/upload/iblock/b3b/b3b26b941b3c4b84882f2793645a344c.jpg);">
	<div class="content-top__inner">
		<div class="container">

			<div class="breadcrumbs">
				<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
					<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
						itemtype="http://schema.org/ListItem"><a href="/" title="Главная" itemprop="item"><span
								itemprop="name">Grohe</span></a>
						<meta itemprop="position" content="1">
					</div>
					<div class="breadcrumbs__sep">»</div>
					<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
						itemtype="http://schema.org/ListItem"><span itemprop="name">Смесители</span><a itemprop="item"
							href="/catalog/category/smesiteli/" title="Смесители"></a>
						<meta itemprop="position" content="2">
					</div>
				</div>
			</div>
			<div class="content-top__aside">
				<h1 class="page__title content-top__title content-top__title_top">
					Смесители Grohe </h1>

				<div class="page__title content-top__title content-top__title_bottom">

					<p style="text-align: justify;">
						Смесители Grohe надолго сохраняют эстетичный внешний вид за&nbsp;счет защитного покрытия
						StarLight. Керамический картридж SilkMove обеспечивает плавный ход рычага на&nbsp;протяжение
						всего срока службы изделия. Даже через несколько лет использования настроить температуру
						и&nbsp;напор воды будет так&nbsp;же просто, как и&nbsp;в&nbsp;день покупки.
					</p>
					<p style="text-align: justify;">
						Среди новинок Грохе&nbsp;— приборы с&nbsp;функцией подачи фильтрованной питьевой воды: горячей,
						холодной или газированной. В&nbsp;интернет-магазине представлены модели для ванной, для душа,
						для кухни и&nbsp;для туалетной комнаты разного способа установки.
					</p>

				</div>
			</div>

		</div>

	</div>
</div>
