<div class="menu" aria-expanded="false">
	<div class="city-change js-city-change">
		<div class="city-change__title">Москва</div>
		<div class="city-change__bullet"></div>
		<div class="city-change__popup">
			<a class="city-change__link js-city_change" data-code="MSK"
				href="https://grohe.l-rus.ru/?K_REGION=MSK">Москва</a>
			<a class="city-change__link js-city_change" data-code="SPB"
				href="https://grohe.l-rus.ru/?K_REGION=SPB">Санкт-Петербург</a>
			<a class="city-change__link js-city_change" data-code="REGIONS"
				href="https://grohe.l-rus.ru/?K_REGION=REGIONS">Регионы</a>
		</div>
	</div>

	<ul class="menu__list">

		<li class="menu__item">
			<a href="/delivery-and-payment/" title="Доставка и оплата" class="menu__link">Доставка и оплата</a>
		</li>

		<li class="menu__item">
			<a href="/services/" title="Подключение" class="menu__link">Подключение</a>
		</li>

		<li class="menu__item">
			<a href="/guarantee/" title="Сервисные центры Grohe" class="menu__link">Сервисные
				центры Grohe</a>
		</li>

		<li class="menu__item">
			<a href="/news/" title="Статьи" class="menu__link">Статьи</a>
		</li>

		<li class="menu__item">
			<a href="/catalog/category/type-nov/" title="Новинки" class="menu__link">Новинки</a>
		</li>

		<li class="menu__item">
			<a href="/contacts/" title="Контакты" class="menu__link">Контакты</a>
		</li>

	</ul>

	<div class="header__telephones">
		<a href="" class="header__call-phone-button js-viewForm" data-action="callback">Заказать
			звонок</a>
		<div class="telephones">
			<a href="tel:74956461460" class="header__phone">+7 495 646-14-60</a>
			<a href="tel:" class="header__phone"></a>
		</div>
		<div class="time-work">
			<div class="time-work__text">Режим работы</div>
			<div class="time-work__text">
				Пн-Пт: 08:00—22:00<br>
				Сб-Вс: 09:00—22:00 </div>
			<a href="mailto:shop@gr-russia.ru" class="time-work__email"><i>Email:</i>shop@gr-russia.ru</a>
		</div>

	</div>
	<a href="" class="abuse__button js-abuse__button js-viewForm" data-action="guideback"
		id="js-abuse-opener">Обратиться к руководству</a>
</div>
