{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">

		{% include 'header/global/header.html' %}

		<div class="section">
			<div class="content-top"
				style="background-image: url(https://grohe.l-rus.ru/upload/iblock/590/590cb8f346e896fc9891f9524adc70e4.jpg);">
				<div class="content-top__inner">
					<div class="container">

						<div class="breadcrumbs">
							<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
								<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
									itemtype="http://schema.org/ListItem"><a href="/" title="Главная"
										itemprop="item"><span itemprop="name">Grohe</span></a>
									<meta itemprop="position" content="1">
								</div>
								<div class="breadcrumbs__sep">»</div>
								<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
									itemtype="http://schema.org/ListItem">
									<a href="/" title="Главная" itemprop="item">
										<span itemprop="name">
											Ванная
										</span>
									</a>
									<meta itemprop="position" content="2">
								</div>
								<div class="breadcrumbs__sep">»</div>
								<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
									itemtype="http://schema.org/ListItem"><span itemprop="name">Термостаты Grohe</span><a
										itemprop="item" href="/catalog/termostaty/" title="Термостаты"></a>
									<meta itemprop="position" content="2">
								</div>
							</div>
						</div>
						<div class="content-top__aside">
							<h1 class="page__title content-top__title content-top__title_top">
								Термостаты Grohe </h1>

							<div class="page__title content-top__title content-top__title_bottom">

								<p style="text-align: justify;">
									Термостаты Grohe&nbsp;— прекрасная альтернатива смесителям. Они сохраняют постоянную
									температуру воды, заданную пользователем. Даже есть на&nbsp;кухне открыт кран,
									мыться будет комфортно. Поверхность всегда остается холодной благодаря системе
									CoolTouch, а&nbsp;технология SafeStop защищает от&nbsp;ошпаривания.
								</p>
								<p style="text-align: justify;">
									В&nbsp;каталоге представлены приборы для ванной (с&nbsp;изливом) и&nbsp;для душа
									(без излива) разных коллекций, как настенные, так и&nbsp;встраиваемые, что позволяет
									выбрать подходящую по&nbsp;стилю и&nbsp;функционалу модель.
								</p>

							</div>
						</div>

					</div>

				</div>
			</div>
			<div class="content">
				<div class="container reverse">
					{% include 'section/catalog/catalog.html' %}
					<div class="col-md-3">
						<div class="filter__date">Обновление цен от 23 сентября 2019</div>
						<pre></pre>
						<div class="bx-filter filter-new bx-blue ">
							<div class="bx-filter-section container-fluid">

								<form name="_form" action="/catalog/termostaty/" method="get" class="smartfilter">
									<input type="hidden" name="IBLOCK_CODE" id="IBLOCK_CODE" value="termostaty">
									<div class="row">
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)"><span>Цена, руб. <i
														data-role="prop_angle" class="fa fa-angle-down"></i></span>
											</div>
											<div class="bx-filter-block" data-role="bx_filter_block">
												<div class="row bx-filter-parameters-box-container">
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-left">
														<i class="bx-ft-sub">От</i>
														<div class="bx-filter-input-container">
															<input class="min-price" type="text" min="0" max="68450"
																name="arrFilter2_P1_MIN" id="arrFilter2_P1_MIN" value=""
																size="5" onkeyup="smartFilter.keyup(this)"
																onchange="handleChange(this, 68450);">
														</div>
													</div>
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-right">
														<i class="bx-ft-sub">До</i>
														<div class="bx-filter-input-container">
															<input class="max-price" type="text" min="0" max="68450"
																name="arrFilter2_P1_MAX" id="arrFilter2_P1_MAX" value=""
																size="5" onkeyup="smartFilter.keyup(this)"
																onchange="handleChange(this, 68450);">
														</div>
													</div>

													<div class="col-xs-10 col-xs-offset-1 bx-ui-slider-track-container">
														<div class="bx-ui-slider-track"
															id="drag_track_c4ca4238a0b923820dcc509a6f75849b">
															<div class="bx-ui-slider-part p1"><span>0</span></div>
															<div class="bx-ui-slider-part p2"><span>17 112.50</span>
															</div>
															<div class="bx-ui-slider-part p3"><span>34 225</span></div>
															<div class="bx-ui-slider-part p4"><span>51 337.50</span>
															</div>
															<div class="bx-ui-slider-part p5"><span>68 450</span></div>

															<div class="bx-ui-slider-pricebar-vd"
																style="left: 0;right: 0;"
																id="colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-pricebar-vn"
																style="left: 0%; right: 0%;"
																id="colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-pricebar-v"
																style="left: 0%; right: 0%;"
																id="colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-range"
																id="drag_tracker_c4ca4238a0b923820dcc509a6f75849b"
																style="left: 0%; right: 0%;">
																<a class="bx-ui-slider-handle left" style="left:0;"
																	href="javascript:void(0)"
																	id="left_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
																<a class="bx-ui-slider-handle right" style="right:0;"
																	href="javascript:void(0)"
																	id="right_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">
													Подборки
												</span>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block">
												<div class="row bx-filter-parameters-box-container">
													<div class="col-xs-12">

														<div class="filter__checkbox">
															<a href="/catalog/termostaty/type-nov/"
																class="filter-collections ">Новинки</a>
															<a href="/catalog/termostaty/type-hit/"
																class="filter-collections ">Лучшие</a>
															<a href="/catalog/termostaty/type-akcii/"
																class="filter-collections ">Акции</a>
														</div>

													</div>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>

										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">Назначение <i
														data-role="prop_angle" class="fa fa-angle-up"></i>
												</span>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block">
												<div class="row bx-filter-parameters-box-container more">
													<div class="col-xs-12"><span class="more-text js-more-text">Показать
															еще</span>
														<div class="checkbox">
															<label data-role="label_arrFilter2_4892_2230385657"
																class="bx-filter-param-label "
																for="arrFilter2_4892_2230385657">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_4892_2230385657"
																		id="arrFilter2_4892_2230385657"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="для душа">для душа&nbsp;(<span
																			data-role="count_arrFilter2_4892_2230385657">20</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox">
															<label data-role="label_arrFilter2_4892_4093102959"
																class="bx-filter-param-label "
																for="arrFilter2_4892_4093102959">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_4892_4093102959"
																		id="arrFilter2_4892_4093102959"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="для ванной">для ванной&nbsp;(<span
																			data-role="count_arrFilter2_4892_4093102959">19</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox">
															<label data-role="label_arrFilter2_4892_1795070677"
																class="bx-filter-param-label "
																for="arrFilter2_4892_1795070677">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_4892_1795070677"
																		id="arrFilter2_4892_1795070677"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="центральный термостат">центральный
																		термостат&nbsp;(<span
																			data-role="count_arrFilter2_4892_1795070677">4</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox js-autoHeight" style="display: none;">
															<label data-role="label_arrFilter2_4892_502901315"
																class="bx-filter-param-label "
																for="arrFilter2_4892_502901315">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_4892_502901315"
																		id="arrFilter2_4892_502901315"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="универсальный термостат">универсальный
																		термостат&nbsp;(<span
																			data-role="count_arrFilter2_4892_502901315">2</span>)</span>
																</span>
															</label>

														</div>
													</div>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>
									</div>
									<!--//row-->
									<div class="row">
										<div class="col-xs-12 bx-filter-button-box">
											<div class="bx-filter-block">
												<div class="bx-filter-parameters-box-container">
													<input class="btn btn-themes" type="submit" id="set_filter"
														name="set_filter" value="Показать">
													<input class="btn btn-link" type="submit" id="del_filter"
														name="del_filter" value="Сбросить">
													<div class="bx-filter-popup-result right" id="modef"
														style="display:none">
														Выбрано: <span id="modef_num">0</span> <span
															class="arrow"></span>
														<br>
														<a href="/catalog/termostaty/?set_filter=y"
															target="">Показать</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="clb"></div>
								</form>
							</div>
						</div>

						<div class="sidebar">

							<div
								class="upsale swiper-container-upsale js-container-upsale swiper-container-horizontal swiper-container-multirow">
								<span class="upsale__title">Аксессуары для</span>
								<span class="upsale__subtitle">термостатов Grohe</span>
								<div class="upsale__items swiper-wrapper"
									style="width: 536px; transform: translate3d(0px, 0px, 0px);">

									<div class="upsale__item swiper-slide swiper-slide-active" id="bx_3589829689_5876"
										data-swiper-column="0" data-swiper-row="0"
										style="order: 0; width: 244px; margin-right: 24px;">
										<div class="upsale__pic">
											<a class="upsale__parent"
												href="/catalog/aksessuary/dushevoy-kronshteyn-grohe-rainshower-27488000.html"
												title="Душевой кронштейн Grohe Rainshower 27488000">
												<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/d79/55_100_1/d79fc924e0a284beabe321059f846785.jpg"
													data-srcset="/upload/resize_cache/iblock/d79/110_200_1/d79fc924e0a284beabe321059f846785.jpg 2x,/upload/resize_cache/iblock/d79/165_300_1/d79fc924e0a284beabe321059f846785.jpg 3x"
													alt="Душевой кронштейн Grohe Rainshower 27488000 preview 1"
													title="Душевой кронштейн Grohe Rainshower 27488000 фото 1"
													class="upsale__img loaded lazyloaded"
													srcset="/upload/resize_cache/iblock/d79/110_200_1/d79fc924e0a284beabe321059f846785.jpg 2x,/upload/resize_cache/iblock/d79/165_300_1/d79fc924e0a284beabe321059f846785.jpg 3x"
													src="https://grohe.l-rus.ru/upload/resize_cache/iblock/d79/55_100_1/d79fc924e0a284beabe321059f846785.jpg"
													data-was-processed="true">
											</a>
										</div>

										<div class="upsale__aside">
											<div class="upsale__text">
												<a href="/catalog/aksessuary/dushevoy-kronshteyn-grohe-rainshower-27488000.html"
													title="Душевой кронштейн Grohe Rainshower 27488000"
													class="upsale__description">Душевой кронштейн Grohe Rainshower
													27488000</a>
											</div>
											<div class="upsale__info">

												<span class="upsale__sale">4 300 <i>руб.</i></span>

												<a href="" class="upsale__link upsale__link_two js-add2basket"
													data-id="5876"><b>купить</b></a>

											</div>
										</div>
									</div>

									<div class="upsale__item swiper-slide swiper-slide-next" id="bx_3589829689_5697"
										data-swiper-column="0" data-swiper-row="1"
										style="-webkit-box-ordinal-group: 2; order: 2; margin-top: 24px; width: 244px; margin-right: 24px;">
										<div class="upsale__pic">
											<a class="upsale__parent"
												href="/catalog/aksessuary/derzhatel-dlya-stakana-i-mylnitsy-allure-40342000.html"
												title="Держатель для стакана и мыльницы Allure 40278000">
												<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/bdf/55_100_1/bdf9046409a0cdda7d93a8fd70e61d10.gif"
													data-srcset="/upload/resize_cache/iblock/bdf/110_200_1/bdf9046409a0cdda7d93a8fd70e61d10.gif 2x,/upload/resize_cache/iblock/bdf/165_300_1/bdf9046409a0cdda7d93a8fd70e61d10.gif 3x"
													alt="Держатель для стакана и мыльницы Allure 40278000 preview 1"
													title="Держатель для стакана и мыльницы Allure 40278000 фото 1"
													class="upsale__img lazyloaded loaded"
													srcset="/upload/resize_cache/iblock/bdf/110_200_1/bdf9046409a0cdda7d93a8fd70e61d10.gif 2x,/upload/resize_cache/iblock/bdf/165_300_1/bdf9046409a0cdda7d93a8fd70e61d10.gif 3x"
													src="https://grohe.l-rus.ru/upload/resize_cache/iblock/bdf/55_100_1/bdf9046409a0cdda7d93a8fd70e61d10.gif"
													data-was-processed="true">
											</a>
										</div>

										<div class="upsale__aside">
											<div class="upsale__text">
												<a href="/catalog/aksessuary/derzhatel-dlya-stakana-i-mylnitsy-allure-40342000.html"
													title="Держатель для стакана и мыльницы Allure 40278000"
													class="upsale__description">Держатель для стакана и мыльницы Allure
													40278000</a>
											</div>
											<div class="upsale__info">

											</div>
										</div>
									</div>

									<div class="upsale__item swiper-slide" id="bx_3589829689_5790"
										data-swiper-column="1" data-swiper-row="0"
										style="-webkit-box-ordinal-group: 1; order: 1; width: 244px; margin-right: 24px;">
										<div class="upsale__pic">
											<a class="upsale__parent"
												href="/catalog/aksessuary/derzhatel-dlya-polotentsa-grohe-essentials-koltso-40365000.html"
												title="Держатель для полотенца Grohe Essentials кольцо 40365000">
												<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/808/55_100_1/8083f687f57ce336b53dad7a8771f33b.jpg"
													data-srcset="/upload/resize_cache/iblock/808/110_200_1/8083f687f57ce336b53dad7a8771f33b.jpg 2x,/upload/resize_cache/iblock/808/165_300_1/8083f687f57ce336b53dad7a8771f33b.jpg 3x"
													alt="Держатель для полотенца Grohe Essentials кольцо 40365000 preview 1"
													title="Держатель для полотенца Grohe Essentials кольцо 40365000 фото 1"
													class="upsale__img lazyloaded"
													srcset="/upload/resize_cache/iblock/808/110_200_1/8083f687f57ce336b53dad7a8771f33b.jpg 2x,/upload/resize_cache/iblock/808/165_300_1/8083f687f57ce336b53dad7a8771f33b.jpg 3x"
													src="https://grohe.l-rus.ru/upload/resize_cache/iblock/808/55_100_1/8083f687f57ce336b53dad7a8771f33b.jpg">
											</a>
										</div>

										<div class="upsale__aside">
											<div class="upsale__text">
												<a href="/catalog/aksessuary/derzhatel-dlya-polotentsa-grohe-essentials-koltso-40365000.html"
													title="Держатель для полотенца Grohe Essentials кольцо 40365000"
													class="upsale__description">Держатель для полотенца Grohe Essentials
													кольцо 40365000</a>
											</div>
											<div class="upsale__info">

											</div>
										</div>
									</div>

								</div>
								<div
									class="swiper-pagination-upsale swiper-pagination-clickable swiper-pagination-bullets">
									<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"
										role="button" aria-label="Go to slide 1"></span><span
										class="swiper-pagination-bullet" tabindex="0" role="button"
										aria-label="Go to slide 2"></span></div>
								<div class="swiper-button-prev upsale__prev swiper-button-disabled" tabindex="0"
									role="button" aria-label="Previous slide" aria-disabled="true"></div>
								<div class="swiper-button-next upsale__next" tabindex="0" role="button"
									aria-label="Next slide" aria-disabled="false"></div>
								<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
							</div>

							<div class="download-catalogs">
								<div class="download-catalogs__title">Скачать каталоги</div>
								<div
									class="download-catalogs__items swiper-container js-download-catalogs swiper-container-horizontal swiper-container-multirow">
									<div class="swiper-wrapper"
										style="width: 592px; transform: translate3d(0px, 0px, 0px);">
										<div class="download-catalogs__item swiper-slide swiper-slide-active"
											id="bx_651765591_6289" data-swiper-column="0" data-swiper-row="0"
											style="order: 0; width: 272px; margin-right: 24px;">
											<a href="/upload/iblock/637/637d46029c9d387b6622285f9b6b77c0.pdf"
												title="Сантехника Grohe. Новинки 2019 года"
												class="download-catalogs__link" target="_blank">
												<div class="download-catalogs__pic">
													<img class="lazyloaded loaded"
														data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/7db/74_74_0/7dbc5459f19285a131d915455d65264a.jpg"
														alt="Сантехника Grohe. Новинки 2019 года"
														src="https://grohe.l-rus.ru/upload/resize_cache/iblock/7db/74_74_0/7dbc5459f19285a131d915455d65264a.jpg"
														data-was-processed="true">
												</div>
												<div class="download-catalogs__text">
													Сантехника Grohe. Новинки 2019 года <i>pdf, 4.59 MB</i>
												</div>
											</a>
										</div>

										<div class="download-catalogs__item swiper-slide swiper-slide-next"
											id="bx_651765591_6291" data-swiper-column="0" data-swiper-row="1"
											style="-webkit-box-ordinal-group: 2; order: 2; margin-top: 24px; width: 272px; margin-right: 24px;">
											<a href="/upload/iblock/d39/d39e10258fdda0ac67bac73328bd8509.pdf"
												title="Сантехника Grohe. Ассортимент 2018-2019 годов"
												class="download-catalogs__link" target="_blank">
												<div class="download-catalogs__pic">
													<img class=" lazyloaded"
														data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6e2/74_74_0/6e2c312e859debdaf0b8b726d7f63f3d.jpg"
														alt="Сантехника Grohe. Ассортимент 2018-2019 годов"
														src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6e2/74_74_0/6e2c312e859debdaf0b8b726d7f63f3d.jpg">
												</div>
												<div class="download-catalogs__text">
													Сантехника Grohe. Ассортимент 2018-2019 годов <i>pdf, 60.36 MB</i>
												</div>
											</a>
										</div>

										<div class="download-catalogs__item swiper-slide" id="bx_651765591_6292"
											data-swiper-column="1" data-swiper-row="0"
											style="-webkit-box-ordinal-group: 1; order: 1; width: 272px; margin-right: 24px;">
											<a href="/upload/iblock/107/107c8e38fadb6747e20f6e755e66a35e.pdf"
												title="Коллекция Grohe SPA" class="download-catalogs__link"
												target="_blank">
												<div class="download-catalogs__pic">
													<img class=" lazyloaded"
														data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/fb0/74_74_0/fb035fd89cb2a18426fce5c27286e200.jpg"
														alt="Коллекция Grohe SPA"
														src="https://grohe.l-rus.ru/upload/resize_cache/iblock/fb0/74_74_0/fb035fd89cb2a18426fce5c27286e200.jpg">
												</div>
												<div class="download-catalogs__text">
													Коллекция Grohe SPA <i>pdf, 16.05 MB</i>
												</div>
											</a>
										</div>

										<div class="download-catalogs__item swiper-slide" id="bx_651765591_6293"
											data-swiper-column="1" data-swiper-row="1"
											style="-webkit-box-ordinal-group: 3; order: 3; margin-top: 24px; width: 272px; margin-right: 24px;">
											<a href="/upload/iblock/cc6/cc6e17badc7982a74ee445937c789473.pdf"
												title="Термостаты Grohe Grohtherm" class="download-catalogs__link"
												target="_blank">
												<div class="download-catalogs__pic">
													<img class=" lazyloaded"
														data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/f2b/74_74_0/f2be2e2a155f9a45edf645b5cf5c92eb.jpg"
														alt="Термостаты Grohe Grohtherm"
														src="https://grohe.l-rus.ru/upload/resize_cache/iblock/f2b/74_74_0/f2be2e2a155f9a45edf645b5cf5c92eb.jpg">
												</div>
												<div class="download-catalogs__text">
													Термостаты Grohe Grohtherm <i>pdf, 2.04 MB</i>
												</div>
											</a>
										</div>

									</div>
									<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
								</div>
							</div>

							<div class="articles swiper-container">
								<span class="articles__title">Может быть полезно</span>
								<a href="/news/" class="articles__link">Посмотреть все статьи</a>
								<div class="articles__items swiper-wrapper">

									<div class="articles__item swiper-slide" id="bx_1373509569_4287">
										<a class="articles__pic"
											href="/news/termostaty-grohe-garantiya-kachestva-i-bezopasnosti.html"
											title="Термостаты Grohe — безопасность и комфорт">
											<img data-src="https://grohe.l-rus.ru/upload/iblock/464/464dee411b52dd7d5acb4cbc51f645b8.jpg"
												data-srcset="/upload/iblock/464/464dee411b52dd7d5acb4cbc51f645b8.jpg 2x,/upload/iblock/464/464dee411b52dd7d5acb4cbc51f645b8.jpg 3x"
												class="articles__img lazyloaded"
												srcset="/upload/iblock/464/464dee411b52dd7d5acb4cbc51f645b8.jpg 2x,/upload/iblock/464/464dee411b52dd7d5acb4cbc51f645b8.jpg 3x"
												src="https://grohe.l-rus.ru/upload/iblock/464/464dee411b52dd7d5acb4cbc51f645b8.jpg">
										</a>

										<a href="/news/termostaty-grohe-garantiya-kachestva-i-bezopasnosti.html"
											title="Термостаты Grohe — безопасность и комфорт"
											class="articles__text">Термостаты Grohe — безопасность и комфорт</a>
										<span class="articles__date"></span>
									</div>

								</div>
								<div class="swiper-pagination-articles articles__pagination"></div>
							</div>

							<div class="documentation">
								<span class="documentation__title">Инструкции для термостатов Grohe</span>

								<a href="/upload/iblock/6b5/6b5acaa534946ca2ed8a30af0a9ee3ba.jpg"
									title="Схема встраивания" target="_blank" class="doc_loading doc_loading_first">
									<i class="icon_doc"></i>
									<span>Термостат Grohe Allure Brilliant для ванны 19792000, схема встраивания</span>
									jpg, 29.2 KB </a>

								<a href="/upload/iblock/04c/04c7d86e37e42a18b7e7f0700fb8addf.jpg"
									title="Схема встраивания" target="_blank" class="doc_loading doc_loading_first">
									<i class="icon_doc"></i>
									<span>Термостат Grohe Allure Brilliant для душа 19791000, схема встраивания</span>
									jpg, 26.74 KB </a>

								<a href="/upload/iblock/d5a/d5a072a203f373e5f14eb8f945123bd1.jpg"
									title="Схема встраивания" target="_blank" class="doc_loading doc_loading_first">
									<i class="icon_doc"></i>
									<span>Термостат Grohe Allure для ванны 19380000, схема встраивания</span>
									jpg, 18.08 KB </a>

								<a href="/technical-documentation/" title="Посмотреть все инструкции"
									class="documentation__link">Посмотреть все инструкции</a>
							</div>

							<ul class="work-link">

								<li class="work-link__item">
									<a href="/guarantee/#services-list" title="Сервисные центры"
										class="work-link__a">Сервисные центры</a>
								</li>

								<li class="work-link__item">
									<a href="/technical-documentation/" title="Техническая документация"
										class="work-link__a">Техническая документация</a>
								</li>

								<li class="work-link__item">
									<a href="/guarantee/" title="Гарантия Grohe" class="work-link__a">Гарантия Grohe</a>
								</li>

							</ul>

							<div class="yandex">
								<div class="yandex__inner">
									<div class="yandex__logo">
										<img src="/images/ylogo.png" alt="" class="yandex__img">
									</div>
									<div class="yandex__ratings">
										<img src="/images/5-stars.png" alt="">
									</div>
									<a href="https://market.yandex.ru/shop/394451/reviews/add?retpath=https%3A%2F%2Fmarket.yandex.ru%2Fshop%2F394451%2Freviews&amp;track=rev_sh"
										target="_blank" class="yandex__button">Оставить отзыв</a>
									<a href=" https://market.yandex.ru/shop/394451/reviews" target="_blank"
										class="yandex__button">Читать все отзывы</a>
								</div>
							</div>
							<div class="quality">
								<span class="quality__title">Контроль качества</span>
								<span class="quality__text">Номер для претензий и предложений:</span>
								<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
								<span class="quality__worktime">с 9:00 до 18:00 по будням</span>
								<a href="/kachestvo/" class="quality__button">Написать</a>
							</div>

						</div>
					</div>

				</div>
				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.middle -->

	</div>
	<!-- /.wrapper -->

	{% include 'footer/global/footer.html' %}
	{% include 'connect/script.html' %}
	{% include 'connect/stylesheet.html' %}

</body>

</html>
