<div class="special-offers sphere">
	<div class="container">
		<span class="special-offers__title">Популярные модели</span>
		<!-- Slider main container -->
		<div class="swiper-container swiper-container-two js-swiper-two swiper-container-horizontal">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper special-offers__wrapper" style="transform: translate3d(0px, 0px, 0px);">

				<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="6253"
					id="bx_1373509569_6253" style="width: 275.25px; margin-right: 25px;">
					<a class="special-offers__pic" href="#" title="Смесители">
						<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/bcb/205_205_1/bcb0da928271d7cd428a8dacfaae2f76.jpg"
							data-srcset="https://grohe.l-rus.ru/upload/resize_cache/iblock/bcb/410_410_1/bcb0da928271d7cd428a8dacfaae2f76.jpg 2x,/upload/resize_cache/iblock/bcb/615_615_1/bcb0da928271d7cd428a8dacfaae2f76.jpg 3x"
							class="special-offers__img lazyloaded"
							srcset="https://grohe.l-rus.ru/upload/resize_cache/iblock/bcb/410_410_1/bcb0da928271d7cd428a8dacfaae2f76.jpg 2x,/upload/resize_cache/iblock/bcb/615_615_1/bcb0da928271d7cd428a8dacfaae2f76.jpg 3x"
							src="https://grohe.l-rus.ru/upload/resize_cache/iblock/bcb/205_205_1/bcb0da928271d7cd428a8dacfaae2f76.jpg">
					</a>
					<a href="#" title="Смесители" class="special-offers__text">Смесители
					</a>

				</div>

				<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="4553"
					id="bx_1373509569_4553" style="width: 275.25px; margin-right: 25px;">
					<a class="special-offers__pic" href="#" title="Душ">
						<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/159/205_205_1/1598146a7b3d82341a57f4968d67fc05.jpg"
							data-srcset="https://grohe.l-rus.ru/upload/resize_cache/iblock/159/410_410_1/1598146a7b3d82341a57f4968d67fc05.jpg 2x,/upload/iblock/159/1598146a7b3d82341a57f4968d67fc05.jpg 3x"
							class="special-offers__img lazyloaded"
							srcset="https://grohe.l-rus.ru/upload/resize_cache/iblock/159/410_410_1/1598146a7b3d82341a57f4968d67fc05.jpg 2x,/upload/iblock/159/1598146a7b3d82341a57f4968d67fc05.jpg 3x"
							src="https://grohe.l-rus.ru/upload/resize_cache/iblock/159/205_205_1/1598146a7b3d82341a57f4968d67fc05.jpg">
					</a>
					<a href="#" title="Душ" class="special-offers__text">Душ</a>

				</div>

				<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="6085"
					id="bx_1373509569_5219" style="width: 275.25px; margin-right: 25px;">
					<a class="special-offers__pic" href="#" title="Термостаты">
						<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/205_205_1/6f126a6371e31b7cd031455f8436f484.jpg"
							data-srcset="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/410_410_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/iblock/6f1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
							class="special-offers__img lazyloaded"
							srcset="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/410_410_1/6f126a6371e31b7cd031455f8436f484.jpg 2x,/upload/iblock/6f1/6f126a6371e31b7cd031455f8436f484.jpg 3x"
							src="https://grohe.l-rus.ru/upload/resize_cache/iblock/6f1/205_205_1/6f126a6371e31b7cd031455f8436f484.jpg">
					</a>
					<a href="#" title="Термостаты" class="special-offers__text">Термостаты
					</a>

				</div>

				<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="6257"
					id="bx_1373509569_6257" style="width: 275.25px; margin-right: 25px;">
					<a class="special-offers__pic" href="#" title="Системы инсталляции">
						<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/620/205_205_1/62079db2fe6367c762c79721e25e0158.jpg"
							data-srcset="https://grohe.l-rus.ru/upload/resize_cache/iblock/620/410_410_1/62079db2fe6367c762c79721e25e0158.jpg 2x,/upload/resize_cache/iblock/620/615_615_1/62079db2fe6367c762c79721e25e0158.jpg 3x"
							class="special-offers__img lazyloaded"
							srcset="https://grohe.l-rus.ru/upload/resize_cache/iblock/620/410_410_1/62079db2fe6367c762c79721e25e0158.jpg 2x,/upload/resize_cache/iblock/620/615_615_1/62079db2fe6367c762c79721e25e0158.jpg 3x"
							src="https://grohe.l-rus.ru/upload/resize_cache/iblock/620/205_205_1/62079db2fe6367c762c79721e25e0158.jpg">
					</a>
					<a href="#3.html" title="Системы инсталляции" class="special-offers__text">Системы инсталляции
					</a>

				</div>

				<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="5934"
					id="bx_1373509569_5934" style="width: 275.25px; margin-right: 25px;">
					<a class="special-offers__pic" href="#" title="Аксессуары">
						<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/129/205_205_1/129fd0a79951c2a4ea46a9f92232e6ee.jpg"
							data-srcset="https://grohe.l-rus.ru/upload/iblock/129/129fd0a79951c2a4ea46a9f92232e6ee.jpg 2x,/upload/iblock/129/129fd0a79951c2a4ea46a9f92232e6ee.jpg 3x"
							class="special-offers__img lazyloaded"
							srcset="https://grohe.l-rus.ru/upload/iblock/129/129fd0a79951c2a4ea46a9f92232e6ee.jpg 2x,/upload/iblock/129/129fd0a79951c2a4ea46a9f92232e6ee.jpg 3x"
							src="https://grohe.l-rus.ru/upload/resize_cache/iblock/129/205_205_1/129fd0a79951c2a4ea46a9f92232e6ee.jpg">
					</a>
					<a href="#" title="Аксессуары" class="special-offers__text">Аксессуары
					</a>

				</div>

			</div>
			<div class="swiper-scrollbar">
				<div class="swiper-scrollbar-drag" style="transform: translate3d(0px, 0px, 0px); width: 0px;"></div>
			</div>

			<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
		</div>

		<div class="swiper-pagination_2 swiper-pagination-clickable swiper-pagination-bullets"><span
				class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
				aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
				aria-label="Go to slide 2"></span></div>
		<div class="swiper-button-prev special-offers_prev swiper-button-disabled" tabindex="0" role="button"
			aria-label="Previous slide" aria-disabled="true"></div>
		<div class="swiper-button-next special-offers_next" tabindex="0" role="button" aria-label="Next slide"
			aria-disabled="false"></div>

	</div>
</div>

<div class="catalog sphere">
	<span class="sphere__title">Популярные товары Grohe для ванной комнаты</span>
	<div class="js-news">
		<div class="js-news__inner catalog__items js-ecom_product-list" data-list="Catalog Result">

			<div class="catalog__item js-ecom_product-item js-catalog_item" data-id="4542" id="bx_3966226736_4542">

				<a class="catalog__pic"
					href="/catalog/category/smesiteli/smesitel-grohe-allure-brilliant-23029000-.html"
					title="Смеситель Grohe Allure brilliant 23029000">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/b04/245_230_1/b04d211fd7a73af02fa240982adf981f.jpg"
						alt="Смеситель Grohe Allure brilliant 23029000 preview 1"
						title="Смеситель Grohe Allure brilliant 23029000 фото 1"
						class="special-offers__img catalog__img lazyload" />
				</a>
				<a href="/catalog/category/smesiteli/smesitel-grohe-allure-brilliant-23029000-.html"
					title="Смеситель Grohe Allure brilliant 23029000"
					class="special-offers__text catalog__text">Смеситель
					Grohe Allure brilliant 23029000</a>

				<span class="catalog__presence ">В наличии</span>

				<div class="catalog__specification">

				</div>

				<div class="catalog__prop">
				</div>

				<div class="special-offers__sale catalog__sale">

					<span class="special-offers__price catalog__price ">

						28 350 <i class="special-offers__rub catalog__rub">руб.</i>
					</span>

					<a href="" class="special-offers__buy js-add2basket" data-id="4542">В корзину</a>

				</div>

				<div class="catalog__existence">

					<a href="" class="catalog__simile js-compare active" data-id="4542"></a>

					<a href="" class="catalog__favorite  js-add2favorite" data-id="4542"></a>

					<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
						data-id="4542">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

				</div>

				<!-- begin label -->
				<div class="announcing">
					<div class="announcing__item">
						<img src="images/small/flag_ger.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
					</div>
					<div class="announcing__item">
						<img src="images/small/new.svg" alt="Новинка" title="Новинка">
					</div>
					<div class="announcing__item">
						<img src="images/small/stock.svg" alt="акция" title="акция">
					</div>
					<div class="announcing__item">
						<img src="images/small/present.svg" alt="подарок" title="подарок">
					</div>
					<div class="announcing__item">
						<img src="images/small/warranty.svg" alt="гарантия" title="гарантия">
					</div>
					<div class="announcing__item">
						<img src="images/small/bestseller.svg" alt="хит" title="хит">
					</div>
				</div>
				<!-- end label -->

			</div>

			<div class="catalog__item js-ecom_product-item js-catalog_item" data-id="4543" id="bx_3966226736_4543">

				<a class="catalog__pic"
					href="/catalog/category/smesiteli/izliv-dlya-vanny-grohe-allure-dn-20-13264000.html"
					title="Смеситель Grohe Allure DN 20 для ванны 13264000">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/4f6/245_230_1/4f61d8bb88859c4e75e11fdedf5ec77d.jpg"
						alt="Смеситель Grohe Allure DN 20 для ванны 13264000 preview 1"
						title="Смеситель Grohe Allure DN 20 для ванны 13264000 фото 1"
						class="special-offers__img catalog__img lazyload" />
				</a>
				<a href="/catalog/category/smesiteli/izliv-dlya-vanny-grohe-allure-dn-20-13264000.html"
					title="Смеситель Grohe Allure DN 20 для ванны 13264000"
					class="special-offers__text catalog__text">Смеситель Grohe Allure DN 20 для ванны 13264000</a>

				<span class="catalog__presence ">В наличии</span>

				<div class="catalog__specification">

				</div>

				<div class="catalog__prop">
				</div>

				<div class="special-offers__sale catalog__sale">

					<span class="special-offers__price catalog__price price__dashed">
						10 250 <i class="special-offers__rub catalog__rub">руб.</i>
						<span class="price__absolute">12 250 руб.</span>
					</span>

					<a href="" class="special-offers__buy js-add2basket" data-id="4543">В корзину</a>

				</div>

				<div class="catalog__existence">

					<a href="" class="catalog__simile js-compare active" data-id="4543"></a>

					<a href="" class="catalog__favorite  js-add2favorite" data-id="4543"></a>

					<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
						data-id="4543">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

				</div>

				<!-- begin label -->
				<div class="announcing">
					<div class="announcing__item">
						<img src="images/small/flag_ger.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
					</div>
					<div class="announcing__item">
						<img src="images/small/new.svg" alt="Новинка" title="Новинка">
					</div>
					<div class="announcing__item">
						<img src="images/small/stock.svg" alt="акция" title="акция">
					</div>
					<div class="announcing__item">
						<img src="images/small/present.svg" alt="подарок" title="подарок">
					</div>
					<div class="announcing__item">
						<img src="images/small/warranty.svg" alt="гарантия" title="гарантия">
					</div>
					<div class="announcing__item">
						<img src="images/small/bestseller.svg" alt="хит" title="хит">
					</div>
				</div>
				<!-- end label -->

			</div>

			<div class="catalog__item js-ecom_product-item js-catalog_item" data-id="4553" id="bx_3966226736_4553">

				<a class="catalog__pic"
					href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-s-tsepochkoy-23336000.html"
					title="Смеситель Grohe BauLoop для раковины, с цепочкой 23336000">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/159/245_230_1/1598146a7b3d82341a57f4968d67fc05.jpg"
						alt="Смеситель Grohe BauLoop для раковины, с цепочкой 23336000 preview 1"
						title="Смеситель Grohe BauLoop для раковины, с цепочкой 23336000 фото 1"
						class="special-offers__img catalog__img lazyload" />
				</a>
				<a href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-s-tsepochkoy-23336000.html"
					title="Смеситель Grohe BauLoop для раковины, с цепочкой 23336000"
					class="special-offers__text catalog__text">Смеситель Grohe BauLoop для раковины, с цепочкой
					23336000</a>

				<span class="catalog__presence ">В наличии</span>

				<div class="catalog__specification">

				</div>

				<div class="catalog__prop">
				</div>

				<div class="special-offers__sale catalog__sale">

					<span class="special-offers__price catalog__price ">

						4 550 <i class="special-offers__rub catalog__rub">руб.</i>
					</span>

					<a href="" class="special-offers__buy js-add2basket" data-id="4553">В корзину</a>

				</div>

				<div class="catalog__existence">

					<a href="" class="catalog__simile js-compare active" data-id="4553"></a>

					<a href="" class="catalog__favorite  js-add2favorite" data-id="4553"></a>

					<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
						data-id="4553">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

				</div>

				<!-- begin label -->
				<div class="announcing">
					<div class="announcing__item">
						<img src="images/small/flag_ger.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
					</div>
					<div class="announcing__item">
						<img src="images/small/new.svg" alt="Новинка" title="Новинка">
					</div>
					<div class="announcing__item">
						<img src="images/small/stock.svg" alt="акция" title="акция">
					</div>
					<div class="announcing__item">
						<img src="images/small/present.svg" alt="подарок" title="подарок">
					</div>
					<div class="announcing__item">
						<img src="images/small/warranty.svg" alt="гарантия" title="гарантия">
					</div>
					<div class="announcing__item">
						<img src="images/small/bestseller.svg" alt="хит" title="хит">
					</div>
				</div>
				<!-- end label -->

			</div>

			<div class="catalog__item js-ecom_product-item js-catalog_item" data-id="4554" id="bx_3966226736_4554">

				<a class="catalog__pic"
					href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-gladkiy-korpus-23337000.html"
					title="Смеситель Grohe BauLoop для раковины, гладкий корпус 23337000">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/819/245_230_1/819ab0972ce43e872c179e9667e6c00a.jpg"
						alt="Смеситель Grohe BauLoop для раковины, гладкий корпус 23337000 preview 1"
						title="Смеситель Grohe BauLoop для раковины, гладкий корпус 23337000 фото 1"
						class="special-offers__img catalog__img lazyload" />
				</a>
				<a href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-gladkiy-korpus-23337000.html"
					title="Смеситель Grohe BauLoop для раковины, гладкий корпус 23337000"
					class="special-offers__text catalog__text">Смеситель Grohe BauLoop для раковины, гладкий корпус
					23337000</a>

				<span class="catalog__presence ">В наличии</span>

				<div class="catalog__specification">

				</div>

				<div class="catalog__prop">
				</div>

				<div class="special-offers__sale catalog__sale">

					<span class="special-offers__price catalog__price ">

						4 450 <i class="special-offers__rub catalog__rub">руб.</i>
					</span>

					<a href="" class="special-offers__buy js-add2basket" data-id="4554">В корзину</a>

				</div>

				<div class="catalog__existence">

					<a href="" class="catalog__simile js-compare active" data-id="4554"></a>

					<a href="" class="catalog__favorite  js-add2favorite" data-id="4554"></a>

					<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
						data-id="4554">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

				</div>

				<!-- begin label -->
				<div class="announcing">
					<div class="announcing__item">
						<img src="images/small/flag_ger.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
					</div>
					<div class="announcing__item">
						<img src="images/small/new.svg" alt="Новинка" title="Новинка">
					</div>
					<div class="announcing__item">
						<img src="images/small/stock.svg" alt="акция" title="акция">
					</div>
					<div class="announcing__item">
						<img src="images/small/present.svg" alt="подарок" title="подарок">
					</div>
					<div class="announcing__item">
						<img src="images/small/warranty.svg" alt="гарантия" title="гарантия">
					</div>
					<div class="announcing__item">
						<img src="images/small/bestseller.svg" alt="хит" title="хит">
					</div>
				</div>
				<!-- end label -->

			</div>

			<div class="catalog__item js-ecom_product-item js-catalog_item" data-id="4562" id="bx_3966226736_4562">

				<a class="catalog__pic"
					href="/catalog/category/smesiteli/smesitel-grohe-aria-dlya-bide-dn-15-24030000.html"
					title="Смеситель Grohe Aria для биде DN 15 24030000">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/d51/245_230_1/d510037f7d6a2ec83b69cacd18e7100d.jpg"
						alt="Смеситель Grohe Aria для биде DN 15 24030000 preview 1"
						title="Смеситель Grohe Aria для биде DN 15 24030000 фото 1"
						class="special-offers__img catalog__img lazyload" />
				</a>
				<a href="/catalog/category/smesiteli/smesitel-grohe-aria-dlya-bide-dn-15-24030000.html"
					title="Смеситель Grohe Aria для биде DN 15 24030000"
					class="special-offers__text catalog__text">Смеситель Grohe Aria для биде DN 15 24030000</a>

				<span class="catalog__presence ">В наличии</span>

				<div class="catalog__specification">

				</div>

				<div class="catalog__prop">
				</div>

				<div class="special-offers__sale catalog__sale">

					<span class="special-offers__price catalog__price ">

						12 250 <i class="special-offers__rub catalog__rub">руб.</i>
					</span>

					<a href="" class="special-offers__buy js-add2basket" data-id="4562">В корзину</a>

				</div>

				<div class="catalog__existence">

					<a href="" class="catalog__simile js-compare active" data-id="4562"></a>

					<a href="" class="catalog__favorite  js-add2favorite" data-id="4562"></a>

					<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
						data-id="4562">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

				</div>

				<!-- begin label -->
				<div class="announcing">
					<div class="announcing__item">
						<img src="images/small/flag_ger.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
					</div>
					<div class="announcing__item">
						<img src="images/small/new.svg" alt="Новинка" title="Новинка">
					</div>
					<div class="announcing__item">
						<img src="images/small/stock.svg" alt="акция" title="акция">
					</div>
					<div class="announcing__item">
						<img src="images/small/present.svg" alt="подарок" title="подарок">
					</div>
					<div class="announcing__item">
						<img src="images/small/warranty.svg" alt="гарантия" title="гарантия">
					</div>
					<div class="announcing__item">
						<img src="images/small/bestseller.svg" alt="хит" title="хит">
					</div>
				</div>
				<!-- end label -->

			</div>

			<div class="catalog__item js-ecom_product-item js-catalog_item" data-id="4564" id="bx_3966226736_4564">

				<a class="catalog__pic" href="/catalog/category/smesiteli/smesitel-grohe-aria-dlya-dusha-26008000.html"
					title="Смеситель Grohe Aria для душа 26008000">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/466/245_230_1/46682de5a6dd9c2f1d9395f94fce4b02.jpg"
						alt="Смеситель Grohe Aria для душа 26008000 preview 1"
						title="Смеситель Grohe Aria для душа 26008000 фото 1"
						class="special-offers__img catalog__img lazyload" />
				</a>
				<a href="/catalog/category/smesiteli/smesitel-grohe-aria-dlya-dusha-26008000.html"
					title="Смеситель Grohe Aria для душа 26008000" class="special-offers__text catalog__text">Смеситель
					Grohe Aria для душа 26008000</a>

				<span class="catalog__presence ">В наличии</span>

				<div class="catalog__specification">

				</div>

				<div class="catalog__prop">
				</div>

				<div class="special-offers__sale catalog__sale">

					<span class="special-offers__price catalog__price ">

						12 250 <i class="special-offers__rub catalog__rub">руб.</i>
					</span>

					<a href="" class="special-offers__buy js-add2basket" data-id="4564">В корзину</a>

				</div>

				<div class="catalog__existence">

					<a href="" class="catalog__simile js-compare active" data-id="4564"></a>

					<a href="" class="catalog__favorite  js-add2favorite" data-id="4564"></a>

					<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
						data-id="4564">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

				</div>

				<!-- begin label -->
				<div class="announcing">
					<div class="announcing__item">
						<img src="images/small/flag_ger.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
					</div>
					<div class="announcing__item">
						<img src="images/small/new.svg" alt="Новинка" title="Новинка">
					</div>
					<div class="announcing__item">
						<img src="images/small/stock.svg" alt="акция" title="акция">
					</div>
					<div class="announcing__item">
						<img src="images/small/present.svg" alt="подарок" title="подарок">
					</div>
					<div class="announcing__item">
						<img src="images/small/warranty.svg" alt="гарантия" title="гарантия">
					</div>
					<div class="announcing__item">
						<img src="images/small/bestseller.svg" alt="хит" title="хит">
					</div>
				</div>
				<!-- end label -->

			</div>

			<div class="catalog__item js-ecom_product-item js-catalog_item" data-id="4571" id="bx_3966226736_4571">

				<a class="catalog__pic"
					href="/catalog/category/smesiteli/vnutrenniy-mekhanizm-grohe-atrio-jota-universalnyy-na-dva-otverstiya-33769000.html"
					title="Внутренний механизм Grohe Atrio jota универсальный на два отверстия 33769000">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/8a8/245_230_1/8a880fad96b6db6a1331157e52b14bf3.jpg"
						alt="Внутренний механизм Grohe Atrio jota универсальный на два отверстия 33769000 preview 1"
						title="Внутренний механизм Grohe Atrio jota универсальный на два отверстия 33769000 фото 1"
						class="special-offers__img catalog__img lazyload" />
				</a>
				<a href="/catalog/category/smesiteli/vnutrenniy-mekhanizm-grohe-atrio-jota-universalnyy-na-dva-otverstiya-33769000.html"
					title="Внутренний механизм Grohe Atrio jota универсальный на два отверстия 33769000"
					class="special-offers__text catalog__text">Внутренний механизм Grohe Atrio jota универсальный на
					два отверстия 33769000</a>

				<span class="catalog__presence ">В наличии</span>

				<div class="catalog__specification">

				</div>

				<div class="catalog__prop">
				</div>

				<div class="special-offers__sale catalog__sale">

					<span class="special-offers__price catalog__price ">

						11 650 <i class="special-offers__rub catalog__rub">руб.</i>
					</span>

					<a href="" class="special-offers__buy js-add2basket" data-id="4571">В корзину</a>

				</div>

				<div class="catalog__existence">

					<a href="" class="catalog__simile js-compare active" data-id="4571"></a>

					<a href="" class="catalog__favorite  js-add2favorite" data-id="4571"></a>

					<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
						data-id="4571">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

				</div>

				<!-- begin label -->
				<div class="announcing">
					<div class="announcing__item">
						<img src="images/small/flag_ger.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
					</div>
					<div class="announcing__item">
						<img src="images/small/new.svg" alt="Новинка" title="Новинка">
					</div>
					<div class="announcing__item">
						<img src="images/small/stock.svg" alt="акция" title="акция">
					</div>
					<div class="announcing__item">
						<img src="images/small/present.svg" alt="подарок" title="подарок">
					</div>
					<div class="announcing__item">
						<img src="images/small/warranty.svg" alt="гарантия" title="гарантия">
					</div>
					<div class="announcing__item">
						<img src="images/small/bestseller.svg" alt="хит" title="хит">
					</div>
				</div>
				<!-- end label -->

			</div>

			<div class="catalog__item js-ecom_product-item js-catalog_item" data-id="4573" id="bx_3966226736_4573">

				<a class="catalog__pic"
					href="/catalog/category/smesiteli/smesitel-grohe-atrio-jota-dlya-bide-dn-15-24010000.html"
					title="Смеситель Grohe Atrio jota для биде DN 15 24010000">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/a51/245_230_1/a51258d1f119f852c635d329855e8c68.jpg"
						alt="Смеситель Grohe Atrio jota для биде DN 15 24010000 preview 1"
						title="Смеситель Grohe Atrio jota для биде DN 15 24010000 фото 1"
						class="special-offers__img catalog__img lazyload" />
				</a>
				<a href="/catalog/category/smesiteli/smesitel-grohe-atrio-jota-dlya-bide-dn-15-24010000.html"
					title="Смеситель Grohe Atrio jota для биде DN 15 24010000"
					class="special-offers__text catalog__text">Смеситель Grohe Atrio jota для биде DN 15
					24010000</a>

				<span class="catalog__presence ">В наличии</span>

				<div class="catalog__specification">

				</div>

				<div class="catalog__prop">
				</div>

				<div class="special-offers__sale catalog__sale">

					<span class="special-offers__price catalog__price ">

						17 150 <i class="special-offers__rub catalog__rub">руб.</i>
					</span>

					<a href="" class="special-offers__buy js-add2basket" data-id="4573">В корзину</a>

				</div>

				<div class="catalog__existence">

					<a href="" class="catalog__simile js-compare active" data-id="4573"></a>

					<a href="" class="catalog__favorite  js-add2favorite" data-id="4573"></a>

					<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
						data-id="4573">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

				</div>

				<!-- begin label -->
				<div class="announcing">
					<div class="announcing__item">
						<img src="images/small/flag_ger.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
					</div>
					<div class="announcing__item">
						<img src="images/small/new.svg" alt="Новинка" title="Новинка">
					</div>
					<div class="announcing__item">
						<img src="images/small/stock.svg" alt="акция" title="акция">
					</div>
					<div class="announcing__item">
						<img src="images/small/present.svg" alt="подарок" title="подарок">
					</div>
					<div class="announcing__item">
						<img src="images/small/warranty.svg" alt="гарантия" title="гарантия">
					</div>
					<div class="announcing__item">
						<img src="images/small/bestseller.svg" alt="хит" title="хит">
					</div>
				</div>
				<!-- end label -->

			</div>

			<div class="catalog__item js-ecom_product-item js-catalog_item" data-id="4579" id="bx_3966226736_4579">

				<a class="catalog__pic"
					href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-so-slivnym-garniturom-23335000.html"
					title="Смеситель Grohe BauLoop для раковины со сливным гарнитуром 23335000">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/0b6/245_230_1/0b6ab913a34c5e29c74f996c38e5543e.jpg"
						alt="Смеситель Grohe BauLoop для раковины со сливным гарнитуром 23335000 preview 1"
						title="Смеситель Grohe BauLoop для раковины со сливным гарнитуром 23335000 фото 1"
						class="special-offers__img catalog__img lazyload" />
				</a>
				<a href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-rakoviny-so-slivnym-garniturom-23335000.html"
					title="Смеситель Grohe BauLoop для раковины со сливным гарнитуром 23335000"
					class="special-offers__text catalog__text">Смеситель Grohe BauLoop для раковины со сливным
					гарнитуром 23335000</a>

				<span class="catalog__presence ">В наличии</span>

				<div class="catalog__specification">

				</div>

				<div class="catalog__prop">
				</div>

				<div class="special-offers__sale catalog__sale">

					<span class="special-offers__price catalog__price ">

						4 550 <i class="special-offers__rub catalog__rub">руб.</i>
					</span>

					<a href="" class="special-offers__buy js-add2basket" data-id="4579">В корзину</a>

				</div>

				<div class="catalog__existence">

					<a href="" class="catalog__simile js-compare active" data-id="4579"></a>

					<a href="" class="catalog__favorite  js-add2favorite" data-id="4579"></a>

					<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
						data-id="4579">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

				</div>

				<!-- begin label -->
				<div class="announcing">
					<div class="announcing__item">
						<img src="images/small/flag_ger.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
					</div>
					<div class="announcing__item">
						<img src="images/small/new.svg" alt="Новинка" title="Новинка">
					</div>
					<div class="announcing__item">
						<img src="images/small/stock.svg" alt="акция" title="акция">
					</div>
					<div class="announcing__item">
						<img src="images/small/present.svg" alt="подарок" title="подарок">
					</div>
					<div class="announcing__item">
						<img src="images/small/warranty.svg" alt="гарантия" title="гарантия">
					</div>
					<div class="announcing__item">
						<img src="images/small/bestseller.svg" alt="хит" title="хит">
					</div>
				</div>
				<!-- end label -->

			</div>

			<div class="catalog__item js-ecom_product-item js-catalog_item" data-id="4580" id="bx_3966226736_4580">

				<a class="catalog__pic"
					href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-moyki-31368000.html"
					title="Смеситель Grohe BauLoop для мойки 31368000">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/75b/245_230_1/75bff6ccb7d31d34d3bc8842a104d4e4.jpg"
						alt="Смеситель Grohe BauLoop для мойки 31368000 preview 1"
						title="Смеситель Grohe BauLoop для мойки 31368000 фото 1"
						class="special-offers__img catalog__img lazyload" />
				</a>
				<a href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-moyki-31368000.html"
					title="Смеситель Grohe BauLoop для мойки 31368000"
					class="special-offers__text catalog__text">Смеситель
					Grohe BauLoop для мойки 31368000</a>

				<span class="catalog__presence ">В наличии</span>

				<div class="catalog__specification">

				</div>

				<div class="catalog__prop">
				</div>

				<div class="special-offers__sale catalog__sale">

					<span class="special-offers__price catalog__price ">

						4 850 <i class="special-offers__rub catalog__rub">руб.</i>
					</span>

					<a href="" class="special-offers__buy js-add2basket" data-id="4580">В корзину</a>

				</div>

				<div class="catalog__existence">

					<a href="" class="catalog__simile js-compare " data-id="4580"></a>

					<a href="" class="catalog__favorite  js-add2favorite" data-id="4580"></a>

					<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
						data-id="4580">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

				</div>

				<!-- begin label -->
				<div class="announcing">
					<div class="announcing__item">
						<img src="images/small/flag_ger.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
					</div>
					<div class="announcing__item">
						<img src="images/small/new.svg" alt="Новинка" title="Новинка">
					</div>
					<div class="announcing__item">
						<img src="images/small/stock.svg" alt="акция" title="акция">
					</div>
					<div class="announcing__item">
						<img src="images/small/present.svg" alt="подарок" title="подарок">
					</div>
					<div class="announcing__item">
						<img src="images/small/warranty.svg" alt="гарантия" title="гарантия">
					</div>
					<div class="announcing__item">
						<img src="images/small/bestseller.svg" alt="хит" title="хит">
					</div>
				</div>
				<!-- end label -->

			</div>

			<div class="catalog__item js-ecom_product-item js-catalog_item" data-id="4581" id="bx_3966226736_4581">

				<a class="catalog__pic"
					href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-dusha-so-vstroennym-mekhanizmom-29080000.html"
					title="Смеситель Grohe BauLoop для душа со встроенным механизмом 29080000">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/5a9/245_230_1/5a9b7f482f80a00cc39a15f7858b492b.jpg"
						alt="Смеситель Grohe BauLoop для душа со встроенным механизмом 29080000 preview 1"
						title="Смеситель Grohe BauLoop для душа со встроенным механизмом 29080000 фото 1"
						class="special-offers__img catalog__img lazyload" />
				</a>
				<a href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-dusha-so-vstroennym-mekhanizmom-29080000.html"
					title="Смеситель Grohe BauLoop для душа со встроенным механизмом 29080000"
					class="special-offers__text catalog__text">Смеситель Grohe BauLoop для душа со встроенным
					механизмом 29080000</a>

				<span class="catalog__presence ">В наличии</span>

				<div class="catalog__specification">

				</div>

				<div class="catalog__prop">
				</div>

				<div class="special-offers__sale catalog__sale">

					<span class="special-offers__price catalog__price ">

						7 050 <i class="special-offers__rub catalog__rub">руб.</i>
					</span>

					<a href="" class="special-offers__buy js-add2basket" data-id="4581">В корзину</a>

				</div>

				<div class="catalog__existence">

					<a href="" class="catalog__simile js-compare " data-id="4581"></a>

					<a href="" class="catalog__favorite  js-add2favorite" data-id="4581"></a>

					<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
						data-id="4581">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

				</div>

				<!-- begin label -->
				<div class="announcing">
					<div class="announcing__item">
						<img src="images/small/flag_ger.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
					</div>
					<div class="announcing__item">
						<img src="images/small/new.svg" alt="Новинка" title="Новинка">
					</div>
					<div class="announcing__item">
						<img src="images/small/stock.svg" alt="акция" title="акция">
					</div>
					<div class="announcing__item">
						<img src="images/small/present.svg" alt="подарок" title="подарок">
					</div>
					<div class="announcing__item">
						<img src="images/small/warranty.svg" alt="гарантия" title="гарантия">
					</div>
					<div class="announcing__item">
						<img src="images/small/bestseller.svg" alt="хит" title="хит">
					</div>
				</div>
				<!-- end label -->

			</div>

			<div class="catalog__item js-ecom_product-item js-catalog_item" data-id="4582" id="bx_3966226736_4582">

				<a class="catalog__pic"
					href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-dusha-23340000.html"
					title="Смеситель Grohe BauLoop для душа 23340000">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/2dd/245_230_1/2dd022a5bb33e7dbd3a724182d3b33ea.jpg"
						alt="Смеситель Grohe BauLoop для душа 23340000 preview 1"
						title="Смеситель Grohe BauLoop для душа 23340000 фото 1"
						class="special-offers__img catalog__img lazyload" />
				</a>
				<a href="/catalog/category/smesiteli/smesitel-grohe-bauloop-dlya-dusha-23340000.html"
					title="Смеситель Grohe BauLoop для душа 23340000"
					class="special-offers__text catalog__text">Смеситель
					Grohe BauLoop для душа 23340000</a>

				<span class="catalog__presence ">В наличии</span>

				<div class="catalog__specification">

				</div>

				<div class="catalog__prop">
				</div>

				<div class="special-offers__sale catalog__sale">

					<span class="special-offers__price catalog__price ">

						4 650 <i class="special-offers__rub catalog__rub">руб.</i>
					</span>

					<a href="" class="special-offers__buy js-add2basket" data-id="4582">В корзину</a>

				</div>

				<div class="catalog__existence">

					<a href="" class="catalog__simile js-compare " data-id="4582"></a>

					<a href="" class="catalog__favorite  js-add2favorite" data-id="4582"></a>

					<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
						data-id="4582">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

				</div>

				<!-- begin label -->
				<div class="announcing">
					<div class="announcing__item">
						<img src="images/small/flag_ger.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
					</div>
					<div class="announcing__item">
						<img src="images/small/new.svg" alt="Новинка" title="Новинка">
					</div>
					<div class="announcing__item">
						<img src="images/small/stock.svg" alt="акция" title="акция">
					</div>
					<div class="announcing__item">
						<img src="images/small/present.svg" alt="подарок" title="подарок">
					</div>
					<div class="announcing__item">
						<img src="images/small/warranty.svg" alt="гарантия" title="гарантия">
					</div>
					<div class="announcing__item">
						<img src="images/small/bestseller.svg" alt="хит" title="хит">
					</div>
				</div>
				<!-- end label -->

			</div>

		</div>
	</div>
	<div class="catalog__description description">

		<!-- begin seo-text -->

		<div class="description__title">Особенности сантехники Grohe для ванной комнаты </div>
		<div class="description__text">

			<div style="text-align: justify;">
				Скользящее предполагает, что дверки шкафа и&nbsp;холодильника соединяются между собой с&nbsp;помощью
				специальной шины. В&nbsp;результате, когда вы&nbsp;открываете или закрываете мебельную дверцу, она
				плавно скользит по&nbsp;ней, как по&nbsp;рельсе.
			</div>
			<br>
			<h3><span style="text-align: justify;">Экономия места</span></h3>
			<div style="text-align: justify;">
				Для маленьких кухонь прекрасно подойдет однокамерная модель, монтируемая по&nbsp;принципу выдвижной
				тележки. В&nbsp;этом случае советуем обратить внимание на&nbsp;серию UIKo.
			</div>
			<div style="text-align: justify;">
				Благодаря цокольной панели Vario высоту и&nbsp;глубину холодильника можно подогнать под размер ниши.
				Также есть возможность сдвинуть вентиляционную решетку на&nbsp;расстояние до&nbsp;5,5&nbsp;см.
			</div>
			<div style="text-align: justify;">
				Кроме этого, встраиваемый холодильник Либхер&nbsp;<a
					href="/liebherr/vstraivaemiye-holodilniki/odnokamernye-kholodilniki-bez-morozilnika/kholodilnik-liebherr-uiko-1560-premium.html">UIKo
					1560 Premium</a>&nbsp;оснащен дополнительным нижним ящиком LiftUp. Прелесть этого отсека в&nbsp;том,
				что он&nbsp;позволяет использовать пространство под основным контейнером. Когда вы&nbsp;его выдвигаете,
				специальный механизм поднимает LiftUp-Вох вверх, и&nbsp;в&nbsp;вашем распоряжении оказывается
				дополнительные 5&nbsp;литров объема.
			</div>
			<br>
			<h3 style="text-align: justify;">
				&nbsp;Гармония в&nbsp;интерьере</h3>
			<div style="text-align: justify;">
				Встроенный в&nbsp;кухонный гарнитур холодильник будет полностью сочетаться с&nbsp;выбранным дизайном
				фасада. Вся сложная «начинка» окажется надежно спрятана внутри мебельного шкафа, и&nbsp;вам
				не&nbsp;нужно беспокоиться, какого цвета прибор лучше купить, чтобы он&nbsp;хорошо вписался
				в&nbsp;интерьер.
			</div>
			<div style="text-align: justify;">
				При необходимости можно без труда выровнять положение холодильника за&nbsp;счет регулируемых ножек,
				а&nbsp;также перенавесить дверь, чтобы она открывалась не&nbsp;слева направо, а&nbsp;справа налево.
			</div>
			<br>
			<h3><span style="text-align: justify;">Лучшие практичные решения</span></h3>
			<div style="text-align: justify;">
				Для того, чтобы в&nbsp;замкнутом пространстве мебельной коробки встраиваемый прибор работал также
				эффективно, как отдельностоящие модели, используется улучшенная система циркуляции воздуха.
				Автоматический режим SuperCool в&nbsp;течение 12&nbsp;часов поддерживает температуру +2°C, которая
				считается идеальной для быстрого охлаждения.
			</div>
			<div style="text-align: justify;">
				Кроме этого, для встраиваемых холодильников Либхер могут использоваться другие удобные технологии:
			</div>
			<br>
			<li style="text-align: justify;">Дверной доводчик SoftSystem для плавного и&nbsp;плотного закрытия дверей
			</li>
			<li style="text-align: justify;">Система NoFrost</li>
			<li style="text-align: justify;">Контейнеры BioCool с&nbsp;регулировкой влажности</li>
			<li style="text-align: justify;">Оснащение GlassLine, устойчивое к&nbsp;царапинам и&nbsp;легко моющееся</li>
			<li style="text-align: justify;">Выдвижной контейнер с&nbsp;отсеками для бутылок</li>
			<li style="text-align: justify;">Светодиодное освещение</li>
			<li style="text-align: justify;">Электронная система управления с&nbsp;цифровым дисплеем</li>
			<li style="text-align: justify;">Домашний ледогенератор со&nbsp;стационарным водоснабжением</li>
			<li style="text-align: justify;">Сигнализация открытой двери</li>
			<li style="text-align: justify;">Функция защиты от&nbsp;детей.</li>
			<div style="text-align: justify;">
				<br>
			</div>
			<div style="text-align: justify;">
				В&nbsp;каталоге встраиваемых холодильников Либхер нашего интернет-магазина всегда указаны актуальные
				цены. Перед покупкой рекомендуем ознакомиться с&nbsp;точным описанием характеристик, инструкцией
				по&nbsp;монтажу и&nbsp;эксплуатации, которые указаны на&nbsp;сайте. Если вы&nbsp;затрудняетесь
				с&nbsp;выбором, обратитесь за&nbsp;помощью к&nbsp;нашим бесплатным консультантам и&nbsp;почитайте отзывы
				предыдущих покупателей.
			</div>
			<br>

		</div>
		<!-- end seo-text -->

	</div>
	<div class="favorite__footer">
		<div class="recently-watched js-recently-watched">
			<div class="recently-watched__title">
				Вы недавно смотрели
			</div>
			<div class="swiper-pagination-recently-watched swiper-pagination"></div>
			<div class="swiper-button-prev recently-watched__prev"></div>
			<div class="swiper-button-next recently-watched__next"></div>
			<a href="#" class="recently-watched__reset">Сбросить просмотренное</a>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_3.jpg" alt="">
						</a>
						<a href='#' class="recently-watched__text">
							Винный шкаф Grohe EWTgw
							3583 Vinidor
							<span class="recently-watched__price">134 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>

						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_1.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Холодильник Grohe CBNPbs 4858 Premium BioFresh NoFrost
							<span class="recently-watched__price">
								34 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_2.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Морозильник Grohe GN 2723
							Comfort NoFrost
							<span class="recently-watched__price">
								14 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_1.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Холодильник Grohe CBNPbs 4858 Premium BioFresh NoFrost
							<span class="recently-watched__price">
								13 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_3.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Винный шкаф Grohe EWTgw
							3583 Vinidor
							<span class="recently-watched__price">
								1 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_1.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Холодильник Grohe CBNPbs 4858 Premium BioFresh NoFrost
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_2.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Морозильник Grohe GN 2723
							Comfort NoFrost
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_1.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Холодильник Grohe CBNPbs 4858 Premium BioFresh NoFrost
						</a>
						<div class="recently-watched__close"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
