	<article class="about-brand">
		<div class="container">
			<h2 class="about-brand__title"><b>О бренде Grohe</b></h2>
			<img width="1200" alt="Души Grohe"
				src="https://grohe.l-rus.ru/upload/medialibrary/616/61615a77f2c5aba7d2472583d87298db.jpg" height="391"
				title="Души Grohe" align="top">
			<p style="text-align: justify;"><br></p>
			<p style="text-align: justify;">
				<b>GROHE&nbsp;— это дизайн, качество, технологии и&nbsp;экологичность. Немецкая компания
					устанавливает самые высокие стандарты, чтобы обеспечить максимальное удобство
					и&nbsp;безопасность эксплуатации.</b>
			</p>
			<!--<h2>Идеальное сочетание формы и&nbsp;содержания</h2>-->
			<p style="text-align: justify;">
				Стильный дизайн&nbsp;— непременный атрибут высококачественной продукции GROHE. В&nbsp;2007
				году GROHE впервые была удостоена престижной премии «Red dot» в&nbsp;номинации «Лучшие
				из&nbsp;лучших» за&nbsp;безупречное исполнение коллекции Ondus<sup class="reg">®</sup>.
				На&nbsp;сегодняшний день GROHE получила 15&nbsp;таких премий.
			</p>
			<p style="text-align: justify;">
				Долговечность обеспечивается за&nbsp;счет применения покрытия GROHE StarLight<sup class="reg">®</sup>,
				которое отличается удобством в&nbsp;обслуживании и&nbsp;стойкостью
				к&nbsp;загрязнениям и&nbsp;механическим повреждениям. Эстетичный внешний вид GROHE
				сохраняется на&nbsp;протяжении многих лет.
			</p>
		</div>
	</article>
