	<article class="seo-text text-default">
		<div class="container">
			<h1 class="title">Grohe на сайте официального специализированного магазина grohe.l-rus.ru</h1>
			<h2>Увереность в&nbsp;качестве и&nbsp;надежности</h2>
			<p style="text-align: justify;">
				Испытание готовой продукции GROHE проводится в&nbsp;условиях, которые имитируют 20&nbsp;лет
				ежедневного использования в&nbsp;системах с&nbsp;особо жесткой водой. Высокие требования
				к&nbsp;надежности изделий позволяют обеспечить их&nbsp;эксплуатацию в&nbsp;течение времени,
				которое намного превышает стандартный срок службы.
			</p>
			<p style="text-align: justify;">
				В&nbsp;результате испытаний немецкой контролирующей организацией TÜV&nbsp;SÜD смеситель
				Eurodisc GROHE был признан лучшим&nbsp;— по&nbsp;сравнению с&nbsp;аналогичными товарами.
				Среди преимуществ смесителей GROHE отмечают плавность хода рычага, которая обеспечивает
				точность и&nbsp;легкость управления, что повышает комфорт использования.
			</p>
			<p>
				<img width="1200" alt="Grohe Grandera"
					src="https://grohe.l-rus.ru/upload/medialibrary/2f7/2f750316ea27f849638a6093cb875828.jpg" height="599"
					title="Grohe Grandera"><br>
			</p>
			<h2>Забота об&nbsp;окружающей среде</h2>
			<p style="text-align: justify;">
				Инновационная технология GROHE EcoJoy™ позволяет экономить до&nbsp;50% воды
				и&nbsp;электроэнергии при сохранении потребительских свойств приборов. Рационально
				использовать воду и&nbsp;электроэнергию помогает технология GROHE SilkMove<sup class="reg">®</sup>. Рабочее
				положение рычага по&nbsp;центру обеспечивает
				по&nbsp;умолчанию подачу холодной воды, что приводит к&nbsp;снижению расхода энергии,
				например, когда нужно ополоснуть зубную щетку или руки.
			</p>
			<p style="text-align: justify;">
				Система GROHE EcoJoy™ применяется и&nbsp;на&nbsp;кухне. Функция GROHE Red™ обеспечивает
				подачу кипящей воды из&nbsp;кухонного смесителя, которая требует намного меньше энергии
				по&nbsp;сравнению со&nbsp;стандартным кипячением. С&nbsp;помощью системы GROHE Blue<sup class="reg">®</sup>
				можно в&nbsp;любую минуту получить прохладную питьевую или
				освежающую минеральную воду.
			</p>
			<p>
				<b><img width="1200" alt="Коллекция Grohe Ondus"
						src="https://grohe.l-rus.ru/upload/medialibrary/fcd/fcd27618c11640a9d11997b7cf922da4.jpg"
						height="598" title="Коллекция Grohe Ondus"><br>
				</b>
			</p>
			<h2>Инновационные технологии для душа</h2>
			<p style="text-align: justify;">
				Новая технология GROHE DreamSpray<sup class="reg">®</sup> обеспечивает оптимальное
				распределение воды по&nbsp;каждой душевой форсунке, что повышает комфорт использования.
				Настроить нужную комбинацию температуры, напора и&nbsp;продолжительности подачи воды можно
				в&nbsp;одно касание с&nbsp;помощью удобного цифрового дисплея или пульта дистанционного
				управления.
			</p>
			<p style="text-align: justify;">
				Система поддержания температуры воды на&nbsp;заданном уровне обеспечивает максимальный
				комфорт и&nbsp;безопасность. А&nbsp;благодаря применению технологии GROHE CoolTouch<sup class="reg">®</sup>
				температура внешней поверхности смесителя не&nbsp;превышает
				выбранную пользователем температуру воды, что предотвращает возможность ожогов.
			</p>
			<p style="text-align: justify;">
				Главная цель компании GROHE&nbsp;— производить функциональную, практичную и&nbsp;надежную
				технику, качество которой проверено временем и&nbsp;подтверждено в&nbsp;ходе испытаний.
			</p>
			<iframe width="1200" height="675" src="https://www.youtube.com/embed/ZC_H2Fo5j3g" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		</div>
	</article>
