<div class="gallery">

	<div class="swiper-container-main js-swiper-main">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">

			<div class="swiper-slide" id="bx_3218110189_6242">
				<img class="lazyload"
					data-src="https://grohe.l-rus.ru/upload/iblock/968/968341269685651b1188f46d2b22109a.jpg"
					alt="Термостаты Grohe Grohtherm" />
				<img class="lazyload mobile-pic" data-src="images/Grohe_Grohtherm_mob.jpg"
					alt="Термостаты Grohe Grohtherm" />

				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							<p>Термостаты Grohe Grohtherm</p>
						</span> <span class="span span__big">
							<p>Всегда комфортное принятие душа </p>
						</span> <a href="/catalog/category/termostaty/" title="Термостаты Grohe Grohtherm"
							class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6243">
				<img class="lazyload"
					data-src="https://grohe.l-rus.ru/upload/iblock/c03/c03922be513007175b8240deefe04c1f.jpg"
					alt="Души Grohe Rainshower" />
				<img class="lazyload mobile-pic" data-src="images/Grohe_Rainshower_mob.jpg"
					alt="Термостаты Grohe Grohtherm" />

				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							<p>Души Grohe Rainshower</p>
						</span> <span class="span span__big">
							<p>Технология DreamSpray для превосходного потока воды</p>
						</span> <a
							href="/catalog/category/dushi/dushevoy-garnitur-grohe-rainshower-cosmopolitan-400-28778000.html"
							title="Души Grohe Rainshower" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6244">
				<img class="lazyload"
					data-src="https://grohe.l-rus.ru/upload/iblock/424/424143187cbfdb6762022b38d8c8d2a2.jpg"
					alt="Смесители Grohe Eurosmart" />
				<img class="lazyload mobile-pic" data-src="images/Grohe_Eurosmart_mob.jpg"
					alt="Термостаты Grohe Grohtherm" />

				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							<p>Смесители Grohe Eurosmart</p>
						</span> <span class="span span__big">
							<p>Идеальное решение для любой ванной комнаты</p>
						</span> <a
							href="/catalog/category/smesiteli/smesitel-grohe-eurosmart-new-23372002-dlya-rakoviny.html"
							title="Смесители Grohe Eurosmart" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev swiper-button-main main_prev"></div>
		<div class="swiper-button-next swiper-button-main main_next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>
	<div class="gallery__items">

		<div class="gallery__tablet">

			<div class="gallery__el" id="bx_3485106786_6230">
				<a class="gallery__link" href="/guarantee/" title="Официальная гарантия">

					<picture>

						<img data-src="https://gr-russia.ru/upload/iblock/978/9784a1cfc78239465a00be19958e7de8.png"
							alt="Официальная гарантия" class=" lazyloaded"
							src="https://gr-russia.ru/upload/iblock/978/9784a1cfc78239465a00be19958e7de8.png">
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Официальная гарантия</span>
						<span class="gallery__text">Гарантийный сервис Grohe</span>
					</div>
				</a>
			</div>

			<div class="gallery__el" id="bx_3485106786_6231">
				<a class="gallery__link" href="/services/" title="Сервис и обслуживание">

					<picture>

						<img data-src="https://gr-russia.ru/upload/iblock/864/8645831f60c9c8f84485ec1daf07232d.png"
							alt="Сервис и обслуживание" class=" lazyloaded"
							src="https://gr-russia.ru/upload/iblock/864/8645831f60c9c8f84485ec1daf07232d.png">
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Сервис и обслуживание</span>
						<span class="gallery__text">Об установке и подключении</span>
					</div>
				</a>
			</div>

			<div class="gallery__el" id="bx_3485106786_6232">
				<a class="gallery__link" href="/glossary/" title="Глоссарий">

					<picture>

						<img data-src="https://gr-russia.ru/upload/iblock/835/835c8d41f783baa5820e7c693294d26c.png" alt="Глоссарий"
							class=" lazyloaded" src="https://gr-russia.ru/upload/iblock/835/835c8d41f783baa5820e7c693294d26c.png">
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Глоссарий</span>
						<span class="gallery__text">Технологии компании Grohe</span>
					</div>
				</a>
			</div>

			<div class="gallery__el" id="bx_3485106786_6245">
				<a class="gallery__link" href="/reviews/" title="Отзывы">

					<picture>

						<img data-src="https://gr-russia.ru/upload/iblock/152/15206e4a58108052438fe67abd85e912.png" alt="Отзывы"
							class=" lazyloaded" src="https://gr-russia.ru/upload/iblock/152/15206e4a58108052438fe67abd85e912.png">
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Отзывы</span>
						<span class="gallery__text">Отзывы о сантехнике Grohe</span>
					</div>
				</a>
			</div>
		</div>

	</div>

</div>
