<div class="gallery">

	<div class="swiper-container-main js-swiper-main">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">

			<div class="swiper-slide" id="bx_3218110189_6242">
				<img class="lazyload"
					data-src="https://grohe.l-rus.ru/upload/iblock/968/968341269685651b1188f46d2b22109a.jpg"
					alt="Термостаты Grohe Grohtherm" />
				<img class="lazyload mobile-pic" data-src="images/Grohe_Grohtherm_mob.jpg"
					alt="Термостаты Grohe Grohtherm" />

				<div class="swiper__item">
					<div class="swiper__title">
						<h1 class="span span__small">
							GROHE НА ОФИЦИАЛЬНОМ САЙТЕ ИНТЕРНЕТ-МАГАЗИНА GR-RUSSIA.RU
						</h1>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6243">
				<img class="lazyload"
					data-src="https://grohe.l-rus.ru/upload/iblock/c03/c03922be513007175b8240deefe04c1f.jpg"
					alt="Души Grohe Rainshower" />
				<img class="lazyload mobile-pic" data-src="images/Grohe_Rainshower_mob.jpg"
					alt="Термостаты Grohe Grohtherm" />

				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							<p>Души Grohe Rainshower</p>
						</span> <span class="span span__big">
							<p>Технология DreamSpray для превосходного потока воды</p>
						</span> <a
							href="/catalog/category/dushi/dushevoy-garnitur-grohe-rainshower-cosmopolitan-400-28778000.html"
							title="Души Grohe Rainshower" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6244">
				<img class="lazyload"
					data-src="https://grohe.l-rus.ru/upload/iblock/424/424143187cbfdb6762022b38d8c8d2a2.jpg"
					alt="Смесители Grohe Eurosmart" />
				<img class="lazyload mobile-pic" data-src="images/Grohe_Eurosmart_mob.jpg"
					alt="Термостаты Grohe Grohtherm" />

				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							<p>Смесители Grohe Eurosmart</p>
						</span> <span class="span span__big">
							<p>Идеальное решение для любой ванной комнаты</p>
						</span> <a
							href="/catalog/category/smesiteli/smesitel-grohe-eurosmart-new-23372002-dlya-rakoviny.html"
							title="Смесители Grohe Eurosmart" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev swiper-button-main main_prev"></div>
		<div class="swiper-button-next swiper-button-main main_next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>
	<div class="gallery__items">

		<div class="gallery__tablet">
			<div class="gallery__el" id="bx_651765591_14492">
				<a class="gallery__link" data-fancybox="certificat" href="images/certificat.jpg"
					title="Официальный дилер">

					<picture>

						<source type="image/webp" data-srcset="images/certificat-jackys.jpg"
							srcset="images/certificat-jackys.jpg">

						<img data-src="images/certificat-jackys.jpg" alt="Официальный дилер" class=" lazyloaded"
							src="images/certificat-jackys.jpg">
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Официальный дилер</span>
						<span class="gallery__text">Сертифицированное качество</span>
					</div>
				</a>
			</div>

			<div class="gallery__el" id="bx_3485106786_6230">
				<a class="gallery__link" href="/guarantee/" title="Официальная гарантия">

					<picture>

						<source type="image/webp"
							data-srcset="https://gr-russia.ru/upload/iblock/c96/c96a032bfd1397e5ae28422702cc3f29.webp"
							srcset="https://gr-russia.ru/upload/iblock/c96/c96a032bfd1397e5ae28422702cc3f29.webp">

						<img data-src="https://gr-russia.ru/upload/iblock/c96/c96a032bfd1397e5ae28422702cc3f29.png"
							alt="Официальная гарантия" class=" lazyloaded"
							src="https://gr-russia.ru/upload/iblock/c96/c96a032bfd1397e5ae28422702cc3f29.png">
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Официальная гарантия</span>
						<span class="gallery__text">Гарантийный сервис Grohe</span>
					</div>
				</a>
			</div>

			<div class="gallery__el" id="bx_3485106786_6231">
				<a class="gallery__link" href="/services/" title="Сервис и обслуживание">

					<picture>

						<source type="image/webp"
							data-srcset="https://gr-russia.ru/upload/iblock/938/9388c70927b3df4c5e31348d88ef5f21.webp"
							srcset="https://gr-russia.ru/upload/iblock/938/9388c70927b3df4c5e31348d88ef5f21.webp">

						<img data-src="https://gr-russia.ru/upload/iblock/938/9388c70927b3df4c5e31348d88ef5f21.png"
							alt="Сервис и обслуживание" class=" lazyloaded"
							src="https://gr-russia.ru/upload/iblock/938/9388c70927b3df4c5e31348d88ef5f21.png">
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Сервис и обслуживание</span>
						<span class="gallery__text">Об установке и подключении</span>
					</div>
				</a>
			</div>

			<div class="gallery__el" id="bx_3485106786_6245">
				<a class="gallery__link" href="/reviews/" title="Отзывы">

					<picture>

						<source type="image/webp"
							data-srcset="https://gr-russia.ru/upload/iblock/b71/b713f14c4165a1bac72ae55f70ab8432.webp"
							srcset="https://gr-russia.ru/upload/iblock/b71/b713f14c4165a1bac72ae55f70ab8432.webp">

						<img data-src="https://gr-russia.ru/upload/iblock/b71/b713f14c4165a1bac72ae55f70ab8432.png"
							alt="Отзывы" class=" lazyloaded"
							src="https://gr-russia.ru/upload/iblock/b71/b713f14c4165a1bac72ae55f70ab8432.png">
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Отзывы</span>
						<span class="gallery__text">Отзывы о сантехнике Grohe</span>
					</div>
				</a>
			</div>
		</div>

	</div>

</div>
