<div class="pagination">

	<span class="pagination__item pagination__item_state_current">1</span>
	<a class="pagination__item" href="/catalog/smesiteli/?PAGEN_2=2">2</a>
	<a class="pagination__item" href="/catalog/smesiteli/?PAGEN_2=3">3</a>
	<a class="pagination__item" href="/catalog/smesiteli/?PAGEN_2=4">4</a>
	<a class="pagination__item" href="/catalog/smesiteli/?PAGEN_2=5">5</a>
	<a class="pagination__item" href="/catalog/smesiteli/?PAGEN_2=26">...</a>
	<a class="pagination__item" href="/catalog/smesiteli/?PAGEN_2=47">47</a>
	<a class="pagination__next" href="/catalog/smesiteli/?PAGEN_2=2"></a>
</div>
