<div class="articles">
	<div class="container swiper-container ">
		<span class="articles__title">Статьи</span>
		<a href="/news/" title="Все Статьи" class="articles__link">Все Статьи</a>

		<div class="articles__items swiper-wrapper">

			<div class="articles__item" id="bx_3322728009_19538" >
				<a href="/news/novaya-kollektsiya-grohe-plus.html" title="Новая коллекция Grohe Plus"
					class="articles__pic">

					<picture>

						<source type="image/webp"
							data-srcset="https://gr-russia.ru/upload/iblock/653/653c3f904ab1035a13d21c3128922778.webp, https://gr-russia.ru/upload/iblock/653/653c3f904ab1035a13d21c3128922778.webp 2x, https://gr-russia.ru/upload/iblock/653/653c3f904ab1035a13d21c3128922778.webp 3x"
							srcset="https://gr-russia.ru/upload/iblock/653/653c3f904ab1035a13d21c3128922778.webp, https://gr-russia.ru/upload/iblock/653/653c3f904ab1035a13d21c3128922778.webp 2x, https://gr-russia.ru/upload/iblock/653/653c3f904ab1035a13d21c3128922778.webp 3x">

						<source type="image/png"
							data-srcset="https://gr-russia.ru/upload/iblock/653/653c3f904ab1035a13d21c3128922778.jpg, https://gr-russia.ru/upload/iblock/653/653c3f904ab1035a13d21c3128922778.jpg 2x,/upload/iblock/653/653c3f904ab1035a13d21c3128922778.jpg 3x"
							srcset="https://gr-russia.ru/upload/iblock/653/653c3f904ab1035a13d21c3128922778.jpg, https://gr-russia.ru/upload/iblock/653/653c3f904ab1035a13d21c3128922778.jpg 2x,/upload/iblock/653/653c3f904ab1035a13d21c3128922778.jpg 3x">

						<img class="articles__img lazyloaded"
							data-src="https://gr-russia.ru/upload/iblock/653/653c3f904ab1035a13d21c3128922778.jpg"
							alt="Новая коллекция Grohe Plus"
							src="https://gr-russia.ru/upload/iblock/653/653c3f904ab1035a13d21c3128922778.jpg">
					</picture>

				</a>
				<a href="/news/novaya-kollektsiya-grohe-plus.html" title="Новая коллекция Grohe Plus"
					class="articles__text">Новая коллекция Grohe Plus</a>
				<span class="articles__date">06.01.2020</span>
				<span class="articles__info">
					<p>Компания Грохе представляет новую линейку смесителей для раковины&nbsp;— Plus.</p>
				</span>
			</div>

			<div class="articles__item " id="bx_3322728009_19347"
				>
				<a href="/news/grohe-blue-chistaya-voda-vsegda-pod-rukoy.html"
					title="Grohe Blue — чистая вода всегда под рукой" class="articles__pic">

					<picture>

						<source type="image/webp"
							data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/fd3/272_168_2/fd3198e9f471e11c134c8aaa3d75e60a.webp, https://gr-russia.ru/upload/resize_cache/iblock/fd3/272_168_2/fd3198e9f471e11c134c8aaa3d75e60a.webp 2x, https://gr-russia.ru/upload/resize_cache/iblock/fd3/272_168_2/fd3198e9f471e11c134c8aaa3d75e60a.webp 3x"
							srcset="https://gr-russia.ru/upload/resize_cache/iblock/fd3/272_168_2/fd3198e9f471e11c134c8aaa3d75e60a.webp, https://gr-russia.ru/upload/resize_cache/iblock/fd3/272_168_2/fd3198e9f471e11c134c8aaa3d75e60a.webp 2x, https://gr-russia.ru/upload/resize_cache/iblock/fd3/272_168_2/fd3198e9f471e11c134c8aaa3d75e60a.webp 3x">

						<source type="image/png"
							data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/fd3/272_168_2/fd3198e9f471e11c134c8aaa3d75e60a.jpg, https://gr-russia.ru/upload/resize_cache/iblock/fd3/272_168_2/fd3198e9f471e11c134c8aaa3d75e60a.jpg 2x,/upload/resize_cache/iblock/fd3/272_168_2/fd3198e9f471e11c134c8aaa3d75e60a.jpg 3x"
							srcset="https://gr-russia.ru/upload/resize_cache/iblock/fd3/272_168_2/fd3198e9f471e11c134c8aaa3d75e60a.jpg, https://gr-russia.ru/upload/resize_cache/iblock/fd3/272_168_2/fd3198e9f471e11c134c8aaa3d75e60a.jpg 2x,/upload/resize_cache/iblock/fd3/272_168_2/fd3198e9f471e11c134c8aaa3d75e60a.jpg 3x">

						<img class="articles__img lazyloaded"
							data-src="https://gr-russia.ru/upload/resize_cache/iblock/fd3/272_168_2/fd3198e9f471e11c134c8aaa3d75e60a.jpg"
							alt="Grohe Blue — чистая вода всегда под рукой"
							src="https://gr-russia.ru/upload/resize_cache/iblock/fd3/272_168_2/fd3198e9f471e11c134c8aaa3d75e60a.jpg">
					</picture>

				</a>
				<a href="/news/grohe-blue-chistaya-voda-vsegda-pod-rukoy.html"
					title="Grohe Blue — чистая вода всегда под рукой" class="articles__text">Grohe Blue — чистая вода
					всегда под рукой</a>
				<span class="articles__date"></span>
				<span class="articles__info">
					<p>Кухонные системы Grohe Blue преобразуют водопроводную воду в&nbsp;питьевую путем очистки
						ее&nbsp;от&nbsp;механических примесей, вредных микроорганизмов и&nbsp;солей тяжелых металлов.
						Компания представляет модели, с&nbsp;помощью которых можно получить фильтрованную или
						газированную охлажденную питьевую воду.</p>
				</span>
			</div>

			<div class="articles__item" id="bx_3322728009_19346"
				>
				<a href="/news/grohe-rainshower-f-series-komfortnyy-dush-dlya-kazhdogo.html"
					title="Grohe Rainshower F-series: комфортный душ для каждого" class="articles__pic">

					<picture>

						<source type="image/webp"
							data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/491/272_168_2/491050ecc8e8a9bb6199d2dd9320bfea.webp, https://gr-russia.ru/upload/resize_cache/iblock/491/272_168_2/491050ecc8e8a9bb6199d2dd9320bfea.webp 2x, https://gr-russia.ru/upload/resize_cache/iblock/491/272_168_2/491050ecc8e8a9bb6199d2dd9320bfea.webp 3x"
							srcset="https://gr-russia.ru/upload/resize_cache/iblock/491/272_168_2/491050ecc8e8a9bb6199d2dd9320bfea.webp, https://gr-russia.ru/upload/resize_cache/iblock/491/272_168_2/491050ecc8e8a9bb6199d2dd9320bfea.webp 2x, https://gr-russia.ru/upload/resize_cache/iblock/491/272_168_2/491050ecc8e8a9bb6199d2dd9320bfea.webp 3x">

						<source type="image/png"
							data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/491/272_168_2/491050ecc8e8a9bb6199d2dd9320bfea.jpg, https://gr-russia.ru/upload/resize_cache/iblock/491/272_168_2/491050ecc8e8a9bb6199d2dd9320bfea.jpg 2x,/upload/resize_cache/iblock/491/272_168_2/491050ecc8e8a9bb6199d2dd9320bfea.jpg 3x"
							srcset="https://gr-russia.ru/upload/resize_cache/iblock/491/272_168_2/491050ecc8e8a9bb6199d2dd9320bfea.jpg, https://gr-russia.ru/upload/resize_cache/iblock/491/272_168_2/491050ecc8e8a9bb6199d2dd9320bfea.jpg 2x,/upload/resize_cache/iblock/491/272_168_2/491050ecc8e8a9bb6199d2dd9320bfea.jpg 3x">

						<img class="articles__img lazyloaded"
							data-src="https://gr-russia.ru/upload/resize_cache/iblock/491/272_168_2/491050ecc8e8a9bb6199d2dd9320bfea.jpg"
							alt="Grohe Rainshower F-series: комфортный душ для каждого"
							src="https://gr-russia.ru/upload/resize_cache/iblock/491/272_168_2/491050ecc8e8a9bb6199d2dd9320bfea.jpg">
					</picture>

				</a>
				<a href="/news/grohe-rainshower-f-series-komfortnyy-dush-dlya-kazhdogo.html"
					title="Grohe Rainshower F-series: комфортный душ для каждого" class="articles__text">Grohe
					Rainshower F-series: комфортный душ для каждого</a>
				<span class="articles__date"></span>
				<span class="articles__info">
					<p>Верхние и&nbsp;боковые души Grohe Rainshower F-series&nbsp;— новое слово в&nbsp;оснащении душевой
						кабины. Данные модели гармонично сочетаются со&nbsp;смесителями и&nbsp;термостатами коллекций
						Grohe SPA и&nbsp;обеспечивают удобство настройки направления и&nbsp;интенсивности потока воды.
					</p>
				</span>
			</div>

			<div class="articles__item " id="bx_3322728009_19345"
				>
				<a href="/news/grohe-red-kipyatok-pryamo-iz-pod-krana.html"
					title="Grohe Red: горячая вода прямо из-под крана" class="articles__pic">

					<picture>

						<source type="image/webp"
							data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/f97/272_168_2/f97df059f6b6238237dd83e986ff17fc.webp, https://gr-russia.ru/upload/resize_cache/iblock/f97/272_168_2/f97df059f6b6238237dd83e986ff17fc.webp 2x, https://gr-russia.ru/upload/resize_cache/iblock/f97/272_168_2/f97df059f6b6238237dd83e986ff17fc.webp 3x"
							srcset="https://gr-russia.ru/upload/resize_cache/iblock/f97/272_168_2/f97df059f6b6238237dd83e986ff17fc.webp, https://gr-russia.ru/upload/resize_cache/iblock/f97/272_168_2/f97df059f6b6238237dd83e986ff17fc.webp 2x, https://gr-russia.ru/upload/resize_cache/iblock/f97/272_168_2/f97df059f6b6238237dd83e986ff17fc.webp 3x">

						<source type="image/png"
							data-srcset="https://gr-russia.ru/upload/resize_cache/iblock/f97/272_168_2/f97df059f6b6238237dd83e986ff17fc.jpg, https://gr-russia.ru/upload/resize_cache/iblock/f97/272_168_2/f97df059f6b6238237dd83e986ff17fc.jpg 2x,/upload/resize_cache/iblock/f97/272_168_2/f97df059f6b6238237dd83e986ff17fc.jpg 3x"
							srcset="https://gr-russia.ru/upload/resize_cache/iblock/f97/272_168_2/f97df059f6b6238237dd83e986ff17fc.jpg, https://gr-russia.ru/upload/resize_cache/iblock/f97/272_168_2/f97df059f6b6238237dd83e986ff17fc.jpg 2x,/upload/resize_cache/iblock/f97/272_168_2/f97df059f6b6238237dd83e986ff17fc.jpg 3x">

						<img class="articles__img lazyloaded"
							data-src="https://gr-russia.ru/upload/resize_cache/iblock/f97/272_168_2/f97df059f6b6238237dd83e986ff17fc.jpg"
							alt="Grohe Red: горячая вода прямо из-под крана"
							src="https://gr-russia.ru/upload/resize_cache/iblock/f97/272_168_2/f97df059f6b6238237dd83e986ff17fc.jpg">
					</picture>

				</a>
				<a href="/news/grohe-red-kipyatok-pryamo-iz-pod-krana.html"
					title="Grohe Red: горячая вода прямо из-под крана" class="articles__text">Grohe Red: горячая вода
					прямо из-под крана</a>
				<span class="articles__date"></span>
				<span class="articles__info">
					<p>Смесители для кухни Grohe Red позволяют получить горячую питьевую воду, когда это необходимо.
						Модели данной коллекции выполнены в двух вариантах: Duo могут подавать как кипящую, так и
						смешанную водопроводную воду, а Mono — только кипяток.</p>
				</span>
			</div>

		</div>

		<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
	</div>
</div>
