<div class="articles">
	<div class="container">
		<span class="articles__title">Статьи</span>
		<a href="/news/" title="Все Статьи" class="articles__link">Все Статьи</a>
		<div class="articles__items">
			<div class="articles__item" id="bx_3099439860_">
				<a href="/news/grohe-blue-chistaya-voda-vsegda-pod-rukoy.html"
					title="Grohe Blue — чистая вода всегда под рукой" class="articles__pic">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/20b/272_168_2/20b377f51e399b6173913a8c9a7cad97.jpg"
						data-srcset="/upload/resize_cache/iblock/20b/272_168_2/20b377f51e399b6173913a8c9a7cad97.jpg 2x,/upload/resize_cache/iblock/20b/272_168_2/20b377f51e399b6173913a8c9a7cad97.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/news/grohe-blue-chistaya-voda-vsegda-pod-rukoy.html"
					title="Grohe Blue — чистая вода всегда под рукой" class="articles__text">Grohe Blue
					— чистая вода всегда под рукой</a>
				<span class="articles__date"></span>
				<span class="articles__info">
					<p>Кухонные системы Grohe Blue преобразуют водопроводную воду в&nbsp;питьевую путем
						очистки ее&nbsp;от&nbsp;механических примесей, вредных микроорганизмов
						и&nbsp;солей тяжелых металлов. Компания представляет модели, с&nbsp;помощью
						которых можно получить фильтрованную или газированную охлажденную питьевую воду.
					</p>
				</span>
			</div>
			<div class="articles__item" id="bx_3099439860_">
				<a href="/news/grohe-rainshower-f-series-komfortnyy-dush-dlya-kazhdogo.html"
					title="Grohe Rainshower F-series: комфортный душ для каждого" class="articles__pic">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/733/272_168_2/7332be6f3356e40e51d0c351a6b886e1.jpg"
						data-srcset="/upload/resize_cache/iblock/733/272_168_2/7332be6f3356e40e51d0c351a6b886e1.jpg 2x,/upload/resize_cache/iblock/733/272_168_2/7332be6f3356e40e51d0c351a6b886e1.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/news/grohe-rainshower-f-series-komfortnyy-dush-dlya-kazhdogo.html"
					title="Grohe Rainshower F-series: комфортный душ для каждого" class="articles__text">Grohe
					Rainshower F-series: комфортный душ для каждого</a>
				<span class="articles__date"></span>
				<span class="articles__info">
					<p>Верхние и&nbsp;боковые души Grohe Rainshower F-series&nbsp;&mdash; новое слово
						в&nbsp;оснащении душевой кабины. Данные модели гармонично сочетаются
						со&nbsp;смесителями и&nbsp;термостатами коллекций Grohe SPA и&nbsp;обеспечивают
						удобство настройки направления и&nbsp;интенсивности потока воды.</p>
				</span>
			</div>
			<div class="articles__item" id="bx_3099439860_">
				<a href="/news/grohe-red-kipyatok-pryamo-iz-pod-krana.html"
					title="Grohe Red: горячая вода прямо из-под крана" class="articles__pic">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/861/272_168_2/86185de36b3f935303bcf4d2f63fb85d.jpg"
						data-srcset="/upload/resize_cache/iblock/861/272_168_2/86185de36b3f935303bcf4d2f63fb85d.jpg 2x,/upload/resize_cache/iblock/861/272_168_2/86185de36b3f935303bcf4d2f63fb85d.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/news/grohe-red-kipyatok-pryamo-iz-pod-krana.html"
					title="Grohe Red: горячая вода прямо из-под крана" class="articles__text">Grohe Red:
					горячая вода прямо из-под крана</a>
				<span class="articles__date"></span>
				<span class="articles__info">
					<p>Смесители для кухни для кухни Grohe Red позволяют получить горячую питьевую воду,
						когда это необходимо. Модели данной коллекции выполнены в двух вариантах: Duo
						могут подавать как кипящую, так и смешанную водопроводную воду, а Mono — только
						кипяток.</p>
				</span>
			</div>
			<div class="articles__item" id="bx_3099439860_">
				<a href="/news/grohe-rainshower-dlya-komfortnogo-prinyatiya-dusha.html"
					title="Grohe Rainshower: для комфортного принятия душа" class="articles__pic">
					<img data-src="https://grohe.l-rus.ru/upload/resize_cache/iblock/49e/272_168_2/49e46bcc465991b010e7fb46b8bc8b44.jpg"
						data-srcset="/upload/resize_cache/iblock/49e/272_168_2/49e46bcc465991b010e7fb46b8bc8b44.jpg 2x,/upload/resize_cache/iblock/49e/272_168_2/49e46bcc465991b010e7fb46b8bc8b44.jpg 3x"
						class="articles__img lazyload" />
				</a>
				<a href="/news/grohe-rainshower-dlya-komfortnogo-prinyatiya-dusha.html"
					title="Grohe Rainshower: для комфортного принятия душа" class="articles__text">Grohe
					Rainshower: для комфортного принятия душа</a>
				<span class="articles__date"></span>
				<span class="articles__info">Ручные и верхние души Grohe Rainshower — дизайн и
					функциональность. Компания Grohe представляет модели в двух стилевых направлениях —
					современном и классическом.&nbsp;&nbsp;Функция DreamSpray равномерно распределяет
					поток воды по душевым форсункам, что повышает комфорт использования.</span>
			</div>

		</div>

	</div>
</div>
